n8n-workflows/00 - bootstrap/00_-_Export_Janus_Workflows.json
[{"createdAt":"2025-09-11T15:36:58.284Z","updatedAt":"2025-09-19T23:01:24.000Z","id":"NZFV9m7mzaIDveJS","name":"00 - Export Janus Workflows","active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"ded4f3fa-5051-433f-8495-c115b8de8394","name":"Manual Trigger","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-240,96]},{"parameters":{"authentication":"headerAuth","url":"http://localhost:5678/api/v1/workflows","options":{}},"id":"2ad602dd-eb13-4357-b9e7-2b27f1e66f96","name":"List Workflows","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[16,96],"credentials":{"httpHeaderAuth":{"id":"mZhJA4bAEVhMbhEH","name":"X-N8N-API-KEY"}}},{"parameters":{"functionCode":"return items[0].json.data\n  .filter(w => \n    Array.isArray(w.tags) && \n    w.tags.some(t => t.name === 'janus') && \n    (w.isArchived !== true)\n  )\n  .map(w => {\n    const safeName = w.name.replace(/[^a-zA-Z0-9_-]/g, '_');\n    return { json: { id: w.id, name: w.name, safeName } };\n  });\n"},"id":"c79d2425-b1c1-486a-be94-a8de07749159","name":"Filter Janus Workflows","type":"n8n-nodes-base.function","typeVersion":1,"position":[272,96]},{"parameters":{"executeOnce":false,"command":"=n8n export:workflow --id={{ $json.id }} --output=/files/{{ $json.safeName }}.json"},"type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[480,96],"id":"3f6617b3-471d-485a-85e3-44b6f065bbf7","name":"Execute Command"}],"connections":{"Manual Trigger":{"main":[[{"node":"List Workflows","type":"main","index":0}]]},"List Workflows":{"main":[[{"node":"Filter Janus Workflows","type":"main","index":0}]]},"Filter Janus Workflows":{"main":[[{"node":"Execute Command","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"cd5975db-e7c2-4fc9-a3aa-721635eabeb5","triggerCount":0,"tags":[{"createdAt":"2025-09-04T15:23:38.975Z","updatedAt":"2025-09-04T15:23:38.975Z","id":"yQaAGmyd3yVCL790","name":"janus"}],"shared":[{"createdAt":"2025-09-11T15:36:58.286Z","updatedAt":"2025-09-11T15:36:58.286Z","role":"workflow:owner","workflowId":"NZFV9m7mzaIDveJS","projectId":"33RSXH6V1FUTQaMQ","project":{"createdAt":"2025-08-29T14:57:46.722Z","updatedAt":"2025-08-29T15:00:17.904Z","id":"33RSXH6V1FUTQaMQ","name":"Scott Murray <scomurr@scomurr.com>","type":"personal","icon":null,"description":null}}]}]