n8n-workflows/00 - bootstrap/00_-_Update_Conviction_Scores__manual_.json
[{"createdAt":"2025-09-09T12:59:04.118Z","updatedAt":"2025-09-19T18:31:28.000Z","id":"H39avly0oRGdWpOw","name":"00 - Update Conviction Scores (manual)","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-112,0],"id":"d3a41eef-99a6-4dcd-882c-37180aad131a","name":"When clicking 'Execute workflow'"},{"parameters":{"jsCode":"// New conviction scores - paste your updated scores here\nlet tickers = [\n  { \"symbol\": \"CHRS\", \"conviction\": 4, \"thesis\": \"Adjustment: lowered from 5 → 4; regained Nasdaq compliance and strong Q2 revenue growth support outlook, but not sufficient for max conviction.\" },\n  { \"symbol\": \"DDC\", \"conviction\": 4, \"thesis\": \"Adjustment: raised from 3 → 4; first profitable half-year plus new BTC treasury partnerships with Gemini and Wintermute strengthen the thesis.\" },\n  { \"symbol\": \"GAMB\", \"conviction\": 3, \"thesis\": \"Adjustment: lowered from 4 → 3; despite Q2 beat and reduced short interest, analyst target cuts and weak stock action weigh on conviction.\" },\n  { \"symbol\": \"ISSC\", \"conviction\": 2, \"thesis\": \"Adjustment: lowered from 4 → 2; while Q3 showed strong revenue/backlog, management warned of a sharp near-term F-16 avionics sales drop.\" },\n  { \"symbol\": \"REI\", \"conviction\": 3, \"thesis\": \"Adjustment: lowered from 4 → 3; record Q2 results and debt paydown plan are positives, but CFO resignation and Warburg exit add uncertainty.\" },\n  { \"symbol\": \"TPVG\", \"conviction\": 2, \"thesis\": \"Adjustment: lowered from 3 → 2; Q2 lending and NAV gains offset by dividend cut and EPS miss, reducing confidence despite insider buying.\" }\n];\n\n\nreturn tickers;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[336,0],"id":"0a7b53e6-4a03-4b2c-8f14-6ce0a6048a30","name":"New Conviction Scores"},{"parameters":{"operation":"executeQuery","query":"INSERT INTO ticker_buys (symbol, conviction, last_updated, trade_date, thesis)\nVALUES (\n  '{{$json.symbol}}',\n  {{$json.conviction}},\n  CURRENT_TIMESTAMP,\n  '{{$(\"Set Date\").item.json.date}}',\n  '{{ $json.summary_thesis }}'\n)\nON CONFLICT (symbol, trade_date) DO UPDATE\nSET\n  conviction = EXCLUDED.conviction,\n  last_updated = CURRENT_TIMESTAMP;\n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1008,0],"id":"6daa406f-e793-4045-9c9f-bf5170e2d57c","name":"Update Conviction Scores","credentials":{"postgres":{"id":"MI553DLfDKBYBMXy","name":"Postgres account"}}},{"parameters":{"assignments":{"assignments":[{"id":"50a623a5-105d-4ad2-9f17-159b75782bb6","name":"date","value":"={{ $today.toFormat('yyyy-MM-dd') }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[112,0],"id":"710038fa-dc5c-40d3-a7bb-98b98d7289c5","name":"Set Date"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"item.$json.summary_thesis = item.json.notes.join(' || ');\nreturn item;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[800,-128],"id":"aeeee248-acda-4cb0-98f5-e61ef0d8b2da","name":"Combine Thesis","disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ac3f1b61-74ac-49a8-98a8-fef8ce2c1986","leftValue":"={{ $json['buy/sell'] }}","rightValue":"buy","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[560,0],"id":"04c04029-43a3-460d-bf85-95973d4e2149","name":"If"},{"parameters":{"content":"We update conviction scores on the daily so this should be the dynamic today"},"type":"n8n-nodes-base.stickyNote","position":[16,-176],"typeVersion":1,"id":"6d59a123-a6a3-4e88-b2df-78c93ac42b5d","name":"Sticky Note"}],"connections":{"When clicking 'Execute workflow'":{"main":[[{"node":"Set Date","type":"main","index":0}]]},"New Conviction Scores":{"main":[[{"node":"If","type":"main","index":0}]]},"Set Date":{"main":[[{"node":"New Conviction Scores","type":"main","index":0}]]},"Combine Thesis":{"main":[[{"node":"Update Conviction Scores","type":"main","index":0}]]},"If":{"main":[[],[{"node":"Update Conviction Scores","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"46df212c-c865-4664-b6d9-f26dec340ce4","triggerCount":0,"tags":[{"createdAt":"2025-09-04T15:23:38.975Z","updatedAt":"2025-09-04T15:23:38.975Z","id":"yQaAGmyd3yVCL790","name":"janus"}],"shared":[{"createdAt":"2025-09-09T12:59:04.121Z","updatedAt":"2025-09-09T12:59:04.121Z","role":"workflow:owner","workflowId":"H39avly0oRGdWpOw","projectId":"33RSXH6V1FUTQaMQ","project":{"createdAt":"2025-08-29T14:57:46.722Z","updatedAt":"2025-08-29T15:00:17.904Z","id":"33RSXH6V1FUTQaMQ","name":"Scott Murray <scomurr@scomurr.com>","type":"personal","icon":null,"description":null}}]}]