n8n-workflows/01 - discovery/01_-_Ticker_Fetcher.json
[{"createdAt":"2025-09-05T08:24:23.576Z","updatedAt":"2025-09-18T12:59:23.000Z","id":"gS7Lyonst9xnypoc","name":"01 - Ticker Fetcher","active":true,"isArchived":false,"nodes":[{"parameters":{"url":"https://www.nasdaqtrader.com/dynamic/SymDir/nasdaqlisted.txt","responseFormat":"string","options":{}},"id":"a2d8b8b1-cfe0-46b4-80a9-ef502104ab0d","name":"Fetch NASDAQ","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[-576,48]},{"parameters":{"url":"https://www.nasdaqtrader.com/dynamic/SymDir/otherlisted.txt","responseFormat":"string","options":{}},"id":"2b7c0d2b-4787-48e5-bddc-b0ad1fdd6968","name":"Fetch NYSE/AMEX","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[-576,240]},{"parameters":{"jsCode":"const input = $input.all()[0].json.data;\nconst lines = input.split('\\n').slice(1);\n\nfunction escapeSQL(str) {\n  return str.replace(/'/g, \"''\");\n}\n\nreturn lines\n  .filter(line => line && !line.startsWith('File Creation Time'))\n  .map(line => {\n    const parts = line.split('|');\n    return {\n      json: {\n        symbol: parts[0],\n        name: escapeSQL(parts[1]),\n        exchange: $input.first().json.exchange\n      }\n    };\n  });\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-128,48],"id":"1de25669-6042-4cf5-9d8f-cd305030e03b","name":"Parse Nasdaq"},{"parameters":{"jsCode":"const input = $input.all()[0].json.data;\nconst lines = input.split('\\n').slice(1);\n\nfunction escapeSQL(str) {\n  return str.replace(/'/g, \"''\");\n}\n\nreturn lines\n  .filter(line => line && !line.startsWith('File Creation Time'))\n  .map(line => {\n    const parts = line.split('|');\n    return {\n      json: {\n        symbol: parts[0],\n        name: escapeSQL(parts[1]),\n        exchange: $input.first().json.exchange\n      }\n    };\n  });\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-128,240],"id":"aca6cc07-7ea7-48c2-b8e6-18d9021a11ed","name":"Parse Others"},{"parameters":{"assignments":{"assignments":[{"id":"cb8d3d49-2856-425d-9c51-9fec46c510db","name":"exchange","value":"NASDAQ","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-352,48],"id":"5acaed5b-51ae-48d4-b85b-2185d2a693f1","name":"Set NASDAQ"},{"parameters":{"assignments":{"assignments":[{"id":"cb8d3d49-2856-425d-9c51-9fec46c510db","name":"exchange","value":"OTHER","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-352,240],"id":"42b8363e-1ea0-43d9-96ef-42e1078100d9","name":"Set OTHER"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[96,144],"id":"df0fca0d-68ed-4348-b2b5-7b64ffd29988","name":"Merge"},{"parameters":{},"type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[-800,464],"id":"df5bd360-d930-48fa-a72a-92beead2d62d","name":"Error Trigger"},{"parameters":{"authentication":"webhook","content":"=Error:  {{ $json.execution.error.message }}\nWorkflow: {{ $workflow.name }}\nCheck N8N","options":{}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[-576,464],"id":"cab96448-2c85-46f1-bca3-278e98fa7abf","name":"Discord","webhookId":"ca20c902-d9f2-42e0-903e-8403d43611f1","credentials":{"discordWebhookApi":{"id":"hXnySa96N3aNgiBT","name":"Janus Errors Webhook"}}},{"parameters":{"authentication":"webhook","content":"=01 - Ticker Fetcher Complete\nCheck for errors","options":{}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[544,144],"id":"103e4488-36bb-4fb9-bbcb-2c75c4edfa15","name":"Workflow Complete","webhookId":"ca20c902-d9f2-42e0-903e-8403d43611f1","credentials":{"discordWebhookApi":{"id":"hXnySa96N3aNgiBT","name":"Janus Errors Webhook"}}},{"parameters":{"operation":"executeQuery","query":"INSERT INTO ticker_universe (symbol, name, exchange)\nVALUES ('{{ $json.symbol }}', '{{ $json.name }}', '{{ $json.exchange }}')\nON CONFLICT (symbol) DO NOTHING;\n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[320,144],"id":"e3176bbc-3ef9-4291-b4dc-6c45e55dad5b","name":"Update ticker_universe","credentials":{"postgres":{"id":"MI553DLfDKBYBMXy","name":"Postgres account"}}},{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":" 0 17 * * 6"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-800,48],"id":"2bfeb1b2-5a56-4d8e-bd88-41da6a609e4f","name":"Saturday 5PM"},{"parameters":{"authentication":"webhook","content":"=Workflow started:  {{ $workflow.name }}","options":{}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[-576,-144],"id":"c6f69c36-fdfc-4ba2-a844-ad59d12e618e","name":"Workflow Started","webhookId":"5b37bb24-5ed2-4ff8-8a78-2c4d0cb7cb5d","credentials":{"discordWebhookApi":{"id":"hXnySa96N3aNgiBT","name":"Janus Errors Webhook"}}}],"connections":{"Fetch NASDAQ":{"main":[[{"node":"Set NASDAQ","type":"main","index":0}]]},"Fetch NYSE/AMEX":{"main":[[{"node":"Set OTHER","type":"main","index":0}]]},"Parse Nasdaq":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Set NASDAQ":{"main":[[{"node":"Parse Nasdaq","type":"main","index":0}]]},"Set OTHER":{"main":[[{"node":"Parse Others","type":"main","index":0}]]},"Parse Others":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Merge":{"main":[[{"node":"Update ticker_universe","type":"main","index":0}]]},"Error Trigger":{"main":[[{"node":"Discord","type":"main","index":0}]]},"Update ticker_universe":{"main":[[{"node":"Workflow Complete","type":"main","index":0}]]},"Saturday 5PM":{"main":[[{"node":"Fetch NASDAQ","type":"main","index":0},{"node":"Fetch NYSE/AMEX","type":"main","index":0},{"node":"Workflow Started","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]},"node:Saturday 5PM":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"08556216-d0dd-46bc-8de8-b16ffe0ee7db","triggerCount":1,"tags":[{"createdAt":"2025-09-04T15:23:38.975Z","updatedAt":"2025-09-04T15:23:38.975Z","id":"yQaAGmyd3yVCL790","name":"janus"}],"shared":[{"createdAt":"2025-09-05T08:24:23.579Z","updatedAt":"2025-09-05T08:24:23.579Z","role":"workflow:owner","workflowId":"gS7Lyonst9xnypoc","projectId":"33RSXH6V1FUTQaMQ","project":{"createdAt":"2025-08-29T14:57:46.722Z","updatedAt":"2025-08-29T15:00:17.904Z","id":"33RSXH6V1FUTQaMQ","name":"Scott Murray <scomurr@scomurr.com>","type":"personal","icon":null,"description":null}}]}]