n8n-workflows/05 - execution/05d_-_Hold_Strategy.json
[{"createdAt":"2025-09-10T01:23:57.977Z","updatedAt":"2025-09-12T22:05:27.000Z","id":"zkdY9FMyZZt1iZ1N","name":"05d - Hold Strategy","active":false,"isArchived":false,"nodes":[{"parameters":{"operation":"executeQuery","query":"select * from hold_positions where date = '{{ $json.lastMonday }}';","options":{"queryBatching":"single"}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1024,32],"id":"6e0e1de4-e534-4fd8-bbd0-6e5b168f63c6","name":"Get Current Portfolio Values","credentials":{"postgres":{"id":"MI553DLfDKBYBMXy","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"SELECT symbol, conviction\nFROM ticker_buys\nWHERE last_updated >= now() - interval '24 hours'\n  AND conviction > 0\nORDER BY symbol;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1472,32],"id":"25810651-e11b-48d5-a98d-bc0cf4695d49","name":"Get Latest Conviction Scores","credentials":{"postgres":{"id":"MI553DLfDKBYBMXy","name":"Postgres account"}}},{"parameters":{"jsCode":"const currentPortfolio = $('Merge Portfolio into Single JSON').first().json.data;\nconst convictionScores = $input.first().json.data;\n\n// Calculate total portfolio value\nlet totalPortfolioValue = 0;\nconst currentHoldings = {};\n\ncurrentPortfolio.forEach(position => {\n  const symbol = position.symbol;\n  const value = parseFloat(position.current_value) || 0;\n  totalPortfolioValue += value;\n  currentHoldings[symbol] = {\n    shares: parseFloat(position.net_shares) || 0,\n    currentValue: value,\n    currentAllocation: 0\n  };\n});\n\n// Calculate current allocations\nObject.keys(currentHoldings).forEach(symbol => {\n  if (totalPortfolioValue > 0) {\n    currentHoldings[symbol].currentAllocation = currentHoldings[symbol].currentValue / totalPortfolioValue;\n  }\n});\n\n// Calculate target allocations\nconst totalConviction = convictionScores.reduce((sum, ticker) => sum + ticker.conviction, 0);\nconst targetAllocations = {};\nconst rebalanceTrades = [];\n\nif (totalConviction > 0) {\n  convictionScores.forEach(ticker => {\n    const symbol = ticker.symbol;\n    const conviction = ticker.conviction;\n    const targetAllocation = conviction / totalConviction;\n    const targetValue = targetAllocation * totalPortfolioValue;\n\n    const currentValue = currentHoldings[symbol]?.currentValue || 0;\n    const delta = targetValue - currentValue;\n    const deltaPercent = totalPortfolioValue > 0 ? Math.abs(delta) / totalPortfolioValue : 0;\n\n    targetAllocations[symbol] = {\n      conviction,\n      targetAllocation,\n      targetValue,\n      currentValue,\n      delta,\n      deltaPercent\n    };\n\n    if (deltaPercent > 0.05) {\n      rebalanceTrades.push({\n        symbol,\n        action: delta > 0 ? 'buy' : 'sell',\n        targetValue,\n        currentValue,\n        deltaValue: Math.abs(delta),\n        conviction,\n        reason: `Rebalance: ${(targetAllocation * 100).toFixed(1)}% target vs ${(currentValue / totalPortfolioValue * 100).toFixed(1)}% current`\n      });\n    }\n  });\n}\n\n// Sell assets with 0 conviction\nObject.keys(currentHoldings).forEach(symbol => {\n  if (symbol !== 'USDH' && !targetAllocations[symbol] && currentHoldings[symbol].currentValue > 0) {\n    rebalanceTrades.push({\n      symbol,\n      action: 'sell',\n      targetValue: 0,\n      currentValue: currentHoldings[symbol].currentValue,\n      deltaValue: currentHoldings[symbol].currentValue,\n      conviction: 0,\n      reason: 'Sell all: conviction dropped to 0'\n    });\n  }\n});\n\nreturn rebalanceTrades.length > 0\n  ? rebalanceTrades.map(t => ({ json: t }))\n  : [];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1904,32],"id":"92dc24df-eb84-4fa5-82a1-a17862bccd9e","name":"Calculate Rebalancing Trades"},{"parameters":{"operation":"executeQuery","query":"SELECT \n  '{{ $json.symbol }}' as symbol,\n  '{{ $json.action }}' as action,\n  {{ $json.deltaValue }} as delta_value,\n  {{ $json.conviction }} as conviction,\n  dp.price_open,\n  dp.price_close\nFROM daily_prices dp\nWHERE dp.symbol = '{{ $json.symbol }}'\n  AND dp.date = (NOW() AT TIME ZONE 'America/Chicago')::DATE\nUNION ALL\nSELECT '{{ $json.symbol }}' as symbol, '{{ $json.action }}' as action, {{ $json.deltaValue }} as delta_value, {{ $json.conviction }} as conviction, 1.0 as price_open, 1.0 as price_close\nWHERE '{{ $json.symbol }}' = 'USDH'\nLIMIT 1;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[2176,-176],"id":"b36485fc-f998-4f27-af24-bdb41bc5237e","name":"Get Prices for Rebalancing","credentials":{"postgres":{"id":"MI553DLfDKBYBMXy","name":"Postgres account"}}},{"parameters":{"jsCode":"const today = new Date().toISOString().split('T')[0];\nconst trades = [];\nlet totalCashNeeded = 0;\nlet totalCashFromSales = 0;\n\nitems.forEach(item => {\n  const symbol = item.json.symbol;\n  const action = item.json.action;\n  const deltaValue = parseFloat(item.json.delta_value);\n  const conviction = parseFloat(item.json.conviction);\n  const price = parseFloat(item.json.price_open) || 1.0;\n  \n  if (action === 'buy') {\n    // Calculate shares to buy\n    const sharesToBuy = Math.floor((deltaValue / price) * 10000) / 10000;\n    const actualCost = sharesToBuy * price;\n    totalCashNeeded += actualCost;\n    \n    trades.push({\n      json: {\n        symbol: symbol,\n        date: today,\n        shares_bought: sharesToBuy,\n        shares_sold: null,\n        buy_price: price,\n        sell_price: null,\n        conviction_at_buy: conviction,\n        conviction_at_sell: null,\n        rebalance_reason: `Buy for rebalancing: ${conviction} conviction`\n      }\n    });\n  } else if (action === 'sell') {\n    // Calculate shares to sell based on dollar value\n    const sharesToSell = Math.floor((deltaValue / price) * 10000) / 10000;\n    const actualProceeds = sharesToSell * price;\n    totalCashFromSales += actualProceeds;\n    \n    trades.push({\n      json: {\n        symbol: symbol,\n        date: today,\n        shares_bought: null,\n        shares_sold: sharesToSell,\n        buy_price: null,\n        sell_price: price,\n        conviction_at_buy: null,\n        conviction_at_sell: conviction,\n        rebalance_reason: conviction === 0 ? 'Sell all: zero conviction' : `Sell for rebalancing: ${conviction} conviction`\n      }\n    });\n  }\n});\n\n// Handle cash rebalancing\nconst netCashChange = totalCashFromSales - totalCashNeeded;\n\nif (netCashChange > 0) {\n  // More cash from sales, add to USDH\n  trades.push({\n    json: {\n      symbol: 'USDH',\n      date: today,\n      shares_bought: netCashChange,\n      shares_sold: null,\n      buy_price: 1.0,\n      sell_price: null,\n      conviction_at_buy: 0,\n      conviction_at_sell: null,\n      rebalance_reason: 'Cash from rebalancing sales'\n    }\n  });\n} else if (netCashChange < 0) {\n  // Need more cash, sell from USDH\n  trades.push({\n    json: {\n      symbol: 'USDH',\n      date: today,\n      shares_bought: null,\n      shares_sold: Math.abs(netCashChange),\n      buy_price: null,\n      sell_price: 1.0,\n      conviction_at_buy: null,\n      conviction_at_sell: 0,\n      rebalance_reason: 'Cash for rebalancing purchases'\n    }\n  });\n}\n\nreturn trades;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2112,16],"id":"6d9b3184-c6b6-4a9d-82ef-53164c40d102","name":"Execute Rebalancing Trades"},{"parameters":{"operation":"executeQuery","query":"INSERT INTO hold_positions (symbol, date, shares_bought, shares_sold, buy_price, sell_price, conviction_at_buy, conviction_at_sell, rebalance_reason)\nVALUES ('{{ $json.symbol }}', '{{ $json.date }}', \n        {{ $json.shares_bought ?? 0 }}, \n        {{ $json.shares_sold ?? 0 }},\n        {{ $json.buy_price ?? 'NULL' }},\n        {{ $json.sell_price ?? 'NULL' }},\n        {{ $json.conviction_at_buy ?? 'NULL' }},\n        {{ $json.conviction_at_sell ?? 'NULL' }},\n        '{{ $json.rebalance_reason }}'\n       );","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[2336,16],"id":"ca552924-5466-4cc8-b1b5-0ee74b9f73c0","name":"Record Rebalancing Trades","credentials":{"postgres":{"id":"MI553DLfDKBYBMXy","name":"Postgres account"}},"disabled":true},{"parameters":{},"type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[576,-400],"id":"d0711899-be1f-403a-b957-c276d375f4a3","name":"Error Trigger"},{"parameters":{"authentication":"webhook","content":"=Error:  {{ $json.execution.error.message }}\nWorkflow: {{ $workflow.name }}\nCheck N8N","options":{}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[800,-400],"id":"d3e118ef-806c-4c25-b3e3-d0a8cef18e14","name":"Discord","webhookId":"ca20c902-d9f2-42e0-903e-8403d43611f1","credentials":{"discordWebhookApi":{"id":"hXnySa96N3aNgiBT","name":"Janus Errors Webhook"}}},{"parameters":{"authentication":"webhook","content":"=Workflow started:  {{ $workflow.name }}","options":{}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[1008,-176],"id":"d86a6cd5-92b4-4327-ad85-1cc26c1d5289","name":"Workflow Started","webhookId":"1103af16-40f1-459b-8d6c-37a2f4a0254e","credentials":{"discordWebhookApi":{"id":"hXnySa96N3aNgiBT","name":"Janus Errors Webhook"}}},{"parameters":{"authentication":"webhook","content":"=Workflow completed:  {{ $workflow.name }}","options":{}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[2560,16],"id":"14599ba9-7cc8-4fd1-bcef-1fa7cb99897d","name":"Workflow Completed","webhookId":"1103af16-40f1-459b-8d6c-37a2f4a0254e","credentials":{"discordWebhookApi":{"id":"hXnySa96N3aNgiBT","name":"Janus Errors Webhook"}}},{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"55 9 * * 1"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[576,-80],"id":"990a37c4-ee41-4ef1-b12d-9646460f427d","name":"Monday 9:55 AM - Rebalance Portfolio"},{"parameters":{"assignments":{"assignments":[{"id":"50a623a5-105d-4ad2-9f17-159b75782bb6","name":"date","value":"=2025-09-12","type":"string"},{"id":"e4e6a24c-77d1-4926-b3ca-eb8b8bf89184","name":"lastMonday","value":"=2025-09-8","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[816,32],"id":"98948290-975b-4c1b-859a-bf61992402dc","name":"Set Date"},{"parameters":{"assignments":{"assignments":[{"id":"50a623a5-105d-4ad2-9f17-159b75782bb6","name":"date","value":"={{ $today.toFormat('yyyy-MM-dd') }}","type":"string"},{"id":"e4e6a24c-77d1-4926-b3ca-eb8b8bf89184","name":"lastMonday","value":"={{ DateTime.now().minus({ days: 7 }).toISODate() }}\n","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[816,240],"id":"1402c713-08cb-465a-87de-25dec2924be6","name":"Set Date1"},{"parameters":{"jsCode":"return [\n  {\n    json: {\n      data: $items().map(item => item.json)\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1248,32],"id":"e13ba3be-fd33-466f-8fa6-df5cc1fced5e","name":"Merge Portfolio into Single JSON"},{"parameters":{"jsCode":"return [\n  {\n    json: {\n      data: $items().map(item => item.json)\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1696,32],"id":"a1b30ae3-e2f6-4f04-8a24-a869868e1c12","name":"Merge Scores into Single JSON"},{"parameters":{"content":"sell everything here - put the money into USDH - we're going to relanave pre conviction score and then rebuy at open. Its just theoretical, so this is ok. In practice, we'd do this different."},"type":"n8n-nodes-base.stickyNote","position":[1504,-160],"typeVersion":1,"id":"d9447382-3da6-41f8-80eb-1de865024ccf","name":"Sticky Note"}],"connections":{"Get Current Portfolio Values":{"main":[[{"node":"Merge Portfolio into Single JSON","type":"main","index":0}]]},"Get Latest Conviction Scores":{"main":[[{"node":"Merge Scores into Single JSON","type":"main","index":0}]]},"Calculate Rebalancing Trades":{"main":[[{"node":"Get Prices for Rebalancing","type":"main","index":0}]]},"Get Prices for Rebalancing":{"main":[[{"node":"Execute Rebalancing Trades","type":"main","index":0}]]},"Execute Rebalancing Trades":{"main":[[{"node":"Record Rebalancing Trades","type":"main","index":0}]]},"Error Trigger":{"main":[[{"node":"Discord","type":"main","index":0}]]},"Record Rebalancing Trades":{"main":[[{"node":"Workflow Completed","type":"main","index":0}]]},"Monday 9:55 AM - Rebalance Portfolio":{"main":[[{"node":"Workflow Started","type":"main","index":0},{"node":"Set Date","type":"main","index":0}]]},"Set Date":{"main":[[{"node":"Get Current Portfolio Values","type":"main","index":0}]]},"Merge Portfolio into Single JSON":{"main":[[{"node":"Get Latest Conviction Scores","type":"main","index":0}]]},"Merge Scores into Single JSON":{"main":[[{"node":"Calculate Rebalancing Trades","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Monday 9:55 AM - Rebalance Portfolio":{"recurrenceRules":[]}},"meta":null,"pinData":{},"versionId":"60fd2bc1-f18b-4001-8a41-0f9560580cee","triggerCount":1,"tags":[{"createdAt":"2025-09-04T15:23:38.975Z","updatedAt":"2025-09-04T15:23:38.975Z","id":"yQaAGmyd3yVCL790","name":"janus"}],"shared":[{"createdAt":"2025-09-10T01:23:57.981Z","updatedAt":"2025-09-10T01:23:57.981Z","role":"workflow:owner","workflowId":"zkdY9FMyZZt1iZ1N","projectId":"33RSXH6V1FUTQaMQ","project":{"createdAt":"2025-08-29T14:57:46.722Z","updatedAt":"2025-08-29T15:00:17.904Z","id":"33RSXH6V1FUTQaMQ","name":"Scott Murray <scomurr@scomurr.com>","type":"personal","icon":null,"description":null}}]}]