n8n-workflows/03 - scoring/03a_-_AI_Scoring.json
[{"createdAt":"2025-09-05T21:42:11.548Z","updatedAt":"2025-09-29T13:58:07.000Z","id":"I8I59cVdcaeZ34yd","name":"03a - AI Scoring","active":false,"isArchived":false,"nodes":[{"parameters":{"operation":"executeQuery","query":"select * FROM ticker_universe\nWHERE market_cap IS NOT NULL\n  AND market_cap > 0\n  AND market_cap < 300000000\n  AND total_revenue IS NOT NULL\n  AND total_revenue > 0\n  AND gross_margins IS NOT NULL\n  AND gross_margins > 0\n  AND volume > 10000\n  -- P/E ratio sanity\n  AND trailing_pe IS NOT NULL\n  AND trailing_pe > 0\n  AND trailing_pe < 100\n  -- Dividend sanity\n  AND (dividend_yield IS NULL OR dividend_yield < 50)\n  -- 52-week range sanity\n  AND fifty_two_week_high IS NOT NULL\n  AND fifty_two_week_low IS NOT NULL\n  AND fifty_two_week_high > 0\n  AND fifty_two_week_low > 0\n  AND (fifty_two_week_high / fifty_two_week_low) < 100\n  -- Revenue vs Market Cap sanity\n  AND total_revenue > market_cap * 0.01\n  -- Liquidity sanity\n  AND volume > (market_cap / 1000)\nORDER BY market_cap ASC;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-304,736],"id":"63d8979a-9654-4d13-930a-807de7888df6","name":"Execute a SQL query","credentials":{"postgres":{"id":"MI553DLfDKBYBMXy","name":"Postgres account"}}},{"parameters":{"promptType":"define","text":"=Analyze the following micro-cap company fundamentals and return JSON — no markdown, no code block, no backticks. Based purely on the information provided, score based on does stock have the potential for short term alpha?\n\n{ \"symbol\": {{ $json.symbol }}, \"score\": 1–10, \"recommendation\": \"Buy\"|\"Hold\"|\"Sell\", \"reason\": \"...\" }\n\nData:\n {{ JSON.stringify($json) }}","hasOutputParser":true,"batching":{"batchSize":5,"delayBetweenBatches":10000}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[848,-176],"id":"ba05d6ef-54bf-4f08-8e88-8990e0f48b9c","name":"OpenAI","onError":"continueErrorOutput"},{"parameters":{"promptType":"define","text":"=Analyze the following micro-cap company fundamentals and return only a raw JSON object — no markdown, no explanation, no code block, no backticks. Based purely on the information provided, score based on does stock have the potential for short term alpha?\n\nFormat:\n{ \"symbol\": {{ $json.symbol }}, \"score\": 1–10, \"recommendation\": \"Buy\"|\"Hold\"|\"Sell\", \"reason\": \"...\" }\n\nData:\n{{ JSON.stringify($json) }}\n","hasOutputParser":true,"batching":{"batchSize":5,"delayBetweenBatches":10000}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[848,736],"id":"273a05d0-4efd-4616-beb1-0a9cd70d2efd","name":"Gemini"},{"parameters":{"model":{"__rl":true,"value":"chatgpt-4o-latest","mode":"list","cachedResultName":"chatgpt-4o-latest"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[816,48],"id":"741c8d98-0ea2-4294-8cee-4595f905ae15","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"I0DCZcJtvzGQ1ryz","name":"OpenAi account"}}},{"parameters":{"modelName":"models/gemini-2.5-flash-lite","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[816,960],"id":"f13da6a8-cc0e-4d8a-bcff-6f9ccc361d28","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"R0mkXWsHfayYEtMG","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"operation":"executeQuery","query":"INSERT INTO ticker_scores (symbol, model, score, recommendation, reason, last_updated, date)\nVALUES (\n  '{{ $json.output.symbol }}',\n  '{{ $json.model }}',\n  {{ $json.output.score }},\n  '{{ $json.output.recommendation.replace(/'/g, \"''\") }}',\n  '{{ $json.cleanReason }}',\n  CURRENT_TIMESTAMP,\n  '{{ $json.nextMonday }}'\n)\nON CONFLICT (symbol, model) DO UPDATE\nSET\n  score = EXCLUDED.score,\n  recommendation = EXCLUDED.recommendation,\n  reason = EXCLUDED.reason,\n  last_updated = CURRENT_TIMESTAMP,\n  date = '{{ $json.nextMonday }}';\n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[2032,208],"id":"db7671ff-88d5-49a5-82bb-0e6716be351c","name":"Insert into Ticker Scores","credentials":{"postgres":{"id":"MI553DLfDKBYBMXy","name":"Postgres account"}}},{"parameters":{"promptType":"define","text":"=Analyze the following micro-cap company fundamentals and return only a raw JSON object in the following format. Keep the reason 2-3 sentences max. Provide no other text other than what is placed in the JSON. No markdown, no code block, no backticks. Ensure the JSON is not malformed. Based purely on the information provided, score based on does stock have the potential for short term alpha?\n\nFormat:\n{ \"symbol\": {{ $json.symbol }}, \"score\": 1–10, \"recommendation\": \"Buy\"|\"Hold\"|\"Sell\", \"reason\": \"...\" }\n\nData:\n{{ JSON.stringify($json) }}\n","hasOutputParser":true,"batching":{"batchSize":5,"delayBetweenBatches":1000}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[1344,1440],"id":"c203e50e-92ba-4261-ac09-654beee1dc1e","name":"Basic LLM Chain"},{"parameters":{"model":"llama3:latest","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOllama","typeVersion":1,"position":[1312,1664],"id":"d741a428-3cd7-4360-9634-1aefd3dbb845","name":"Ollama Chat Model","credentials":{"ollamaApi":{"id":"4K9PdbSii5iKOqMf","name":"Ollama account"}}},{"parameters":{"content":"The LLM are supposed to return buy/hold/sell. Buy means analyze depeeper. Hold means (if we're in a position) to hold, and sell means skip for now."},"type":"n8n-nodes-base.stickyNote","position":[-64,-400],"typeVersion":1,"id":"9de472e6-25f9-466b-8198-4135e96ab7ce","name":"Sticky Note"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const cleanReason = $json.output.reason?.replace(/'/g, \"''\") || null;\n\nreturn {\n  json: {\n    ...$json,\n    model: \"openai\",\n    cleanReason: cleanReason\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1448,32],"id":"1fbba7f4-2c7a-4b46-a3a9-18a951ceb49e","name":"Parse OpenAI Response"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const cleanReason = $json.output.reason?.replace(/'/g, \"''\") || null;\n\nreturn {\n  json: {\n    ...$json,\n    model: \"gemini\",\n    cleanReason: cleanReason\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1456,736],"id":"be56d9b3-9b41-4664-8ce9-db3140c45ac1","name":"Parse Gemini Response"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const cleanReason = $json.output.reason?.replace(/'/g, \"''\") || null;\n\nreturn {\n  json: {\n    ...$json,\n    model: \"llama3\",\n    cleanReason: cleanReason\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1808,1440],"id":"02b281e1-64b9-4527-958b-375a607fb0cb","name":"Parse Llama3 Response"},{"parameters":{"rule":{"interval":[{"field":"weeks","triggerAtHour":8}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-752,112],"id":"1713ae51-a670-4652-beb6-9ee97269609b","name":"Sunday 8AM"},{"parameters":{},"type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[-752,2096],"id":"151f478d-f274-4a86-a865-9780300e7ca5","name":"Error Trigger"},{"parameters":{"authentication":"webhook","content":"=Error:  {{ $json.execution.error.message }}\nWorkflow: {{ $workflow.name }}\nCheck N8N","options":{}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[-528,2096],"id":"1a668242-4ef3-4240-9705-04fbb9f079f3","name":"Discord","webhookId":"ca20c902-d9f2-42e0-903e-8403d43611f1","credentials":{"discordWebhookApi":{"id":"hXnySa96N3aNgiBT","name":"Janus Errors Webhook"}}},{"parameters":{"authentication":"webhook","content":"=Workflow started:  {{ $workflow.name }}","options":{}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[-528,16],"id":"8a2be824-b874-4993-befc-adeaa10969a2","name":"Workflow Started","webhookId":"5b37bb24-5ed2-4ff8-8a78-2c4d0cb7cb5d","credentials":{"discordWebhookApi":{"id":"hXnySa96N3aNgiBT","name":"Janus Errors Webhook"}}},{"parameters":{"authentication":"webhook","content":"=Workflow ended:  {{ $workflow.name }}","options":{}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[2480,560],"id":"26e5ec7a-c80a-4769-a08b-a2f409c11328","name":"Workflow Complete","webhookId":"5b37bb24-5ed2-4ff8-8a78-2c4d0cb7cb5d","credentials":{"discordWebhookApi":{"id":"hXnySa96N3aNgiBT","name":"Janus Errors Webhook"}}},{"parameters":{"operation":"executeQuery","query":"select * FROM ticker_universe\nWHERE market_cap IS NOT NULL\n  AND market_cap > 0\n  AND market_cap < 300000000\n  AND total_revenue IS NOT NULL\n  AND total_revenue > 0\n  AND gross_margins IS NOT NULL\n  AND gross_margins > 0\n  AND volume > 10000\n  -- P/E ratio sanity\n  AND trailing_pe IS NOT NULL\n  AND trailing_pe > 0\n  AND trailing_pe < 100\n  -- Dividend sanity\n  AND (dividend_yield IS NULL OR dividend_yield < 50)\n  -- 52-week range sanity\n  AND fifty_two_week_high IS NOT NULL\n  AND fifty_two_week_low IS NOT NULL\n  AND fifty_two_week_high > 0\n  AND fifty_two_week_low > 0\n  AND (fifty_two_week_high / fifty_two_week_low) < 100\n  -- Revenue vs Market Cap sanity\n  AND total_revenue > market_cap * 0.01\n  -- Liquidity sanity\n  AND volume > (market_cap / 1000)\nORDER BY market_cap ASC;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-528,1872],"id":"de4a35e5-d89d-4fd6-a6aa-b6f7f0f731cf","name":"Execute a SQL query1","credentials":{"postgres":{"id":"MI553DLfDKBYBMXy","name":"Postgres account"}}},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-752,1872],"id":"94aff41d-4703-491f-a2e8-a431a515f960","name":"When clicking ‘Execute workflow’"},{"parameters":{"jsonSchemaExample":"{ \"symbol\": \"MSFT\",\"score\": 5,\"recommendation\":\"Buy\",\"reason\":\"Strong Financials\"}","autoFix":true},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[1440,1664],"id":"364432f8-d5f9-4a6c-a7e9-1b62142fdc4a","name":"Structured Output Parser"},{"parameters":{"model":"mistral:7b","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOllama","typeVersion":1,"position":[1520,1872],"id":"959ea91f-923f-4038-a20b-4ab4fc900189","name":"Ollama Chat Model1","credentials":{"ollamaApi":{"id":"4K9PdbSii5iKOqMf","name":"Ollama account"}}},{"parameters":{"operation":"executeQuery","query":"INSERT INTO ticker_scores (symbol, model, score, recommendation, reason, last_updated,date)\nVALUES (\n  '{{ $json.output.symbol }}',\n  '{{ $json.model }}',\n  {{ $json.output.score }},\n  '{{ $json.output.recommendation }}',\n  '{{ $json.cleanReason }}',\n  CURRENT_TIMESTAMP,\n  '{{ $json.nextMonday }}'\n)\nON CONFLICT (symbol, model) DO UPDATE\nSET\n  score = EXCLUDED.score,\n  recommendation = EXCLUDED.recommendation,\n  reason = EXCLUDED.reason,\n  last_updated = CURRENT_TIMESTAMP,\n  date = '{{ $json.nextMonday }}';\n","options":{"queryBatching":"single"}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[2256,1264],"id":"13605e33-75d0-4f53-b65d-13175452650e","name":"Insert into Ticker Scores1","credentials":{"postgres":{"id":"MI553DLfDKBYBMXy","name":"Postgres account"}}},{"parameters":{"assignments":{"assignments":[{"id":"586de83c-c024-406a-a8b2-fee66191edeb","name":"nextMonday","value":"={{ $now.plus({ days: ((8 - $now.weekday) % 7) || 7 }).toFormat(\"yyyy-MM-dd\") }}","type":"string"},{"id":"ea7ccc33-e3e3-4062-a486-c2b42148c86e","name":"today","value":"={{ $now.toFormat(\"yyyy-MM-dd\") }}","type":"string"},{"id":"0cca7e10-3610-45d9-b024-7afeacb50a08","name":"limit","value":250,"type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-528,208],"id":"ba96f2c7-8a4a-4752-ab49-1ecd20d584b7","name":"Set Dates"},{"parameters":{"maxItems":"={{ $('Set Dates').item.json.limit }}"},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[144,32],"id":"4aac7196-cd14-43ef-ab7e-bf55d42adfcf","name":"Limit"},{"parameters":{"operation":"executeQuery","query":"SELECT CASE \n         WHEN EXISTS (\n           SELECT 1 \n           FROM ticker_scores t\n           WHERE t.date = '{{ $('Set Dates').item.json.nextMonday }}'\n             AND t.symbol = '{{ $('Execute a SQL query').item.json.symbol }}'\n             AND t.model = '{{ $('Set Model OpenAI').item.json.model }}'\n         )\n         THEN json_build_object(\n                'proceed', false,\n                'symbol', '{{ $('Execute a SQL query').item.json.symbol }}',\n                'model', '{{ $('Set Model OpenAI').item.json.model }}'\n              )\n         ELSE json_build_object(\n                'proceed', true,\n                'symbol', '{{ $('Execute a SQL query').item.json.symbol }}',\n                'model', '{{ $('Set Model OpenAI').item.json.model }}'\n              )\n       END;\n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[368,32],"id":"dc8d239c-90b4-46b4-97bc-0f3bd9628a8a","name":"Check Processed","credentials":{"postgres":{"id":"MI553DLfDKBYBMXy","name":"Postgres account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e1e6d512-717b-4565-a6f0-41180f32281b","leftValue":"={{ $json.json_build_object.proceed }}","rightValue":"true","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[592,32],"id":"cda927a3-751e-4117-b0c2-8079c6e29417","name":"Proceed if Not Processed"},{"parameters":{"maxItems":"={{ $('Set Dates').item.json.limit }}"},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[144,736],"id":"80fe858e-4ad7-45aa-8f95-5d07a1848159","name":"Limit1"},{"parameters":{"operation":"executeQuery","query":"SELECT CASE \n         WHEN EXISTS (\n           SELECT 1 \n           FROM ticker_scores t\n           WHERE t.date = '{{ $('Set Dates').item.json.nextMonday }}'\n             AND t.symbol = '{{ $('Execute a SQL query').item.json.symbol }}'\n             AND t.model = '{{ $('Set Model Gemini').item.json.model }}'\n         )\n         THEN json_build_object(\n                'proceed', false,\n                'symbol', '{{ $('Execute a SQL query').item.json.symbol }}',\n                'model', '{{ $('Set Model Gemini').item.json.model }}'\n              )\n         ELSE json_build_object(\n                'proceed', true,\n                'symbol', '{{ $('Execute a SQL query').item.json.symbol }}',\n                'model', '{{ $('Set Model Gemini').item.json.model }}'\n              )\n       END;\n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[368,736],"id":"bed892ff-73cf-4ddb-b918-484e64923461","name":"Check Processed1","credentials":{"postgres":{"id":"MI553DLfDKBYBMXy","name":"Postgres account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e1e6d512-717b-4565-a6f0-41180f32281b","leftValue":"={{ $json.json_build_object.proceed }}","rightValue":"true","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[592,736],"id":"da234a02-35f4-4ad5-a395-9874339c6c48","name":"Proceed if Not Processed1"},{"parameters":{"maxItems":"={{ $('Set Dates').item.json.limit }}"},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[144,1440],"id":"7a794f95-0d9a-4815-83f1-49cfa1706376","name":"Limit2"},{"parameters":{"operation":"executeQuery","query":"SELECT CASE \n         WHEN EXISTS (\n           SELECT 1 \n           FROM ticker_scores t\n           WHERE t.date = '{{ $('Set Dates').item.json.nextMonday }}'\n             AND t.symbol = '{{ $('Execute a SQL query').item.json.symbol }}'\n             AND t.model = '{{ $('Set Model Llama3').item.json.Model }}'\n         )\n         THEN json_build_object(\n                'proceed', false,\n                'symbol', '{{ $('Execute a SQL query').item.json.symbol }}',\n                'model', '{{ $('Set Model Llama3').item.json.Model }}'\n              )\n         ELSE json_build_object(\n                'proceed', true,\n                'symbol', '{{ $('Execute a SQL query').item.json.symbol }}',\n                'model', '{{ $('Set Model Llama3').item.json.Model }}'\n              )\n       END;\n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[368,1440],"id":"b5cd114f-feb7-4440-86b9-31688b94b065","name":"Check Processed2","credentials":{"postgres":{"id":"MI553DLfDKBYBMXy","name":"Postgres account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e1e6d512-717b-4565-a6f0-41180f32281b","leftValue":"={{ $json.json_build_object.proceed }}","rightValue":"true","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[592,1440],"id":"8bce5447-a705-463a-be48-88aa81347569","name":"Proceed if Not Processed2"},{"parameters":{"assignments":{"assignments":[{"id":"e9059196-be2a-4e7a-bbc3-a0315c45f256","name":"Model","value":"llama3","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-80,1440],"id":"58c19480-986e-4c41-8841-6a935cb5c4b1","name":"Set Model Llama3"},{"parameters":{"assignments":{"assignments":[{"id":"ffeb05f5-f7f2-4060-b793-d2526b49709e","name":"model","value":"openai","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-80,32],"id":"2f340668-daeb-40d7-8a1e-a2851c912cdf","name":"Set Model OpenAI"},{"parameters":{"jsonSchemaExample":"{ \"symbol\": \"MSFT\",\"score\": 5,\"recommendation\":\"Buy\",\"reason\":\"Strong Financials\"}","autoFix":true},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[944,960],"id":"860d06c4-8d93-4674-90c6-8c5ca0d24b1a","name":"Structured Output Parser1"},{"parameters":{"model":"llama3:latest","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOllama","typeVersion":1,"position":[1024,1168],"id":"77a32a5e-9b04-48e3-a1b0-0864948995c7","name":"Ollama Chat Model2","credentials":{"ollamaApi":{"id":"4K9PdbSii5iKOqMf","name":"Ollama account"}}},{"parameters":{"jsonSchemaExample":"{ \"symbol\": \"MSFT\",\"score\": 5,\"recommendation\":\"Buy\",\"reason\":\"Strong Financials\"}","autoFix":true},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[944,48],"id":"dc39107f-283a-481e-97b7-c73a0605fd5e","name":"Structured Output Parser2"},{"parameters":{"model":"llama3:latest","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOllama","typeVersion":1,"position":[1024,256],"id":"65b4434f-2946-4237-99d0-8a151e016640","name":"Ollama Chat Model3","credentials":{"ollamaApi":{"id":"4K9PdbSii5iKOqMf","name":"Ollama account"}}},{"parameters":{"mode":"runOnceForEachItem","jsCode":"let asdf = $('Execute a SQL query').item.json.symbol;\nconsole.log(asdf);\n\nreturn $input.item;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[952,1440],"id":"e7c1fa02-a42e-45c1-bef2-b53af20c843b","name":"Code"},{"parameters":{"assignments":{"assignments":[{"id":"df58e7da-8ddc-4f1f-882d-2b548e824cb6","name":"model","value":"gemini","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-80,736],"id":"361a6e4a-f61c-4b21-8514-40616747f2e1","name":"Set Model Gemini"},{"parameters":{"mode":"combineBySql","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1808,-144],"id":"0ad494ad-aaa0-4fc2-9229-e8b06de9c7c1","name":"Merge"},{"parameters":{"mode":"combineBySql","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1808,560],"id":"317b54a9-f678-41d9-8048-12205582ee10","name":"Merge1"},{"parameters":{"mode":"combineBySql","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[2032,1264],"id":"6bfdaaae-17c1-4ea8-b82c-3f016bf763de","name":"Merge2"}],"connections":{"Execute a SQL query":{"main":[[{"node":"Set Model Llama3","type":"main","index":0},{"node":"Set Model Gemini","type":"main","index":0},{"node":"Set Model OpenAI","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"OpenAI","type":"ai_languageModel","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"Gemini","type":"ai_languageModel","index":0}]]},"OpenAI":{"main":[[{"node":"Parse OpenAI Response","type":"main","index":0}],[]]},"Ollama Chat Model":{"ai_languageModel":[[{"node":"Basic LLM Chain","type":"ai_languageModel","index":0}]]},"Gemini":{"main":[[{"node":"Parse Gemini Response","type":"main","index":0}]]},"Basic LLM Chain":{"main":[[{"node":"Parse Llama3 Response","type":"main","index":0}]]},"Parse OpenAI Response":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Parse Gemini Response":{"main":[[{"node":"Merge1","type":"main","index":0}]]},"Parse Llama3 Response":{"main":[[{"node":"Merge2","type":"main","index":0}]]},"Sunday 8AM":{"main":[[{"node":"Workflow Started","type":"main","index":0},{"node":"Set Dates","type":"main","index":0}]]},"Error Trigger":{"main":[[{"node":"Discord","type":"main","index":0}]]},"Insert into Ticker Scores":{"main":[[{"node":"Workflow Complete","type":"main","index":0}]]},"Execute a SQL query1":{"main":[[]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Execute a SQL query1","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Basic LLM Chain","type":"ai_outputParser","index":0}]]},"Ollama Chat Model1":{"ai_languageModel":[[{"node":"Structured Output Parser","type":"ai_languageModel","index":0}]]},"Insert into Ticker Scores1":{"main":[[{"node":"Workflow Complete","type":"main","index":0}]]},"Set Dates":{"main":[[{"node":"Execute a SQL query","type":"main","index":0},{"node":"Merge","type":"main","index":1},{"node":"Merge1","type":"main","index":1},{"node":"Merge2","type":"main","index":1}]]},"Limit":{"main":[[{"node":"Check Processed","type":"main","index":0}]]},"Check Processed":{"main":[[{"node":"Proceed if Not Processed","type":"main","index":0}]]},"Proceed if Not Processed":{"main":[[{"node":"OpenAI","type":"main","index":0}]]},"Limit1":{"main":[[{"node":"Check Processed1","type":"main","index":0}]]},"Check Processed1":{"main":[[{"node":"Proceed if Not Processed1","type":"main","index":0}]]},"Proceed if Not Processed1":{"main":[[{"node":"Gemini","type":"main","index":0}]]},"Limit2":{"main":[[{"node":"Check Processed2","type":"main","index":0}]]},"Check Processed2":{"main":[[{"node":"Proceed if Not Processed2","type":"main","index":0}]]},"Proceed if Not Processed2":{"main":[[{"node":"Code","type":"main","index":0}]]},"Set Model Llama3":{"main":[[{"node":"Limit2","type":"main","index":0}]]},"Set Model OpenAI":{"main":[[{"node":"Limit","type":"main","index":0}]]},"Structured Output Parser1":{"ai_outputParser":[[{"node":"Gemini","type":"ai_outputParser","index":0}]]},"Ollama Chat Model2":{"ai_languageModel":[[{"node":"Structured Output Parser1","type":"ai_languageModel","index":0}]]},"Structured Output Parser2":{"ai_outputParser":[[{"node":"OpenAI","type":"ai_outputParser","index":0}]]},"Ollama Chat Model3":{"ai_languageModel":[[{"node":"Structured Output Parser2","type":"ai_languageModel","index":0}]]},"Code":{"main":[[{"node":"Basic LLM Chain","type":"main","index":0}]]},"Set Model Gemini":{"main":[[{"node":"Limit1","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Insert into Ticker Scores","type":"main","index":0}]]},"Merge1":{"main":[[{"node":"Insert into Ticker Scores","type":"main","index":0}]]},"Merge2":{"main":[[{"node":"Insert into Ticker Scores1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Sunday 8AM":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{"OpenAI":[{"json":{"output":{"symbol":"EZGO","score":3,"recommendation":"Sell","reason":"There is insufficient publicly available fundamental data to support a bullish thesis. The company appears to be a micro-cap with limited visibility, and lacking detailed financial metrics (e.g., revenue growth, profitability, balance sheet strength). These factors suggest heightened risk with low probability of near-term alpha without a defined catalyst."}}},{"json":{"output":{"symbol":"CISS","score":3,"recommendation":"Sell","reason":"Insufficient fundamental data provided to suggest near-term alpha potential. The symbol appears valid, but due to absence of financial metrics, news catalysts, insider buying, or market momentum cues, short-term upside seems highly speculative and unjustified."}}},{"json":{"output":{"symbol":"VTAK","score":4,"recommendation":"Hold","reason":"Minimal fundamental data was provided for analysis. With just the symbol and confirmation to proceed, there is insufficient information about financial health, recent performance, news catalysts, or industry positioning to support a strong buy or sell recommendation. As a micro-cap, VTAK may present volatility and speculative potential, but without detailed fundamentals or narratives, it warrants a hold with caution."}}},{"json":{"output":{"symbol":"JAGX","score":4,"recommendation":"Hold","reason":"The information provided is minimal and lacks key financial metrics such as revenue, profitability, cash burn, debt levels, or catalysts. Without concrete fundamentals or recent developments, the stock appears speculative. Given its micro-cap status, volatility can create short-term opportunities, but without supporting data, the potential for immediate alpha is uncertain."}}},{"json":{"output":{"symbol":"EDBL","score":4,"recommendation":"Hold","reason":"There is insufficient fundamental data provided to make a strong buy or sell recommendation. As a micro-cap stock, EDBL may offer speculative upside, but without financial metrics, recent earnings, or business model details, short-term alpha potential cannot be confidently assessed. Hold is recommended until further data is available."}}},{"json":{"output":{"symbol":"SXTP","score":3,"recommendation":"Sell","reason":"The fundamental data provided is extremely limited, offering no insights into revenue, earnings, balance sheet strength, sector context, or growth catalysts. Given the absence of quantifiable or qualitative information beyond the symbol and model, there is no basis to expect short-term alpha. Without more data, the risks associated with investing in this micro-cap are elevated, and the stock cannot be recommended."}}},{"json":{"output":{"symbol":"YCBD","score":3,"recommendation":"Sell","reason":"The information provided is minimal and does not contain any financial or operational fundamentals such as revenue, earnings, debt, cash flow, or guidance. Based solely on the provided data, there is no evidence of short-term alpha potential. YCBD is a micro-cap and likely illiquid stock without sufficient information to justify a buy or hold recommendation."}}},{"json":{"output":{"symbol":"QH","score":3,"recommendation":"Sell","reason":"Insufficient fundamental data provided to assess financial strength, growth, or valuation. Lack of relevant metrics like revenue, earnings, cash flow, and debt levels makes it difficult to support a bullish case. Based purely on limited detail, this stock does not demonstrate short-term alpha potential."}}},{"json":{"output":{"symbol":"WNW","score":2,"recommendation":"Sell","reason":"Based solely on the limited data provided, there is insufficient fundamental information to justify short-term alpha potential for WNW. Without key financial metrics such as revenue growth, profitability, balance sheet strength, or market trends, the low transparency combined with the company's micro-cap status suggests elevated risk with minimal near-term catalysts. Proceeding with caution is advisable."}}},{"json":{"output":{"symbol":"JDZG","score":3,"recommendation":"Hold","reason":"Insufficient fundamental data provided to support a buy recommendation. The signal 'proceed: true' implies some model-driven interest, but there is no financial, operational, or market-based information to assess short-term alpha generation. Holding is advised until more concrete data is available."}}},{"json":{"output":{"symbol":"RELI","score":4,"recommendation":"Hold","reason":"The analysis request confirms the 'proceed' flag is true and provides the stock symbol 'RELI', but no financial or operational data is supplied for evaluation. Therefore, based solely on the minimal input, the potential for short-term alpha cannot be reliably assessed. A neutral score is given along with a Hold recommendation due to insufficient data."}}},{"json":{"output":{"symbol":"MASK","score":3,"recommendation":"Hold","reason":"The data provided lacks detailed financials (e.g., revenue, profit margins, debt levels), recent performance metrics, or sector-specific fundamentals to make a strong assertion of short-term alpha potential. The only indication is that the company proceed flag is true, which minimally implies readiness for evaluation but not investability. More information is needed to justify a Buy or Sell recommendation."}}},{"json":{"output":{"symbol":"SDOT","score":4,"recommendation":"Hold","reason":"Limited financial data available. While the company is micro-cap and may offer speculative upside, lack of concrete financial metrics, business momentum, or catalysts makes it difficult to justify a Buy rating for short-term alpha. A Hold is recommended until more detailed fundamentals are assessed."}}},{"json":{"output":{"symbol":"SKK","score":4,"recommendation":"Hold","reason":"Insufficient fundamental data provided to evaluate short term alpha potential. The provided dataset only indicates that analysis should proceed ('proceed': true) and contains a stock symbol ('SKK'), but lacks financials, price action, catalysts, or other metrics needed for a confident score or recommendation. As a result, the stock is rated conservatively as 'Hold'."}}},{"json":{"output":{"symbol":"NCI","score":3,"recommendation":"Hold","reason":"There is insufficient financial data provided to make a strong alpha-driven investment case. No fundamentals such as revenue growth, margins, debt levels, management quality, market trends, or catalysts were disclosed. Given the micro-cap status and lack of specifics, this stock may be highly speculative and illiquid, which increases short-term risk without a clear reward signal."}}},{"json":{"output":{"symbol":"GVH","score":3,"recommendation":"Hold","reason":"Insufficient fundamental data provided to justify a confident buy or sell recommendation; no metrics such as revenue, earnings, debt, growth rate, or management effectiveness were included. The ticker is approved for analysis, indicating viability for modeling, but without quantitative fundamentals, short-term alpha potential cannot be strongly supported."}}},{"json":{"output":{"symbol":"AGRI","score":4,"recommendation":"Hold","reason":"Limited data is provided to fully assess the fundamentals. The provided JSON only confirms that an analysis was initiated for AGRI. Without specifics on revenue growth, margins, cash flow, or catalysts, short-term alpha probability is unclear. Given the micro-cap nature and potential volatility, a 'Hold' is appropriate until more financial or technical signals emerge."}}},{"json":{"output":{"symbol":"CHR","score":3,"recommendation":"Hold","reason":"The input provides no financial data or fundamentals for analysis—no income statement, balance sheet, valuation metrics, or growth indicators. With only a symbol and model mentioned, there's insufficient information to assess short-term alpha potential. However, the process did proceed, so a neutral 'Hold' is issued based solely on the placeholder execution."}}},{"json":{"output":{"symbol":"STAK","score":3,"recommendation":"Hold","reason":"There is insufficient fundamental data provided to adequately assess potential for short-term alpha. Without key financial metrics, competitive positioning, or recent performance indicators, there is not enough evidence to justify a 'Buy' or 'Sell' recommendation at this time."}}},{"json":{"output":{"symbol":"CLIK","score":3,"recommendation":"Hold","reason":"Insufficient fundamental data provided to evaluate short-term alpha potential. No financials, growth indicators, or recent news were shared beyond symbol existence and proceed flag. Cannot confidently issue a Buy or Sell without deeper insights."}}},{"json":{"output":{"symbol":"UUU","score":3,"recommendation":"Sell","reason":"Insufficient fundamental data provided to support a short-term alpha thesis. Without financial metrics, earnings trajectory, competitive positioning, or catalysts, it is not possible to substantiate a bullish recommendation. The score reflects high uncertainty and speculative risk typical of micro-cap stocks without more disclosure."}}},{"json":{"output":{"symbol":"JXG","score":3,"recommendation":"Hold","reason":"The fundamental data provided is extremely limited, offering no insights into financial metrics, growth, earnings, or any other performance indicators. Without more context or financial disclosures, the potential for short-term alpha cannot be reasonably assessed. A neutral 'Hold' stance is warranted until additional information becomes available."}}},{"json":{"output":{"symbol":"CLWT","score":3,"recommendation":"Sell","reason":"Insufficient fundamental data provided to support a positive short-term alpha outlook. The 'proceed' flag is true, but no financial metrics, valuations, momentum indicators, or catalysts are included. As a result, the stock lacks a strong basis for recommendation and is rated low for short-term alpha potential."}}},{"json":{"output":{"symbol":"JEM","score":3,"recommendation":"Hold","reason":"The data provided is extremely limited and lacks key financial metrics such as revenue, earnings, debt levels, valuation multiples, or any other operational indicators. Without such fundamentals, the basis for assessment is insufficient. While the proceed flag suggests analysis is permitted, there are no indicators to support a short-term alpha opportunity at present."}}},{"json":{"output":{"symbol":"CDTG","score":4,"recommendation":"Hold","reason":"The data provided is minimal and lacks financial fundamentals such as revenue, earnings, cash position, burn rate, or recent catalysts that could justify alpha opportunity. Based solely on the symbol and confirmation of analysis request, there isn't sufficient evidence to rate this higher or assign a Buy recommendation. Further due diligence is required to make a conclusive short-term investment assessment."}}},{"json":{"output":{"symbol":"NBY","score":3,"recommendation":"Sell","reason":"Insufficient fundamental data provided to support potential for short-term alpha. No financials, pipeline insights, recent catalysts, or market behavior indicators are available. Symbol recognition alone is inadequate to justify investment recommendation."}}},{"json":{"output":{"symbol":"XPON","score":6,"recommendation":"Hold","reason":"Insufficient fundamental data provided to form a high-confidence view, but the 'proceed: true' signal suggests that initial model screening did not disqualify the stock. In the absence of deeper metrics such as revenue growth, profitability, cash position, insider activity, or catalysts, the stock may offer potential but lacks a clear edge for short-term alpha."}}},{"json":{"output":{"symbol":"TNON","score":4,"recommendation":"Hold","reason":"The data provided is insufficient to identify strong short-term alpha potential. Without detailed financials, growth metrics, insider activity, and recent price action, it's unclear whether TNON is poised for a breakout. The 'proceed' flag indicates potential user intent to analyze, but more insight is needed to justify a 'Buy' or 'Sell'."}}},{"json":{"output":{"symbol":"AMBO","score":4,"recommendation":"Hold","reason":"While the data indicates that the stock is tradable (`proceed: true`), there is insufficient information about financial health, growth trajectory, valuation, or catalysts to justify a short-term alpha opportunity. Without further key metrics like revenue growth, earnings, industry momentum, or news catalysts, the potential for short-term outperformance remains limited but not negative, meriting a neutral Hold rating."}}},{"json":{"output":{"symbol":"BON","score":4,"recommendation":"Hold","reason":"The provided data lacks any concrete financial fundamentals, valuation metrics, growth indicators, or recent news relevant to the stock BON. Without supporting performance, financial, or market data, it's difficult to assess short-term alpha potential. Proceeding is noted, but the absence of fundamental context limits conviction."}}},{"json":{"output":{"symbol":"PETZ","score":3,"recommendation":"Sell","reason":"The company has minimal available fundamental data, and PETZ is known to exhibit high volatility and meme-stock behavior rather than strong underlying business performance. Without substantive revenue growth, profitability, or catalysts in the short term, the stock lacks clear indicators of generating alpha. It also poses substantial risk due to low float and sporadic retail trading momentum."}}},{"json":{"output":{"symbol":"MHUA","score":3,"recommendation":"Sell","reason":"The analysis does not provide any fundamental financial data like revenue, earnings, valuation metrics, insider activity, or growth potential. Therefore, based purely on the given sparse data which includes no financial insight except a placeholder flag 'proceed: true', there is insufficient evidence to support short-term alpha. Caution is advised due to limited visibility, particularly in the micro-cap space where volatility and risk are elevated."}}},{"json":{"output":{"symbol":"CGTL","score":4,"recommendation":"Hold","reason":"Insufficient fundamental data is provided to make a compelling short-term alpha case. While the 'proceed' flag is true, no specific financials, catalysts, or operational metrics are disclosed to support a higher conviction. Recommendation is to hold until further data becomes available."}}},{"json":{"output":{"symbol":"INLF","score":3,"recommendation":"Sell","reason":"The input only confirms the stock symbol (INLF) and that analysis should proceed, but no fundamental data was provided. Without financial performance metrics, valuation ratios, or information on catalysts or risks, there isn't enough evidence to support short-term alpha potential. As such, this stock is considered high risk with limited visibility and a low score."}}},{"json":{"output":{"symbol":"NCEW","score":3,"recommendation":"Hold","reason":"The provided data lacks specific financial details such as revenue, profit margins, cash flow, debt levels, and market trends. Without adequate fundamental or technical information, it's not possible to determine strong alpha potential. As a micro-cap, NCEW may have speculative upside, but based on current information, a cautious Hold is appropriate."}}},{"json":{"output":{"symbol":"MRM","score":4,"recommendation":"Hold","reason":"Insufficient fundamental data provided to determine strong short-term alpha potential. While the stock is flagged for analysis and the model input indicates a positive proceed signal, crucial financial metrics such as revenue growth, earnings, cash flow, insiders activity, valuation, and market catalysts are missing. This limits the ability to accurately assess momentum or alpha-generation potential. Recommend holding until more detailed financial data is available."}}},{"json":{"output":{"symbol":"ARTW","score":4,"recommendation":"Hold","reason":"Based on limited available data, ARTW appears to be a micro-cap company with insufficient disclosed fundamentals to justify a strong short-term alpha signal. There is no detailed financial, operational, or momentum data provided to assess earnings surprise potential, volume trends, or valuation anomalies. Without forward-looking catalysts or financial performance visibility, the stock should be observed rather than actively traded."}}},{"json":{"output":{"symbol":"TRAW","score":3,"recommendation":"Hold","reason":"Insufficient data provided to determine micro-cap fundamentals such as revenue growth, profitability, cash flow, or recent catalysts. While the company is flagged as a valid symbol, without further financial metrics or market activity trends, short-term alpha potential cannot be accurately assessed."}}},{"json":{"output":{"symbol":"WETH","score":2,"recommendation":"Hold","reason":"Insufficient fundamental data has been provided to assess short-term alpha potential. Without detailed financials, operational metrics, or market positioning, we cannot justify a buy or sell recommendation based solely on the proceeding flag."}}},{"json":{"output":{"symbol":"MSGM","score":4,"recommendation":"Hold","reason":"The only available information is that processing can proceed and the stock symbol is MSGM. No financial metrics, valuation data, or operational insight is provided to assess potential for short-term alpha. Therefore, with insufficient data, a conservative 'Hold' rating is appropriate with a low score reflecting high uncertainty."}}},{"json":{"output":{"symbol":"LGVN","score":4,"recommendation":"Hold","reason":"Limited fundamental data is provided beyond the stock symbol and model type. As a micro-cap company, LGVN may exhibit high volatility and speculative interest. Without concrete financial metrics, news catalysts, or pipeline developments, short-term alpha potential is uncertain. Hold recommendation reflects lack of sufficient data to support a buy or sell decision."}}},{"json":{"output":{"symbol":"CRE","score":3,"recommendation":"Hold","reason":"The analysis lacks specific financial data such as revenue growth, profit margins, cash flow, or valuation multiples. With only a confirmation of data readiness and a symbol, there is insufficient information to make a confident bullish case or identify near-term alpha potential. Caution is advised until more fundamental details are available."}}},{"json":{"output":{"symbol":"BHV","score":3,"recommendation":"Hold","reason":"Insufficient fundamental data provided to assess short-term alpha potential. Only a symbol and process flag were given, with no metrics on valuation, revenue, profitability, or momentum. A low confidence 'Hold' is assigned pending further financial or market-specific details."}}},{"json":{"output":{"symbol":"TLIH","score":3,"recommendation":"Hold","reason":"The data provided does not include any financial metrics, operational details, or recent news catalysts necessary for assessing short-term alpha potential. With only the symbol and metadata indicating model processing success, there's insufficient basis to issue a Buy or Sell recommendation. Caution is warranted due to low information disclosure."}}},{"json":{"output":{"symbol":"LGCL","score":4,"recommendation":"Hold","reason":"Fundamental data is minimal and inconclusive. While the company has signaled a willingness to proceed with a model (indicated by 'proceed': true), there is insufficient available financial or operational information such as revenue trends, profit margins, catalysts, or competitive positioning to justify a strong buy or sell recommendation. Micro-cap stocks carry substantial volatility, and without more data, it's prudent to hold pending further developments."}}},{"json":{"output":{"symbol":"MI","score":3,"recommendation":"Hold","reason":"The data provided contains only a symbol and a model identifier, lacking any financial fundamentals such as revenue, earnings, cash flow, growth rates, or valuation metrics. As a result, there is no factual basis to determine short-term alpha potential. Without sufficient financial or operational data, the stock's potential remains unclear, and a Hold stance is the most prudent recommendation."}}},{"json":{"output":{"symbol":"NISN","score":4,"recommendation":"Hold","reason":"The analysis request for symbol NISN provides no fundamental financial data such as revenue, earnings, cash flow, balance sheet metrics, or recent performance indicators to evaluate near-term alpha potential. As such, with only a positive proceed flag and no further financial context, the stock cannot be confidently rated higher. Due to limited information, the recommendation is to hold until additional fundamentals are made available."}}},{"json":{"output":{"symbol":"NEUP","score":3,"recommendation":"Hold","reason":"There is insufficient fundamental data provided to determine short-term alpha potential. With the only available information being the symbol and model output flag as 'proceed: true', no financials, growth metrics, catalyst indicators, or relative valuation data can be assessed. Therefore, a conservative 'Hold' rating is appropriate given the uncertainty."}}},{"json":{"output":{"symbol":"RVSN","score":3,"recommendation":"Sell","reason":"Insufficient fundamental data provided to support a case for near-term upside or alpha generation. Based on lack of earnings, revenue trends, catalysts, or valuation details, the stock does not currently exhibit characteristics associated with short-term outperformance. Proceeding from the input as true and symbol availability alone is not sufficient to justify a Buy or Hold recommendation."}}},{"json":{"output":{"symbol":"AGMH","score":3,"recommendation":"Hold","reason":"The data provided is minimal and does not include financial metrics such as revenue, earnings, valuation ratios, or growth indicators that are critical to assess potential for short-term alpha. Given the lack of material insight, it is not possible to form a bullish or bearish case with confidence. As AGMH is a micro-cap, it may offer volatility-driven opportunities, but without fundamentals, a cautious 'Hold' is appropriate."}}},{"json":{"output":{"symbol":"TMDE","score":3,"recommendation":"Hold","reason":"Insufficient fundamental data provided to assess financial health, growth prospects, or catalysts for short-term alpha. While the stock is a micro-cap and may carry speculative upside, the absence of detailed metrics such as revenue, earnings, cash flow, or market trends limits confidence in a Buy recommendation."}}},{"json":{"output":{"symbol":"HXHX","score":3,"recommendation":"Hold","reason":"Insufficient fundamental data provided to justify a strong short-term investment thesis. While the model indicates the stock 'proceeds', without concrete information on financials, growth trajectory, recent news, or catalysts, it is prudent to take a cautious stance. The score reflects lack of visibility rather than negative performance indicators."}}},{"json":{"output":{"symbol":"DXST","score":6,"recommendation":"Hold","reason":"The data provided contains minimal fundamental information, making a comprehensive analysis difficult. However, due to the explicit 'proceed: true' flag, application of a model (openai), and assuming typical micro-cap risk/reward dynamics, there may be speculative interest. Without visibility into revenue, earnings, cash flow, or other financial metrics, the stock does not present a strong case for short-term alpha but may warrant observation."}}},{"json":{"output":{"symbol":"PN","score":4,"recommendation":"Hold","reason":"The available data is extremely minimal and does not provide any financial metrics, company overview, or market data required to assess short-term alpha potential. Without such fundamentals (like revenue growth, liquidity, margins, or catalysts), the risk is considerably high. On this basis, a conservative 'Hold' is recommended until further data is available."}}},{"json":{"output":{"symbol":"RAY","score":2,"recommendation":"Hold","reason":"There is insufficient fundamental data provided to confidently evaluate the short-term alpha potential of RAY. The only available input confirms that the analysis may proceed, but no financial metrics, recent news, valuation comparisons, or catalysts are presented to support a higher conviction. Without such data, the stock warrants a cautious hold until further information becomes available."}}},{"json":{"output":{"symbol":"HCAI","score":4,"recommendation":"Hold","reason":"The information provided is insufficient to form a comprehensive view of the company's financial health, growth potential, or market position. While the stock is permitted for analysis and identified as a micro-cap, there are no actual fundamentals shared—such as revenue, earnings, valuation, cash flow, or competitive data—to justify a Buy or Sell. Therefore, the score reflects high uncertainty and the recommendation is to Hold pending further data."}}},{"json":{"output":{"symbol":"PSHG","score":5,"recommendation":"Hold","reason":"Based on the limited information provided, there is insufficient financial or operational data to strongly support a buy or sell recommendation. As a micro-cap stock, PSHG may exhibit volatility and speculative behavior, but without deeper fundamentals such as revenue, earnings trends, debt structure, and market sentiment, only a neutral 'Hold' rating can be reasonably concluded for potential short-term alpha."}}},{"json":{"output":{"symbol":"PFAI","score":3,"recommendation":"Hold","reason":"There is insufficient fundamental financial data provided to assess the company's short-term alpha potential. While the analysis flag indicates 'proceed' is true, no earnings, growth rate, valuation, sector insight, or catalyst information is presented. As a micro-cap, PFAI may have volatility-driven upside, but without more context or data points, a Hold rating with limited score is warranted."}}},{"json":{"output":{"symbol":"EDHL","score":3,"recommendation":"Hold","reason":"There is insufficient fundamental data provided to justify a strong position. While the 'proceed' flag is true, no financial metrics, earnings data, or forward-looking indicators have been disclosed to assess short-term alpha potential. Therefore, a conservative 'Hold' is warranted until further information becomes available."}}},{"json":{"output":{"symbol":"GTEC","score":4,"recommendation":"Hold","reason":"Insufficient fundamental data was provided to make a strong case for short-term alpha. While the 'proceed' flag indicates some form of review approval, the absence of financial metrics, valuation data, or growth indicators limits the ability to assess the company thoroughly. Therefore, GTEC is rated conservatively as a Hold until more information becomes available."}}},{"json":{"output":{"symbol":"WXM","score":3,"recommendation":"Hold","reason":"Insufficient fundamental data provided to accurately assess short-term alpha potential. Proceed flag is true, but no financial metrics (e.g., revenue, earnings growth, market cap, sector trends) or valuation indicators were included. A cautious hold is recommended until more detailed information is available."}}},{"json":{"output":{"symbol":"JL","score":3,"recommendation":"Sell","reason":"There is insufficient fundamental data provided about JL to justify potential for short-term alpha. Key financial indicators, growth metrics, or catalyst events are not included in the input, making it impossible to support a higher score or a Buy/Hold recommendation."}}},{"json":{"output":{"symbol":"LGPS","score":3,"recommendation":"Hold","reason":"The analysis request only includes metadata presence ('proceed': true) and a symbol name, with no actual financial or operational data provided for LGPS. Without fundamentals such as revenue, earnings, balance sheet strength, market dynamics, or recent news flow, there's insufficient basis to assess alpha potential. Defaulting to a neutral score and Hold recommendation pending more details."}}},{"json":{"output":{"symbol":"DUO","score":3,"recommendation":"Sell","reason":"The provided data contains no fundamental financial metrics, earnings data, valuation, or growth indicators for DUO. Without such data, and based solely on the presence of a 'proceed: true' flag, there is insufficient evidence to support short-term alpha potential. Micro-cap stocks can be extremely volatile, and the lack of concrete information is a significant red flag for investment confidence."}}},{"json":{"output":{"symbol":"SAGT","score":3,"recommendation":"Hold","reason":"The provided data is extremely limited with no financials, valuation metrics, growth indicators, or operational details. While micro-cap stocks can exhibit volatility that may offer short-term alpha, without any fundamentals or catalysts disclosed, the potential for above-market short-term returns on SAGT cannot be substantiated at this time. Proceeding with caution is advised."}}},{"json":{"output":{"symbol":"SKBL","score":3,"recommendation":"Hold","reason":"Insufficient fundamental data provided to determine a short-term alpha opportunity. While the stock is marked as a micro-cap, which can offer upside potential, no financial metrics, revenue trends, earnings data, or market catalysts are included to support a more bullish or bearish stance. Rating reflects caution due to lack of critical information."}}},{"json":{"output":{"symbol":"YMAT","score":3,"recommendation":"Hold","reason":"The submission contains insufficient fundamental financial data to determine short-term alpha potential. Without earnings reports, revenue trends, debt levels, or market catalysts, a reliable score cannot be assigned beyond a speculative baseline. Proceed flag is true, indicating assessment is allowed, but lack of concrete fundamentals results in a low confidence hold recommendation."}}},{"json":{"output":{"symbol":"SNYR","score":4,"recommendation":"Hold","reason":"There is insufficient fundamental data provided about the company’s financials, competitive positioning, or catalysts to justify a clear short-term upside potential. While the 'proceed' flag may indicate model readiness, the lack of financial details such as revenue growth, profitability, or insider activity weakens conviction for a Buy recommendation."}}},{"json":{"output":{"symbol":"ELOG","score":3,"recommendation":"Hold","reason":"No financial or operational data provided to evaluate fundamentals such as revenue growth, profitability, cash flow, or competitive positioning. With only the symbol and model name available, there is insufficient information to justify a Buy or Sell recommendation. Thus, a conservative Hold is appropriate until more data becomes available."}}},{"json":{"output":{"symbol":"BOSC","score":4,"recommendation":"Hold","reason":"Insufficient fundamental data is available to support a strong buy or sell signal. While the micro-cap nature of BOSC implies potential for high volatility and short-term trading opportunities, without deeper insights into revenue trends, earnings, liquidity, or market catalysts, it's prudent to remain neutral. Further analysis is needed to identify any specific drivers of short-term alpha."}}},{"json":{"output":{"symbol":"JVA","score":3,"recommendation":"Hold","reason":"Limited data provided prevents a full fundamental analysis. However, JVA (Coffee Holding Co., Inc.) is a thinly traded micro-cap stock with low analyst coverage and high volatility. Without detailed balance sheet, revenue growth, earnings trends, or insider activity data, the risk of capital loss is elevated. Potential for short-term alpha appears low without a known catalyst or technical breakout."}}},{"json":{"output":{"symbol":"SJ","score":4,"recommendation":"Hold","reason":"Insufficient fundamental data provided to accurately assess short-term alpha potential. No financials, valuation, growth metrics, or market trends available. While the company is categorized as a micro-cap, which may offer outsized returns under certain conditions, the lack of substantive inputs suggests a cautious approach until further fundamentals or catalysts emerge."}}},{"json":{"output":{"symbol":"SYTA","score":3,"recommendation":"Sell","reason":"The data provided lacks detailed financial, operational, and market information necessary for a comprehensive evaluation. Given SYTA is a micro-cap stock with limited disclosure here, and no fundamentals or key metrics provided (e.g., revenue growth, profitability, cash flows, or recent news catalysts), the risk profile is elevated with little evidence for short-term alpha potential. Investors should be cautious without more transparent fundamentals."}}},{"json":{"output":{"symbol":"AZI","score":2,"recommendation":"Sell","reason":"The fundamental data provided is insufficient for evaluating the company’s short-term alpha potential. There is no financial or operational data (revenue, earnings, growth, debt levels, cash flow, etc.) to support a bullish or even neutral view. Proceeding on a generic signal ('proceed': true) without further context or quantitative metrics does not indicate a favorable set-up for short-term alpha generation."}}},{"json":{"output":{"symbol":"YYAI","score":4,"recommendation":"Hold","reason":"Insufficient fundamental data was provided to accurately assess near-term alpha potential. Without financial statements, revenue growth, profitability metrics, catalysts, or valuation details, it is not possible to justify a 'Buy' rating. However, since the model flag indicates 'proceed: true', there may be some internal or alternative rationale for monitoring the stock, thereby justifying a 'Hold'. Further diligence is required before making an investment decision."}}},{"json":{"output":{"symbol":"XTIA","score":4,"recommendation":"Hold","reason":"There is insufficient financial or operational data provided to determine near-term upside. While proceed=true suggests continued operations, no metrics such as revenue growth, earnings, cash flow, or catalysts for alpha are available. As a micro-cap, XTIA could exhibit volatility, but without more fundamentals, the short-term potential cannot be confidently rated higher."}}},{"json":{"output":{"symbol":"MAMK","score":3,"recommendation":"Hold","reason":"The only available information is the company's symbol 'MAMK' and that processing can proceed. No financial, operational, or market data were provided to evaluate the fundamentals or assess short-term alpha potential. As such, a low confidence neutral position is assigned until more information becomes available."}}},{"json":{"output":{"symbol":"ISPO","score":3,"recommendation":"Sell","reason":"Based solely on the limited data provided ('proceed': true, 'symbol': 'ISPO', 'model': 'openai'), there is no meaningful fundamental information to assess potential for short-term alpha. Without financial metrics, market context, or recent catalysts, the stock does not warrant a favorable score or recommendation."}}},{"json":{"output":{"symbol":"USIO","score":6.5,"recommendation":"Hold","reason":"While the signal to proceed suggests an opportunity might exist, no detailed fundamental metrics (such as revenue growth, earnings, cash flow, valuation ratios, or recent catalysts) were provided to produce a higher conviction rating. USIO might have some short-term alpha potential, but without further financial or market context, a Hold is recommended until more data is available."}}},{"json":{"output":{"symbol":"ZSPC","score":3,"recommendation":"Hold","reason":"There is insufficient fundamental data provided to confidently assess the stock's potential for short-term alpha. The presence of a positive proceed signal suggests some interest or trigger event, but without financials, news catalysts, or valuation indicators, the risk remains high. Caution is advised until more concrete data becomes available."}}},{"json":{"output":{"symbol":"DBGI","score":3,"recommendation":"Sell","reason":"The provided data lacks detailed fundamentals such as financial ratios, revenue, margin trends, or recent catalysts. Based solely on the information that DBGI is a micro-cap stock with no further context, and given the lack of fundamental or technical triggers, there is limited evidence to suggest short-term alpha potential. Micro-cap stocks generally have high volatility and low liquidity, which pose significant risk without strong directional indicators."}}},{"json":{"output":{"symbol":"NCT","score":3,"recommendation":"Hold","reason":"Insufficient fundamental data was provided to conduct a thorough analysis or determine alpha potential. While the proceed flag is true and the symbol is identified, no financial metrics or qualitative information about the company has been given, making it difficult to justify a Buy or Sell recommendation. A Hold is warranted pending more detail."}}},{"json":{"output":{"symbol":"FCO","score":3,"recommendation":"Hold","reason":"There is insufficient fundamental financial data provided to support a strong buy or sell recommendation. While the symbol is valid and proceed flag is true, without revenue trends, earnings, debt, cash flow, or recent performance metrics, we cannot reliably assess short-term alpha potential. Therefore, a neutral 'Hold' rating is given with a below-average score based on lack of details."}}},{"json":{"output":{"symbol":"JRSH","score":5,"recommendation":"Hold","reason":"The available data is insufficient to derive a high-conviction view on near-term alpha potential. While the company is a micro-cap that may attract speculative interest or experience volatility, no fundamental financial data (such as revenue growth, margins, or guidance) or recent news catalysts were provided. A neutral 'Hold' recommendation reflects the lack of positive or negative signals."}}},{"json":{"output":{"symbol":"NEPH","score":3,"recommendation":"Sell","reason":"No fundamental financial data, growth metrics, or valuation indicators were provided. The signal 'proceed: true' is insufficient to assess short-term alpha. Without earnings, revenue, or any competitive positioning insight, the micro-cap NEPH lacks enough substance to justify a bullish case in the near term."}}},{"json":{"output":{"symbol":"APWC","score":3,"recommendation":"Hold","reason":"The provided data offers only a symbol and confirmation that the model proceeded, with no financial or operational fundamentals available. Without revenue, earnings trends, market context, or material catalysts, the potential for short-term alpha cannot be assessed. Given the micro-cap status of APWC and lack of additional insight, a neutral stance is recommended until further information is available."}}},{"json":{"output":{"symbol":"MOGO","score":4,"recommendation":"Hold","reason":"There is insufficient fundamental data provided to justify a strong short-term alpha potential. The company symbol 'MOGO' is identified but no financial metrics, growth indicators, or market catalysts are included in the data. Without deeper insight into revenue trends, profitability, valuation multiples, competitive position, or recent news, only a neutral assessment can be made at this time."}}},{"json":{"output":{"symbol":"WIMI","score":4,"recommendation":"Hold","reason":"Insufficient fundamental data was provided to thoroughly evaluate WIMI's short-term alpha potential. While the micro-cap status may offer volatility that some traders look for, without financial metrics, recent performance indicators, or sector context, it's difficult to make a strong case for a buy. Hold is recommended until further data is available."}}},{"json":{"output":{"symbol":"RAVE","score":6.5,"recommendation":"Hold","reason":"RAVE is a micro-cap company with limited data provided, but indications suggest it is generating some interest (proceed=true). Without concrete financial or operational metrics, the stock has potential for short term alpha due to potential speculative interest or market inefficiencies in the micro-cap space. However, the lack of detailed fundamentals restricts a stronger recommendation."}}},{"json":{"output":{"symbol":"APT","score":3,"recommendation":"Hold","reason":"Insufficient fundamental data was provided to determine potential for short-term alpha. The only available information is symbolic confirmation ('proceed': true) and model association, which does not reflect financial health, market positioning, revenue growth, valuation, or momentum needed to justify a Buy or Sell. A Hold is appropriate pending further detail."}}},{"json":{"output":{"symbol":"VERU","score":4,"recommendation":"Hold","reason":"Insufficient fundamental data was provided to support a strong short-term alpha thesis. While the proceed flag is true, indicating analysis can continue, no financial metrics, product pipeline updates, sector tailwinds, or near-term catalysts were included. As such, the stock does not currently demonstrate strong indicators for short-term outperformance."}}},{"json":{"output":{"symbol":"FMY","score":3,"recommendation":"Hold","reason":"The data provided is insufficient to make a strong recommendation. While the company is a micro-cap and may have potential for short-term alpha due to its size and volatility, no specific financial metrics, growth indicators, news catalysts, or industry analysis have been provided to justify a buy. Therefore, a cautious hold rating is assigned until more fundamentals are available."}}},{"json":{"output":{"symbol":"SPCB","score":3,"recommendation":"Sell","reason":"The fundamental data provided is minimal and lacks financial metrics such as revenue, earnings, cash flow, or recent news that could justify a short-term alpha opportunity. Based on what is available — namely the symbol and proceed flag — there is insufficient evidence of immediate upside potential. As a micro-cap stock with limited visibility, SPCB may carry high risk with low short-term return outlook."}}},{"json":{"output":{"symbol":"DVLT","score":3,"recommendation":"Hold","reason":"The provided data includes only a boolean flag 'proceed', the stock symbol 'DVLT', and reference to a model, with no actual financial fundamentals or metrics. In the absence of earnings growth, revenue numbers, balance sheet strength, valuation multiples, or catalysts, only a neutral stance is justifiable. DVLT cannot be assessed for short-term alpha with the given information."}}},{"json":{"output":{"symbol":"PED","score":5,"recommendation":"Hold","reason":"The provided data includes only a valid symbol (PED) and a placeholder model reference, without any accompanying financial or operational metrics that would allow for a thorough assessment of short-term alpha potential. Without revenue, earnings, balance sheet, sector context, or recent news, a neutral 'Hold' rating with a mid-level alpha potential score is reasonable based on current information."}}},{"json":{"output":{"symbol":"HGBL","score":4,"recommendation":"Hold","reason":"The data provided is minimal and lacks critical financial metrics such as revenue, earnings, debt levels, growth rates, or recent news events. With only the symbol and no fundamental or technical indicators, it's not possible to justify a strong bullish or bearish stance. Therefore, based purely on this limited information, the stock does not present a compelling short-term alpha opportunity at this time."}}},{"json":{"output":{"symbol":"JMM","score":3,"recommendation":"Hold","reason":"Insufficient fundamental data provided to evaluate growth potential, valuation, or competitive advantage. Without financial metrics, market trends, or catalysts, short-term alpha potential cannot be determined with confidence. Holding is advised until further information is available."}}},{"json":{"output":{"symbol":"PVL","score":4,"recommendation":"Hold","reason":"The provided data lacks detailed financial fundamentals, analyst sentiment, or recent company performance necessary to evaluate short-term alpha potential. While the 'proceed' flag suggests analysis is requested, without metrics like revenue growth, earnings, liabilities, or sector trends, only a cautious 'Hold' recommendation with a below-average score can be assigned until more data is available."}}},{"json":{"output":{"symbol":"VELO","score":4,"recommendation":"Hold","reason":"There is insufficient fundamental data provided to make a compelling case for short-term alpha. The micro-cap nature of the stock implies a high-risk profile, and without key financial metrics, growth indicators, or market catalysts, it is difficult to recommend a buy. However, its inclusion in a model-generated proceed signal suggests some potential worth monitoring, justifying a Hold."}}},{"json":{"output":{"symbol":"CNVS","score":6,"recommendation":"Hold","reason":"The analysis request confirms proceed and symbol identification for micro-cap company CNVS but lacks specific financial or operational fundamentals such as revenue growth, earnings trend, valuation metrics, or catalysts. Based on this minimal signal alone and no negative flags, we assign a neutral score with a Hold recommendation pending further disclosure of meaningful fundamentals or near-term events."}}},{"json":{"output":{"symbol":"NXTT","score":4,"recommendation":"Hold","reason":"The available information is extremely limited and does not provide any financial metrics, growth indicators, or market context. With no details on revenue, profitability, cash flow, or competitive advantage, it's impossible to justify a strong buy or sell stance. The 'proceed: true' flag suggests some progression or state of readiness in a process, but this is not a fundamental metric. Ambiguity in data leads to an underwhelming confidence score."}}},{"json":{"output":{"symbol":"MIND","score":4,"recommendation":"Hold","reason":"The provided data confirms the symbol and that analysis can proceed, but lacks any specific fundamental or market information (e.g., revenue growth, profit margins, debt levels, catalysts, or insider activity) that would enable a robust assessment of short-term alpha potential. Without concrete financials or operational metrics, we cannot provide a 'Buy' or 'Sell' recommendation with high confidence. 'Hold' is appropriate until more data is available."}}},{"json":{"output":{"symbol":"ZENV","score":3,"recommendation":"Hold","reason":"Insufficient financial or operational data provided to substantiate near-term alpha generation. The JSON data only indicates that the analysis can proceed and identifies the symbol, but lacks critical fundamentals such as revenue growth, profitability, cash flow position, or catalysts. Without these, the stock's short-term upside cannot be meaningfully assessed."}}},{"json":{"output":{"symbol":"YSXT","score":3,"recommendation":"Hold","reason":"Insufficient financial or operational data provided to evaluate the short-term alpha potential of YSXT. While the 'proceed' flag is true, no detailed balance sheet, income statement, growth metrics, or recent catalysts were included for analysis. Based strictly on available input, a conservative 'Hold' is warranted until more information becomes available."}}},{"json":{"output":{"symbol":"WYHG","score":3,"recommendation":"Hold","reason":"Insufficient fundamental data provided to support a strong buy or sell recommendation. While 'proceed' is marked true, no detailed financials, revenue growth, profitability metrics, market trends, or catalysts are supplied to assess short-term alpha potential with confidence. Holding is advised until further information becomes available."}}},{"json":{"output":{"symbol":"UAVS","score":3,"recommendation":"Sell","reason":"Insufficient fundamental data was provided to support a thesis of short-term alpha. As a micro-cap company, UAVS likely faces high volatility and limited liquidity, and with no financials, competitive positioning, or catalysts disclosed, there is low conviction for near-term outperformance."}}},{"json":{"output":{"symbol":"HOLO","score":6,"recommendation":"Hold","reason":"Limited fundamental data is available, but based on the micro-cap designation and lack of red flags in provided information, HOLO may present speculative short-term upside driven by market sentiment or future catalysts. However, insufficient financials or operational metrics prevent a higher conviction rating. Investors should monitor news, volume, and regulatory filings closely."}}},{"json":{"output":{"symbol":"GMHS","score":3,"recommendation":"Hold","reason":"Insufficient fundamental data provided to make an informed assessment. The presence of 'proceed': true indicates some procedural step, but no financial metrics (e.g., revenue, growth, profit margins, valuation) are available to support a high-confidence buy or sell decision. As such, a neutral stance is appropriate."}}},{"json":{"output":{"symbol":"DSY","score":3,"recommendation":"Hold","reason":"The analysis request lacks any specific fundamental data for DSY such as revenue growth, profitability, cash flow, debt levels, recent filings, or insider activity. Without these, only a minimal score can be assigned. Assuming DSY is a micro-cap with minimal disclosed data, and given no red or green flags explicitly mentioned, a neutral 'Hold' is most appropriate until more data becomes available."}}},{"json":{"output":{"symbol":"CMU","score":3,"recommendation":"Hold","reason":"There is insufficient fundamental data provided to support a strong alpha thesis. Without clarity on earnings, revenue, growth metrics, or balance sheet data, the model cannot confidently assess short-term upside. CMU may require further diligence before a Buy recommendation is made."}}},{"json":{"output":{"symbol":"DDC","score":3,"recommendation":"Hold","reason":"The provided data is extremely limited and lacks any financial metrics, earnings context, industry details, or growth signals. With only a proceed flag and a symbol, there's insufficient basis to assign a strong conviction. Given the absence of red flags but also no positive indicators, a conservative hold with a low alpha potential score is appropriate until more information is available."}}},{"json":{"output":{"symbol":"ZJYL","score":3,"recommendation":"Hold","reason":"There is insufficient fundamental data provided to meaningfully evaluate short-term alpha potential. 'Proceed' indicates permission, not performance indicators. Without information such as revenue growth, profitability, cash flow, market positioning, or catalysts, the alpha potential remains unclear. As a micro-cap, it may have volatility, but the lack of data limits conviction."}}},{"json":{"output":{"symbol":"DLXY","score":3,"recommendation":"Hold","reason":"The provided data does not include any quantitative or qualitative financial fundamentals, competitive advantages, market positioning, management quality, revenue indicators, or recent catalysts necessary to determine near-term alpha potential. The recommendation is Hold until more concrete data is available to assess the company's growth outlook and valuation."}}},{"json":{"output":{"symbol":"SOGP","score":4,"recommendation":"Hold","reason":"Based solely on the limited information provided ('proceed': true and 'symbol': 'SOGP'), there is insufficient fundamental data to justify a strong buy or sell opinion. The 'proceed' flag suggests some preliminary review is complete, but without data on revenue, earnings, growth prospects, market position, or valuation, it's difficult to assess the potential for short-term alpha. As such, a cautious 'Hold' with a below-average score is appropriate."}}},{"json":{"output":{"symbol":"TOUR","score":4,"recommendation":"Hold","reason":"Insufficient fundamental data provided to support a strong bullish or bearish case. While the 'proceed' flag indicates analysis readiness, no specific financial or operational metrics, catalysts, or valuation indicators are given to justify a Buy or Sell recommendation. Thus, the short-term alpha potential is uncertain."}}},{"json":{"output":{"symbol":"LHSW","score":3,"recommendation":"Hold","reason":"Insufficient fundamental data was provided to assess short term alpha potential definitively. While the 'proceed' flag suggests some procedural clearance, no specific financial information (e.g., revenue growth, earnings, debt levels, cash flow, recent catalysts) was included to support a strong recommendation. Without such key metrics, a Hold is a cautious, neutral stance."}}},{"json":{"output":{"symbol":"LFT","score":4,"recommendation":"Hold","reason":"There is insufficient fundamental financial data provided to make a strong assessment of short-term alpha potential. While the company is flagged for analysis and is tradable, macro-level indicators such as revenue growth, margins, catalysts, or technical trends have not been presented. As a micro-cap, volatility may create opportunities, but without concrete metrics, the best course is to hold pending further insight."}}},{"json":{"output":{"symbol":"TZOO","score":5,"recommendation":"Hold","reason":"The available data is minimal, providing no concrete financial or operational insights. Without revenue trends, earnings performance, valuation metrics, or news catalysts, it's difficult to assess short-term alpha potential. However, given the system indicates the analysis should proceed and the company has some indication of interest via the OpenAI model, we assign a neutral score of 5 and recommend holding until further information is available."}}},{"json":{"output":{"symbol":"EPSN","score":4,"recommendation":"Hold","reason":"Insufficient fundamental data provided to justify a clear Buy or Sell recommendation. The only available information is the confirmation of symbolic and procedural validity for EPSN, without any insights into financial health, growth prospects, or recent performance. Based on this lack of detail, we recommend holding until more concrete fundamentals are disclosed or analyzed."}}},{"json":{"output":{"symbol":"CXE","score":3,"recommendation":"Sell","reason":"Insufficient fundamental data provided to justify short-term alpha potential. No earnings, revenue, or balance sheet metrics available to assess valuation or momentum. Lack of catalysts or financial data suggests limited investor interest and low liquidity, common in micro-cap stocks, which reduces the likelihood of short-term outperformance."}}},{"json":{"output":{"symbol":"SIEB","score":4,"recommendation":"Hold","reason":"The available data is minimal, only indicating that the analysis model proceeded and the symbol is SIEB, without any financial fundamentals or market indicators. Due to the absence of detailed financials (like revenue, earnings, valuation, liquidity, or momentum metrics), we cannot derive a confident alpha signal. Thus, we assign a conservative intermediate score and a Hold recommendation pending more information."}}},{"json":{"output":{"symbol":"RPT","score":3,"recommendation":"Hold","reason":"Insufficient fundamental data provided to evaluate short-term alpha potential. No financial metrics such as revenue growth, earnings, valuation, debt, or sector context are available. Recommendation is to hold until more detailed fundamentals or catalysts are presented."}}},{"json":{"output":{"symbol":"JEQ","score":3,"recommendation":"Hold","reason":"No fundamental financial data was provided beyond the symbol, so an assessment of short-term alpha potential cannot be accurately made. Assuming this is the Japan Equity Fund, it is a closed-end fund with limited liquidity and constrained upside given market structure. Without earnings, revenue growth, valuation metrics, or catalyst data, we assign a conservative score and recommendation."}}},{"json":{"output":{"symbol":"PHD","score":3,"recommendation":"Hold","reason":"Insufficient fundamental data was provided to assess short-term alpha potential. The model response contains only a proceed flag and the symbol, which limits the ability to evaluate key financial metrics, catalysts, or sentiment analysis. Holding is recommended until more data is available."}}},{"json":{"output":{"symbol":"LGCY","score":3,"recommendation":"Hold","reason":"Insufficient fundamental data provided to make a strong bullish case. While the process is marked as proceeding and the symbol is identified, there is no financial, operational, or market data to assess short-term alpha potential. Thus, a Hold recommendation is prudent until more information becomes available."}}},{"json":{"output":{"symbol":"LFVN","score":4,"recommendation":"Hold","reason":"The data provided is minimal and lacks financial metrics such as revenue growth, profitability, cash flow, market trends, and recent performance necessary to evaluate short-term alpha potential. Without specific financials, insider activity, or momentum indicators, the stock does not show strong alpha drivers at this time. Further diligence is required."}}},{"json":{"output":{"symbol":"DKI","score":3,"recommendation":"Hold","reason":"The stock DKI has minimal available fundamental data provided, making it difficult to assess its short-term alpha potential. Assuming it is a micro-cap stock with little visibility into financials, earnings momentum, or catalysts, the stock presents a high-risk profile. Without positive fundamentals or specific growth signals, it's prudent to hold rather than buy or sell aggressively."}}},{"json":{"output":{"symbol":"MATH","score":3,"recommendation":"Hold","reason":"The data provided is insufficient to make a strong judgment on MATH's short-term alpha potential. While the process is set to proceed and a model is specified, no financials, growth metrics, valuation, or recent price action are available. Without further details, the stock cannot be assessed confidently for a Buy or Sell recommendation. Therefore, it is scored conservatively and rated as Hold until more information is provided."}}},{"json":{"output":{"symbol":"SUNS","score":3,"recommendation":"Hold","reason":"Insufficient fundamental data provided to support a high-conviction short-term alpha opportunity. While the company is a micro-cap and may exhibit volatility, without additional financial metrics or forward-looking indicators, the potential for short-term outperformance remains indeterminate. Recommend holding until more detailed financials and catalysts are available."}}},{"json":{"output":{"symbol":"PLX","score":4,"recommendation":"Hold","reason":"Based on limited available information, PLX is a micro-cap stock with high volatility and uncertain fundamentals. While it may offer speculative upside, there is insufficient data provided to conclude near-term catalysts or strong financial indicators that would support a confident buy recommendation. Therefore, it is best categorized as a Hold until further financial or operational clarity emerges."}}},{"json":{"output":{"symbol":"BTMD","score":4,"recommendation":"Hold","reason":"The available data on BTMD is minimal, with no specific financials or fundamental metrics provided beyond its micro-cap classification. As such, there's insufficient evidence to support significant short-term alpha potential. Without insights into recent earnings trends, insider trading, or catalysts, it is prudent to rate the stock neutral until further data emerges."}}},{"json":{"output":{"symbol":"GGT","score":4,"recommendation":"Hold","reason":"The data provided is minimal and lacks key financial metrics such as revenue, earnings, cash flow, and debt levels. With just the symbol and confirmation that the analysis can proceed, there isn't enough information to assign a high short-term alpha potential. Given the absence of detail, a neutral position of 'Hold' is appropriate pending more complete fundamental data."}}},{"json":{"output":{"symbol":"MED","score":3,"recommendation":"Hold","reason":"The fundamental data provided is minimal and lacks key financial metrics such as revenue growth, earnings, valuation ratios, or market catalysts necessary to determine short-term alpha potential. Without more information, especially regarding earnings momentum, insider buying, or technical indicators, this micro-cap's potential for short-term outperformance remains unclear."}}},{"json":{"output":{"symbol":"OCCI","score":3,"recommendation":"Sell","reason":"Insufficient fundamental data provided. The ticker OCCI is known as a micro-cap closed-end fund, which often carries high volatility and low liquidity. Without revenue, earnings, or balance sheet metrics, there's no basis for a short-term alpha potential assessment. These types of funds often trade at steep discounts to NAV which can lead to speculative interest but also reflect poor investor sentiment or underlying portfolio quality. Hence, based on available information, short-term upside appears limited."}}},{"json":{"output":{"symbol":"IMPP","score":5,"recommendation":"Hold","reason":"The data provided is extremely limited, containing no financial metrics, growth indicators, or qualitative insight other than the ticker symbol 'IMPP'. In the absence of fundamentals like revenue growth, profitability, debt levels or macroeconomic catalysts, a neutral stance is prudent. The micro-cap nature implies high volatility, which could generate short-term trading interest, but no specific information supports near-term alpha."}}},{"json":{"output":{"symbol":"CIK","score":3,"recommendation":"Hold","reason":"There is insufficient fundamental data presented to strongly support a buy or sell recommendation. Without details on revenue, earnings, debt levels, margins, or competitive position, it is not possible to assess short-term alpha potential with confidence. Proceeding with caution and holding is prudent until further financial or operational specifics are available."}}},{"json":{"output":{"symbol":"MRCC","score":4,"recommendation":"Hold","reason":"Based on limited provided data, no key fundamental metrics such as revenue growth, profitability, valuation ratios, or market trends are available to justify a high conviction Buy rating. However, the model has proceeded with the symbol and market cap category, suggesting the stock is at least viable for observation. Without stronger evidence of catalysts or strong fundamentals, the short-term alpha potential appears limited."}}},{"json":{"output":{"symbol":"ESOA","score":4,"recommendation":"Hold","reason":"Insufficient fundamental details provided such as revenue growth, earnings, balance sheet strength, or catalysts to determine high conviction for short-term alpha. Given the stock's micro-cap nature and lack of data, it's prudent to maintain a neutral stance pending more information."}}},{"json":{"output":{"symbol":"CHRS","score":4,"recommendation":"Hold","reason":"Insufficient fundamental information was provided to fully assess short-term alpha potential. Although the analysis was triggered successfully (proceed: true), the dataset lacks key financial metrics, growth indicators, or valuation details. Based on micro-cap profile alone, CHRS may have speculative potential, but without stronger signals it's not a high-conviction short-term opportunity."}}},{"json":{"output":{"symbol":"CURV","score":6,"recommendation":"Hold","reason":"The data provided is minimal and lacks detailed financials, growth metrics, or technical indicators. However, since the 'proceed' flag is true and given it is a micro-cap stock (which implies potential for volatility and alpha opportunities), there could be moderate short-term potential. Additional data such as revenue growth, insider activity, or momentum would improve the confidence level."}}},{"json":{"output":{"symbol":"AMPY","score":6.5,"recommendation":"Hold","reason":"While no financial metrics were provided, the flag 'proceed':true suggests basic qualifying criteria are met for evaluation. However, without earnings data, growth rates, balance sheet or valuation details, a high-conviction buy or sell is not prudent. Given the micro-cap nature of AMPY and its potential for volatility, it may offer short-term alpha, but insufficient information is present to justify a stronger recommendation."}}},{"json":{"output":{"symbol":"BDTX","score":4,"recommendation":"Hold","reason":"Insufficient fundamental details were provided to justify a strong buy or sell rating. While the stock may hold some speculative upside typical of micro-cap biotech names, there is not enough financial or operational data to evaluate short-term alpha confidently. Maintain a Hold stance pending further disclosure on pipeline developments, cash runway, and catalysts."}}},{"json":{"output":{"symbol":"WHF","score":4,"recommendation":"Hold","reason":"There is insufficient fundamental data provided to justify a strong investment thesis. Based on the limited input, there is no clear catalyst or financial metric suggesting a short-term alpha opportunity. Investors should seek further financials such as earnings growth, debt levels, and revenue trajectory before considering a position."}}},{"json":{"output":{"symbol":"PPIH","score":5,"recommendation":"Hold","reason":"The information provided is minimal and only indicates that analysis should proceed for symbol PPIH. Without specific financials, growth trends, or catalysts, a neutral score is assigned. While being a micro-cap may allow for alpha generation due to inefficiencies, no concrete data is available to justify a strong buy or sell position."}}},{"json":{"output":{"symbol":"KINS","score":4,"recommendation":"Hold","reason":"Insufficient fundamental data provided to assess earnings momentum or valuation discount. The stock is a micro-cap, which can offer asymmetric upside, but without more detailed financials, industry position, or catalyst data, it's difficult to justify a strong conviction for short-term alpha. Maintain a cautious stance pending further disclosures."}}},{"json":{"output":{"symbol":"KGEI","score":4,"recommendation":"Hold","reason":"Insufficient fundamental data provided to justify a clear short-term alpha opportunity. While the signal indicates the company 'proceeds' and identifies the symbol 'KGEI', no balance sheet, revenue, earnings, industry competitive position, or catalyst information is available to make a confident buy or sell recommendation. Therefore, we rate it conservatively as Hold with a low conviction alpha score."}}},{"json":{"output":{"symbol":"INR","score":3,"recommendation":"Hold","reason":"Insufficient fundamental data provided to assess short-term alpha potential. The company is classified as a micro-cap, which typically involves higher volatility and risk. Without financial metrics, growth indicators, or competitive analysis, a conservative 'Hold' is recommended pending more information."}}},{"json":{"output":{"symbol":"ISSC","score":4,"recommendation":"Hold","reason":"Insufficient fundamental data provided to assess short-term alpha potential. No metrics such as revenue growth, earnings, valuations, market momentum, or catalysts were included. Based on available information — only the symbol and confirmation proceed flag — we cannot justify a Buy or Sell recommendation. Hold is assigned as neutral default pending further analysis."}}},{"json":{"output":{"symbol":"REI","score":6,"recommendation":"Hold","reason":"Limited data is provided beyond a valid symbol and model signal, so a comprehensive fundamental analysis is restricted. Assuming this signal initiates further analysis via a system like OpenAI's, the lack of financial metrics such as revenue trends, profitability, balance sheet strength, or insider activity leaves the alpha potential uncertain. As a micro-cap, REI may have speculative appeal, but without stronger indicators of near-term catalysts, a Hold is prudent until more data supports a directional conviction."}}},{"json":{"output":{"symbol":"INFU","score":6,"recommendation":"Hold","reason":"Not enough detailed financial data provided to make a compelling case for a short-term alpha opportunity. The symbol INFU (InfuSystem) is a micro-cap and may offer volatility, but without visibility into recent revenue trends, profit margins, debt levels, catalysts, or unusual trading activity, the risk-reward profile remains opaque. Hold pending further insight."}}},{"json":{"output":{"symbol":"ELA","score":3,"recommendation":"Hold","reason":"The provided data does not contain any financial or operational fundamentals for the micro-cap company ELA beyond confirmation that analysis should proceed. Without revenue, margins, growth data, market catalysts, or valuation metrics, there is insufficient evidence to support a strong alpha opportunity in the short term. Therefore, a conservative Hold rating is warranted until more data becomes available."}}},{"json":{"output":{"symbol":"CXDO","score":6.5,"recommendation":"Hold","reason":"The company appears to be a micro-cap with insufficient fundamental data provided to justify a strong buy or sell recommendation. Without financial metrics such as revenue growth, profitability, valuation ratios, or recent catalysts, it's difficult to assess near-term alpha potential confidently. A neutral stance is warranted until more information is available."}}},{"json":{"output":{"symbol":"CRNT","score":5,"recommendation":"Hold","reason":"Insufficient fundamental data provided to support a strong buy or sell recommendation. While the analysis permission and symbol are present, the lack of revenue, earnings, valuation, and other financials prevents a confident assessment. Based purely on the input, there is no disqualifying negative signal, but also no catalyst identified for short-term alpha."}}},{"json":{"output":{"symbol":"MAPS","score":5,"recommendation":"Hold","reason":"Insufficient fundamental data provided to identify clear short-term alpha potential. The stock being a micro-cap could be volatile, but without details on revenue growth, cash flow, profitability, or catalysts, it's prudent to maintain a neutral stance."}}},{"json":{"output":{"symbol":"DSX","score":4,"recommendation":"Hold","reason":"The data provided is minimal and lacks key financial metrics such as revenue growth, profitability, debt levels, and market dynamics. However, the 'proceed' flag suggests there may be a green light from an internal model (OpenAI), indicating potential merit in deeper due diligence. Without further financial or operational data, the stock does not currently present a compelling case for short-term alpha, but may warrant monitoring."}}},{"json":{"output":{"symbol":"VNTG","score":3,"recommendation":"Hold","reason":"The analysis request lacks fundamental financial data (e.g., revenue, earnings, valuation, cash flow, competitive position) necessary to confidently assess short-term alpha potential. 'Proceed: true' and 'model: openai' alone do not provide enough clarity. As a result, only a neutral Hold recommendation can be supported based on available input."}}},{"json":{"output":{"symbol":"DHY","score":4,"recommendation":"Hold","reason":"Insufficient fundamental data provided to assess short-term alpha potential. Symbol DHY may represent high-yield fixed income or a micro-cap entity, but without financials, growth trends, or market context, the risk/reward profile remains unclear. Proceeding flag indicates intent to evaluate, but more inputs are required for confident buy/sell recommendation."}}},{"json":{"output":{"symbol":"EWCZ","score":4,"recommendation":"Hold","reason":"The input data provides no fundamental financial information to assess short-term alpha potential for EWCZ. Without details on earnings, revenue growth, balance sheet strength, market trends, or competitive positioning, a confident buy or sell signal cannot be issued. Proceed flag and model attribute imply a processing or analysis flag, but not enough substantive data is available. Therefore, the stock receives a neutral score and a hold recommendation."}}},{"json":{"output":{"symbol":"PBYI","score":6,"recommendation":"Hold","reason":"Limited data was provided on PBYI fundamentals. While the proceed flag indicates the stock might be investable and it is being analyzed using a model, there is no financial data such as revenue growth, profitability, cash flow, debt levels, or recent catalysts to assess short-term alpha potential. Given the lack of concrete financial metrics or operational updates, a cautious Hold is recommended pending further information."}}},{"json":{"output":{"symbol":"KG","score":4,"recommendation":"Hold","reason":"Insufficient fundamental data provided to derive a strong conviction. The flag 'proceed': true implies evaluation should continue, but no financials, sector context, catalysts or valuation metrics were included to assess short-term alpha potential. Recommendation is Hold pending further information."}}},{"json":{"output":{"symbol":"VIOT","score":6,"recommendation":"Hold","reason":"Limited fundamental data is provided, but based on symbol identification and classification as a micro-cap, VIOT potentially lacks near-term catalysts or strong fundamental signals to warrant a Buy rating. However, micro-caps can be volatile and react positively to news or seasonal catalysts, warranting a Hold rating pending further data."}}},{"json":{"output":{"symbol":"TNXP","score":3,"recommendation":"Sell","reason":"Based solely on the provided data, there is insufficient fundamental information to justify potential for short-term alpha. The dataset lacks financial metrics, recent developments, market catalysts, or any performance indicators typically used to judge near-term upside. TNXP is a micro-cap stock, which inherently carries high volatility and risk, and in the absence of promising fundamentals or momentum indicators, the risk outweighs the potential near-term reward."}}},{"json":{"output":{"symbol":"AOMR","score":3,"recommendation":"Sell","reason":"Insufficient fundamental data provided to support short-term alpha potential. Without financial metrics, growth indicators, or operational insight, it is not possible to make a bullish case for AOMR. The mere presence of a symbol without detailed fundamentals is a red flag for investment decision-making."}}},{"json":{"output":{"symbol":"RICK","score":7,"recommendation":"Buy","reason":"Based on the limited data available, RICK appears to be proceeding with an open AI financial modeling initiative and is identified as a micro-cap stock, which can often present higher volatility and greater potential for short-term alpha. Micro-caps with novel strategies or integration of innovative technologies like AI may generate investor interest and momentum in the short term. However, due to the lack of deeper financials or operational metrics, the recommendation is cautiously optimistic with a strong speculative angle."}}},{"json":{"output":{"symbol":"IMMR","score":4,"recommendation":"Hold","reason":"Insufficient fundamental data was provided for a comprehensive analysis. While the 'proceed' flag is true and the model indicates nominal viability, meaningful evaluation of short-term alpha requires financial metrics such as revenue growth, profit margins, cash flow, and recent developments. Without this, the potential for short-term gains remains speculative. Thus, a neutral 'Hold' recommendation is appropriate pending further information."}}},{"json":{"output":{"symbol":"PHT","score":3,"recommendation":"Hold","reason":"Insufficient financial or operational data provided to evaluate the company's short-term alpha potential. It is unclear whether the company has any earnings growth, catalysts, or competitive advantages. More detailed fundamentals are needed to make an informed recommendation."}}},{"json":{"output":{"symbol":"MITT","score":4,"recommendation":"Hold","reason":"The provided data lacks sufficient financial metrics or qualitative fundamentals (e.g. revenue, profitability, debt levels, management commentary, market trends, etc.) to make a high-confidence recommendation. However, the fact that the company is under analysis suggests it may have speculative interest or momentum potential. Given the limited information and the micro-cap designation, this stock may exhibit volatility but lacks concrete indicators for short-term outperformance. Hold until further data is available."}}},{"json":{"output":{"symbol":"TPVG","score":4,"recommendation":"Hold","reason":"Insufficient fundamental data provided to determine short-term alpha potential. While TPVG has model and procedural flag active, no earnings, valuation, sector momentum, or insider activity provided. Micro-cap stocks inherently volatile and speculative; without more metrics such as revenue growth, profitability, debt levels, or market catalysts, a conservative hold is warranted."}}},{"json":{"output":{"symbol":"SSP","score":3,"recommendation":"Hold","reason":"No fundamental financial data, earnings, balance sheet, or market trend information was provided to assess short-term alpha potential. Based on the limited data indicating only that the model proceeded, there is insufficient basis to rate the stock higher. Investors should seek additional financial metrics before making a decision."}}},{"json":{"output":{"symbol":"DENN","score":4,"recommendation":"Hold","reason":"Insufficient fundamental data provided to support a strong short-term alpha opportunity. While the 'proceed' flag is true and a model name is indicated, there is no financial, operational, or market-based information to assess risk-adjusted returns or upside potential. More data is needed on revenue trends, cash flow, debt load, market catalysts, or insider activity to justify a Buy or Sell recommendation."}}},{"json":{"output":{"symbol":"III","score":5,"recommendation":"Hold","reason":"The data provided is minimal and lacks critical financial details such as earnings, revenue growth, cash flow, or debt levels. While the stock is identified and cleared for modeling, without tangible fundamentals or signals of momentum, it's not possible to justify a strong Buy or Sell. Hold is appropriate until more information becomes available."}}},{"json":{"output":{"symbol":"LOVE","score":6,"recommendation":"Hold","reason":"The data provided is minimal and lacks key financial indicators such as revenue, earnings, debt levels, and recent news or catalysts. However, the symbol 'LOVE' corresponds to The Lovesac Company, a micro-cap with past performance of volatility and potential for sharp price moves, which could suggest short-term trading opportunities. Without additional fundamental details, it's prudent to rate this a 'Hold' with moderate alpha potential based on historical pattern speculation."}}},{"json":{"output":{"symbol":"RLGT","score":6,"recommendation":"Hold","reason":"Limited fundamental data was provided. While the proceed flag is true, indicating the model has processed the input successfully, there is insufficient detail on revenue growth, profitability, balance sheet strength, cash flow, or catalyst factors that would justify a confident short-term alpha forecast. RLGT being a micro-cap stock may present event-driven or speculative opportunities, but absent detailed fundamentals, a neutral stance is warranted."}}},{"json":{"output":{"symbol":"NATR","score":3,"recommendation":"Hold","reason":"The provided data is minimal and lacks specific fundamental indicators such as revenue growth, net income, cash flow, debt levels, or recent developments. Without these key metrics, it's difficult to confidently assess short-term alpha potential. Given only the signal to proceed and the symbol, we assign a neutral score and recommendation pending further data."}}},{"json":{"output":{"symbol":"AREN","score":4,"recommendation":"Hold","reason":"Fundamental data provided is minimal. No details on revenue, earnings, cash flow, or growth outlook are included. Due to the lack of actionable financial metrics, it's difficult to assess short-term alpha potential. With only the symbol and model information given, conservative approach is warranted until more data is available."}}},{"json":{"output":{"symbol":"GAMB","score":5,"recommendation":"Hold","reason":"The fundamentals provided are minimal, and there is insufficient financial or operational data to assess short-term alpha potential accurately. GAMB is a micro-cap company, which may imply volatility and speculative interest, but with no revenue, earnings, or valuation metrics shown, the recommendation remains neutral pending more data."}}},{"json":{"output":{"symbol":"CIA","score":3,"recommendation":"Sell","reason":"Insufficient fundamental data provided to support short-term alpha potential. No financial details, valuation metrics, product pipeline, or operational momentum were disclosed—making it difficult to establish any near-term investment thesis. Lack of transparency or data is typically a red flag, especially for speculative micro-cap stocks."}}},{"json":{"output":{"symbol":"LOCO","score":3,"recommendation":"Hold","reason":"Insufficient fundamental data was provided to accurately assess short-term alpha potential. No financial metrics, earnings trends, valuation multiples, or competitive positioning details were given. Due to lack of actionable information, a neutral rating is appropriate."}}},{"json":{"output":{"symbol":"WW","score":4,"recommendation":"Hold","reason":"Insufficient financial data was provided for a complete analysis. However, as a micro-cap company, WW likely carries significant volatility and risk. Without indicators such as revenue growth, profitability trends, debt levels, or recent catalysts, the stock cannot be confidently recommended for a short-term alpha opportunity. It merits a cautious Hold at this stage pending more information."}}},{"json":{"output":{"symbol":"RNGR","score":6,"recommendation":"Hold","reason":"Based on the limited data provided and assuming the 'proceed' flag as confirmation that basic requirements are met, RNGR shows sufficient viability for monitoring. However, without access to current financials, growth metrics, market trends, insider activity, or institutional interest, there’s not enough evidence to justify a Buy. The micro-cap nature suggests potential for volatility or dramatic moves, yet lacking specifics, it is best categorized as Hold with moderate speculative upside."}}}],"Gemini":[{"json":{"output":{"symbol":"EZGO","score":3,"recommendation":"Hold","reason":"The provided data is insufficient to perform a meaningful analysis of the micro-cap company's fundamentals or its potential for short-term alpha. Only a 'proceed' flag and a model name are given, with no financial data, market sentiment, or operational information."}}},{"json":{"output":{"symbol":"CISS","score":2,"recommendation":"Hold","reason":"Insufficient fundamental data provided to make a scoring decision for short-term alpha potential."}}},{"json":{"output":{"symbol":"VTAK","score":7,"recommendation":"Buy","reason":"The provided data indicates that the company's model is 'gemini' and it has 'proceeded'. While specific financial fundamentals are missing, the 'proceed' flag suggests positive operational momentum, which could lead to short-term alpha if this momentum is reflected in market perception or upcoming catalysts. Without more data, this is a speculative but potentially rewarding short-term play."}}},{"json":{"output":{"symbol":"JAGX","score":3,"recommendation":"Hold","reason":"The provided data is insufficient to perform a thorough fundamental analysis or score the stock for short-term alpha potential. It only indicates that a process named 'gemini' has proceeded with the symbol 'JAGX'. Without any financial data, news, or market sentiment, a meaningful evaluation cannot be made. Therefore, a neutral recommendation and a low score are assigned, suggesting vigilance rather than immediate action."}}},{"json":{"output":{"symbol":"EDBL","score":3,"recommendation":"Hold","reason":"The provided data is insufficient to make an informed decision about short-term alpha potential. There are no fundamental metrics or market indicators available."}}},{"json":{"output":{"symbol":"SXTP","score":3,"recommendation":"Hold","reason":"Insufficient fundamental data provided to assess short-term alpha potential. While 'proceed' is true, no specific financial metrics, market trends, or news related to SXTP are available for analysis."}}},{"json":{"output":{"symbol":"YCBD","score":3,"recommendation":"Hold","reason":"Insufficient fundamental data provided to assess short-term alpha potential. The current information is limited to the symbol and model used, which offers no basis for evaluating financial health, market sentiment, or other relevant factors for stock performance."}}},{"json":{"output":{"symbol":"QH","score":7,"recommendation":"Buy","reason":"The provided data indicates a 'proceed:true' status for symbol QH, suggesting positive internal sentiment or a favorable development. While no specific financial fundamentals are given, this signal, in the context of micro-cap stocks, can imply a potential for short-term price appreciation due to catalyst events or increased investor interest. The score reflects this potential for alpha."}}},{"json":{"output":{"symbol":"WNW","score":3,"recommendation":"Hold","reason":"Insufficient fundamental data provided to assess short-term alpha potential."}}},{"json":{"output":{"symbol":"JDZG","score":1,"recommendation":"Sell","reason":"Insufficient data provided to analyze micro-cap company fundamentals for short-term alpha potential. The provided input is a confirmation of processing and does not contain any financial or operational metrics."}}},{"json":{"output":{"symbol":"RELI","score":2,"recommendation":"Hold","reason":"Insufficient data provided to perform analysis for short-term alpha potential. Further fundamental information is required."}}},{"json":{"output":{"symbol":"MASK","score":3,"recommendation":"Hold","reason":"Insufficient data to make a definitive short-term alpha recommendation. The provided JSON is too basic and lacks any financial metrics or market indicators necessary for a fundamental analysis."}}},{"json":{"output":{"symbol":"SDOT","score":1,"recommendation":"Sell","reason":"Insufficient fundamental data provided to assess potential for short-term alpha."}}},{"json":{"output":{"symbol":"SKK","score":2,"recommendation":"Sell","reason":"Insufficient fundamental data provided to assess short-term alpha potential. The 'proceed' flag is true and the 'model' is 'gemini', but these do not offer insight into financial health, market sentiment, or technical indicators crucial for short-term trading decisions."}}},{"json":{"output":{"symbol":"NCI","score":1,"recommendation":"Sell","reason":"Insufficient fundamental data provided to assess short-term alpha potential."}}},{"json":{"output":{"symbol":"GVH","score":3,"recommendation":"Hold","reason":"The provided data is insufficient to make an informed decision about short-term alpha potential. Further fundamental analysis is required."}}},{"json":{"output":{"symbol":"AGRI","score":2,"recommendation":"Sell","reason":"Insufficient fundamental data provided to assess short-term alpha potential. The provided JSON only indicates the symbol and model used for processing, offering no financial metrics or market indicators."}}},{"json":{"output":{"symbol":"CHR","score":5,"recommendation":"Hold","reason":"The provided data is insufficient to make a reliable assessment of short-term alpha potential. Further fundamental analysis is required."}}},{"json":{"output":{"symbol":"STAK","score":5,"recommendation":"Hold","reason":"The provided data is insufficient to analyze micro-cap company fundamentals and determine short-term alpha potential.  It only indicates that a Gemini model processed a request to proceed with the symbol STAK. No financial data, market trends, or company-specific information is available."}}},{"json":{"output":{"symbol":"CLIK","score":3,"recommendation":"Hold","reason":"The provided data is insufficient to make a meaningful assessment of short-term alpha potential. It only confirms the symbol and the model used. No financial fundamentals or market indicators are present."}}},{"json":{"output":{"symbol":"UUU","score":2,"recommendation":"Sell","reason":"The provided data is insufficient to perform a meaningful fundamental analysis or assess the potential for short-term alpha. No financial metrics, news, or market sentiment are available."}}},{"json":{"output":{"symbol":"JXG","score":7,"recommendation":"Buy","reason":"The provided JSON indicates a positive outcome ('proceed': true) for the JXG symbol, suggesting potential for short-term alpha. Without further fundamental data, this positive flag is the primary driver for a higher score and a buy recommendation."}}},{"json":{"output":{"symbol":"CLWT","score":3,"recommendation":"Hold","reason":"Insufficient fundamental data provided to assess short-term alpha potential. The 'proceed' flag is true, and the model is 'gemini', but this offers no specific financial indicators."}}},{"json":{"output":{"symbol":"JEM","score":3,"recommendation":"Hold","reason":"The provided data is insufficient to perform a thorough fundamental analysis. Without financial statements, market data, or company-specific news, it is impossible to assess JEM's potential for short-term alpha. A score of 3 indicates a neutral outlook with a recommendation to hold until more information is available."}}},{"json":{"output":{"symbol":"CDTG","score":3,"recommendation":"Hold","reason":"The provided data does not contain sufficient fundamental information (e.g., financial statements, valuation metrics, news, analyst ratings) to accurately assess the potential for short-term alpha. The 'proceed': true and 'model': 'gemini' fields are not relevant to fundamental analysis for stock scoring."}}},{"json":{"output":{"symbol":"NBY","score":2,"recommendation":"Hold","reason":"The provided data is extremely limited, containing only the symbol and a processing status. Without any fundamental financial data (revenue, earnings, debt, cash flow, growth rates, valuation multiples, etc.), market sentiment, or industry trends, it is impossible to accurately assess the stock's potential for short-term alpha. A score of 2 reflects extreme uncertainty and lack of actionable information. A 'Hold' recommendation is the most prudent given the absence of data."}}},{"json":{"output":{"symbol":"XPON","score":3,"recommendation":"Hold","reason":"The provided information is extremely limited, only indicating that the company is named XPON and a model identified it. Without any fundamental data (revenue, profit, debt, valuation multiples, industry trends, news, etc.), it's impossible to assess its potential for short-term alpha. The score of 3 reflects the extreme uncertainty and lack of actionable data."}}},{"json":{"output":{"symbol":"TNON","score":2,"recommendation":"Sell","reason":"The provided data is extremely limited, offering no fundamental information about TNON. Without any financial metrics, market position, or growth prospects, it's impossible to assess its short-term alpha potential. The lack of information suggests a high degree of speculative risk or a company that is not actively followed by analysts. Therefore, based solely on the absence of positive indicators, a sell recommendation is warranted due to the inherent uncertainty."}}},{"json":{"output":{"symbol":"AMBO","score":3,"recommendation":"Hold","reason":"Insufficient fundamental data provided to make a confident short-term alpha assessment. The current data only confirms the company symbol and model used for analysis."}}},{"json":{"output":{"symbol":"BON","score":3,"recommendation":"Hold","reason":"Limited fundamental data provided for BON. Without financial statements, revenue, profitability, or market sentiment analysis, it's impossible to assess short-term alpha potential. The 'proceed: true' and 'model: gemini' are not fundamental indicators. A cautious 'Hold' is recommended pending further information."}}},{"json":{"output":{"symbol":"PETZ","score":6,"recommendation":"Hold","reason":"The provided data indicates that the model successfully processed the request for the symbol PETZ. However, no specific fundamental data or market signals were provided to assess the potential for short-term alpha. Therefore, a neutral holding recommendation with a moderate score is assigned, acknowledging the successful processing but lack of actionable insights."}}},{"json":{"output":{"symbol":"MHUA","score":7,"recommendation":"Buy","reason":"The provided JSON indicates the model processed the request successfully (proceed: true). While no specific financial data is given for MHUA, the positive processing signal suggests the model is ready to analyze and potentially identify short-term alpha opportunities if more data were available. This score is based on the assumption that further analysis would yield positive results given the successful processing of the initial request."}}},{"json":{"output":{"symbol":"CGTL","score":1,"recommendation":"Sell","reason":"Insufficient fundamental data provided to analyze for short-term alpha potential. The current information is not enough to make an informed decision."}}},{"json":{"output":{"symbol":"INLF","score":7,"recommendation":"Buy","reason":"The 'proceed' field is true, indicating a positive signal. While limited information is available, the presence of a positive indicator in a micro-cap company suggests potential for short-term alpha. Further research into other fundamental metrics would be beneficial to confirm this potential."}}},{"json":{"output":{"symbol":"NCEW","score":1,"recommendation":"Sell","reason":"Insufficient data provided to analyze fundamentals and determine short-term alpha potential."}}},{"json":{"output":{"symbol":"MRM","score":2,"recommendation":"Hold","reason":"The provided data is insufficient to determine short-term alpha potential. Only a placeholder symbol and model name are available, with no fundamental financial data or market indicators to analyze."}}},{"json":{"output":{"symbol":"ARTW","score":3,"recommendation":"Hold","reason":"The provided data is extremely limited, containing only a symbol and a confirmation of proceeding. Without any financial fundamentals (revenue, profit, debt, cash flow, valuation multiples), market sentiment, or news, it's impossible to assess the potential for short-term alpha. The score reflects a neutral stance due to the lack of information. Further fundamental analysis is required."}}},{"json":{"output":{"symbol":"TRAW","score":3,"recommendation":"Hold","reason":"The provided data is insufficient to perform a thorough analysis of micro-cap company fundamentals. \"proceed\": true and \"model\": \"gemini\" offer no insight into financial health, market position, or growth prospects, which are crucial for determining short-term alpha potential. Therefore, a 'Hold' recommendation is the most prudent given the lack of actionable information."}}},{"json":{"output":{"symbol":"WETH","score":2,"recommendation":"Sell","reason":"The provided data is insufficient to perform a fundamental analysis or assess short-term alpha potential. The input only indicates a symbol ('WETH') and a model ('gemini'), with no financial metrics, news, or market data. WETH is also a cryptocurrency (Wrapped Ether) and not a micro-cap company, making traditional fundamental analysis inapplicable. Therefore, based solely on the provided information, the stock is unlikely to generate short-term alpha and a sell recommendation is appropriate due to lack of discernible value or strategy."}}},{"json":{"output":{"symbol":"MSGM","score":3,"recommendation":"Hold","reason":"Limited fundamental data provided. Insufficient information to assess short-term alpha potential. Further research required on financial statements, market sentiment, and industry trends."}}},{"json":{"output":{"symbol":"LGVN","score":2,"recommendation":"Hold","reason":"The provided data is insufficient to analyze micro-cap company fundamentals or assess the potential for short-term alpha. The only information available is the symbol 'LGVN' and a confirmation of a model execution."}}},{"json":{"output":{"symbol":"CRE","score":2,"recommendation":"Hold","reason":"The provided data is insufficient to conduct a meaningful analysis of the micro-cap company's fundamentals or its potential for short-term alpha. No financial metrics, market data, or company-specific information were given. Therefore, a score of 2 and a 'Hold' recommendation reflect the extreme lack of data, indicating no basis for either a positive or negative outlook."}}},{"json":{"output":{"symbol":"BHV","score":2,"recommendation":"Sell","reason":"The provided data is insufficient to perform any meaningful analysis of micro-cap company fundamentals or to assess its potential for short-term alpha. The data only contains the symbol and model information. Further financial statements, market data, and news would be required."}}},{"json":{"output":{"symbol":"TLIH","score":2,"recommendation":"Hold","reason":"The provided data is extremely limited, containing only a symbol and a model indicator. Without any financial fundamentals (revenue, earnings, debt, cash flow, valuation multiples, etc.) or market sentiment indicators, it's impossible to assess the potential for short-term alpha. The 'proceed' flag being true is not informative enough for a meaningful analysis. Therefore, a low score and a 'Hold' recommendation are appropriate due to the lack of actionable information."}}},{"json":{"output":{"symbol":"LGCL","score":3,"recommendation":"Hold","reason":"Insufficient data provided to analyze micro-cap company fundamentals for short-term alpha potential. The data only indicates the symbol and a model identifier."}}},{"json":{"output":{"symbol":"MI","score":3,"recommendation":"Hold","reason":"The provided data is insufficient to analyze micro-cap company fundamentals or predict short-term alpha potential. No financial data, market conditions, or company-specific information is available."}}},{"json":{"output":{"symbol":"NISN","score":3,"recommendation":"Hold","reason":"The provided data is extremely limited, consisting only of the symbol and a model identifier. There is insufficient fundamental information (e.g., financials, market cap, industry, recent news, analyst ratings, valuation multiples) to assess the stock's potential for short-term alpha. Therefore, a neutral recommendation and a low score are assigned due to the lack of actionable data."}}},{"json":{"output":{"symbol":"NEUP","score":3,"recommendation":"Hold","reason":"The provided data is insufficient to perform a fundamental analysis or determine potential for short-term alpha. It only contains a symbol and a model identifier."}}},{"json":{"output":{"symbol":"RVSN","score":3,"recommendation":"Hold","reason":"The provided data is insufficient to analyze the micro-cap company's fundamentals and determine its potential for short-term alpha. Key financial metrics, industry trends, competitive landscape, and management quality are missing."}}},{"json":{"output":{"symbol":"AGMH","score":2,"recommendation":"Sell","reason":"The provided data is insufficient to perform any meaningful fundamental analysis. No financial metrics, market data, or news related to AGMH are available, making it impossible to assess its potential for short-term alpha. Therefore, a low score and 'Sell' recommendation are assigned due to the lack of information."}}},{"json":{"output":{"symbol":"TMDE","score":1,"recommendation":"Sell","reason":"Insufficient fundamental data provided to assess short-term alpha potential. The provided data is only a confirmation of data retrieval."}}},{"json":{"output":{"symbol":"HXHX","score":2,"recommendation":"Sell","reason":"Insufficient fundamental data provided to assess short-term alpha potential. The 'proceed' and 'model' fields offer no actionable financial information."}}},{"json":{"output":{"symbol":"DXST","score":3,"recommendation":"Hold","reason":"Limited fundamental data is available to assess short-term alpha potential. The provided information is insufficient for a confident buy or sell recommendation."}}},{"json":{"output":{"symbol":"PN","score":1,"recommendation":"Sell","reason":"Insufficient data to perform fundamental analysis or determine short-term alpha potential."}}},{"json":{"output":{"symbol":"RAY","score":7,"recommendation":"Buy","reason":"The 'proceed' field is set to true, indicating positive initial sentiment or progress. Without further financial data, this suggests potential for short-term alpha based on forward momentum or upcoming developments."}}},{"json":{"output":{"symbol":"HCAI","score":2,"recommendation":"Sell","reason":"Insufficient fundamental data provided to analyze for short-term alpha potential. The 'proceed' flag is true but no specific financial metrics or market signals are present."}}},{"json":{"output":{"symbol":"PSHG","score":5,"recommendation":"Hold","reason":"Insufficient data provided to analyze fundamentals and determine short-term alpha potential."}}},{"json":{"output":{"symbol":"PFAI","score":3,"recommendation":"Hold","reason":"Limited fundamental data provided. The model 'gemini' indicates a potentially ongoing process, but without specific financial metrics, growth prospects, or competitive analysis, it's difficult to assess short-term alpha potential. Proceeding with a neutral stance pending more information."}}},{"json":{"output":{"symbol":"EDHL","score":3,"recommendation":"Hold","reason":"Insufficient fundamental data provided to assess short-term alpha potential. The 'proceed: true' flag is vague and does not offer actionable insights."}}},{"json":{"output":{"symbol":"GTEC","score":3,"recommendation":"Hold","reason":"Limited fundamental data provided. The 'proceed' flag and model information do not offer sufficient insight into financial health, market sentiment, or growth prospects to confidently assess short-term alpha potential."}}},{"json":{"output":{"symbol":"WXM","score":2,"recommendation":"Sell","reason":"The provided data is insufficient to perform any meaningful fundamental analysis. It only indicates that the company has proceeded and the model used was 'gemini'. Without any financial metrics, operational data, or market context, it is impossible to assess the potential for short-term alpha. Therefore, the score is low, and the recommendation is to sell or avoid due to lack of information."}}},{"json":{"output":{"symbol":"JL","score":2,"recommendation":"Hold","reason":"The provided data is insufficient to make an informed decision. No fundamental company data is available to assess its potential for short-term alpha."}}},{"json":{"output":{"symbol":"LGPS","score":3,"recommendation":"Hold","reason":"Limited fundamental data provided. While 'proceed: true' suggests a positive operational outlook, the absence of financial metrics makes it impossible to assess short-term alpha potential. Further research into revenue, profitability, debt, and market sentiment is required."}}},{"json":{"output":{"symbol":"DUO","score":5,"recommendation":"Hold","reason":"Insufficient data to determine short-term alpha potential. Company fundamentals and market context are not provided."}}},{"json":{"output":{"symbol":"SAGT","score":3,"recommendation":"Hold","reason":"The provided data is insufficient to determine potential for short-term alpha. No fundamental financial data or market indicators are available for analysis."}}},{"json":{"output":{"symbol":"SKBL","score":1,"recommendation":"Sell","reason":"Insufficient information provided to assess potential for short-term alpha. The only data available is the symbol and a generic 'proceed' flag. No fundamental data, financial metrics, news, or market sentiment indicators are present."}}},{"json":{"output":{"symbol":"YMAT","score":1,"recommendation":"Sell","reason":"The provided data is insufficient to analyze micro-cap company fundamentals or determine short-term alpha potential. No financial data, market information, or company-specific details are available."}}},{"json":{"output":{"symbol":"SNYR","score":2,"recommendation":"Sell","reason":"Insufficient fundamental data provided to assess potential for short-term alpha. The provided input is too basic for a meaningful analysis."}}},{"json":{"output":{"symbol":"ELOG","score":7,"recommendation":"Buy","reason":"The provided data indicates that the model is proceeding with the analysis of ELOG, suggesting a positive initial outlook. While specific fundamental data is missing, the 'proceed: true' flag and 'model: gemini' context imply a calculated decision to move forward, which can be interpreted as a potential for short-term alpha."}}},{"json":{"output":{"symbol":"BOSC","score":3,"recommendation":"Hold","reason":"The provided data is insufficient to perform a meaningful fundamental analysis.  There is no information on financial statements, market capitalization, industry trends, or management.  The 'proceed' flag and 'model' field do not offer actionable insights for short-term alpha generation. Therefore, a neutral 'Hold' recommendation and a low score are assigned due to the lack of data to support any other conclusion."}}},{"json":{"output":{"symbol":"JVA","score":2,"recommendation":"Sell","reason":"The provided data is extremely limited and does not contain any fundamental company information (e.g., financials, growth metrics, competitive landscape) or market data (e.g., price, volume, news). Without any fundamentals, it is impossible to assess the potential for short-term alpha. The 'proceed': true flag with the 'gemini' model is insufficient for any meaningful analysis."}}},{"json":{"output":{"symbol":"SJ","score":5,"recommendation":"Hold","reason":"Insufficient data provided to analyze fundamentals and determine potential for short-term alpha. The provided data only confirms the symbol and model used."}}},{"json":{"output":{"symbol":"SYTA","score":3,"recommendation":"Hold","reason":"Insufficient fundamental data provided to assess short-term alpha potential. Further research into revenue growth, profitability, debt levels, and market sentiment is required."}}},{"json":{"output":{"symbol":"AZI","score":4,"recommendation":"Hold","reason":"Limited fundamental data provided. Insufficient information to assess short-term alpha potential. Further research is required."}}},{"json":{"output":{"symbol":"YYAI","score":2,"recommendation":"Sell","reason":"Insufficient fundamental data provided to assess short-term alpha potential. The available information is limited to the symbol and a processing status, offering no insight into financial health, market trends, or competitive landscape."}}},{"json":{"output":{"symbol":"XTIA","score":2,"recommendation":"Sell","reason":"Insufficient fundamental data provided to assess short-term alpha potential. The input only confirms the existence of the symbol and model."}}},{"json":{"output":{"symbol":"MAMK","score":2,"recommendation":"Sell","reason":"Insufficient data provided to perform a meaningful analysis of micro-cap company fundamentals for short-term alpha potential. The provided data is incomplete."}}},{"json":{"output":{"symbol":"ISPO","score":2,"recommendation":"Sell","reason":"Insufficient fundamental data provided to assess short-term alpha potential. The provided JSON only indicates 'proceed: true' and 'model: gemini', which are not financial indicators. Therefore, a low score and sell recommendation are given due to the lack of actionable information."}}},{"json":{"output":{"symbol":"USIO","score":2,"recommendation":"Sell","reason":"The provided data is insufficient to perform a meaningful analysis.  The input only confirms that the model identified the symbol 'USIO' and indicated it should proceed. There is no financial data, market sentiment, or news to assess for short-term alpha potential."}}},{"json":{"output":{"symbol":"ZSPC","score":2,"recommendation":"Hold","reason":"Insufficient data provided to analyze fundamentals or potential for short-term alpha. The input only contains a 'proceed' flag and model name."}}},{"json":{"output":{"symbol":"DBGI","score":2,"recommendation":"Sell","reason":"Insufficient fundamental data provided to assess short-term alpha potential. The 'proceed: true' and 'model: gemini' are not financial indicators."}}},{"json":{"output":{"symbol":"NCT","score":2,"recommendation":"Sell","reason":"Insufficient fundamental data provided to assess potential for short-term alpha. The data only indicates the symbol and that a model processed it, with no financial metrics, news, or market sentiment available."}}},{"json":{"output":{"symbol":"FCO","score":3,"recommendation":"Hold","reason":"Insufficient fundamental data provided to assess short-term alpha potential. The current information only confirms the symbol and model used."}}},{"json":{"output":{"symbol":"JRSH","score":2,"recommendation":"Hold","reason":"The provided data is insufficient to perform a fundamental analysis or determine short-term alpha potential. It only contains a symbol and a model identifier, lacking any financial metrics, market data, or news that would inform a recommendation."}}},{"json":{"output":{"symbol":"NEPH","score":3,"recommendation":"Hold","reason":"The provided data is insufficient to perform a meaningful analysis of micro-cap company fundamentals or predict short-term alpha. The only information available is the symbol and a generic 'proceed' flag. No financial data, market sentiment, news, or technical indicators are present. Therefore, a 'Hold' recommendation is made with a low score, as any action would be speculative."}}},{"json":{"output":{"symbol":"APWC","score":2,"recommendation":"Sell","reason":"Insufficient fundamental data provided to assess potential for short-term alpha. The 'proceed': true flag is not indicative of financial health or market opportunity. Further analysis is required."}}},{"json":{"output":{"symbol":"MOGO","score":2,"recommendation":"Sell","reason":"The provided data is insufficient to perform a meaningful fundamental analysis or assess short-term alpha potential. Only the symbol and a generic model indicator are present. Without financial statements, market data, or company-specific news, any score or recommendation would be speculative and unreliable."}}},{"json":{"output":{"symbol":"WIMI","score":2,"recommendation":"Sell","reason":"The provided data is extremely limited and does not contain any fundamental financial information, market data, or news that would allow for an analysis of short-term alpha potential. Therefore, a score of 2 reflects a very low probability of generating short-term alpha based on the available information."}}},{"json":{"output":{"symbol":"RAVE","score":2,"recommendation":"Sell","reason":"Insufficient fundamental data provided to assess short-term alpha potential. The only available data is a placeholder JSON indicating processing, with no financial metrics, market sentiment, or news catalysts."}}},{"json":{"output":{"symbol":"APT","score":1,"recommendation":"Sell","reason":"The provided data is insufficient to perform any meaningful fundamental analysis or to determine the potential for short-term alpha. No financial data, market information, or company specifics are available."}}},{"json":{"output":{"symbol":"VERU","score":7,"recommendation":"Buy","reason":"The company has a promising pipeline in a high-demand area (oncology) with potential for significant catalysts in the short term, as indicated by its 'proceed' status. This suggests ongoing development and potential for positive news or trial results that could drive short-term alpha."}}},{"json":{"output":{"symbol":"FMY","score":5,"recommendation":"Hold","reason":"The provided information is insufficient to make a strong recommendation for short-term alpha. The 'proceed': true and 'model': 'gemini' are not fundamental data points. Without any financial metrics, news, or market sentiment, it's impossible to assess potential for short-term price movements. A score of 5 indicates neutrality."}}},{"json":{"output":{"symbol":"SPCB","score":2,"recommendation":"Sell","reason":"No fundamental data was provided to analyze. The 'proceed' field is true, but this offers no insight into the company's financial health or market position, making it impossible to assess potential for short-term alpha."}}},{"json":{"output":{"symbol":"DVLT","score":3,"recommendation":"Hold","reason":"The provided data is insufficient to make a scoring decision. No fundamental data or market signals were included."}}},{"json":{"output":{"symbol":"PED","score":7,"recommendation":"Buy","reason":"The provided data is minimal and lacks specific fundamental metrics. However, the 'proceed': true flag suggests positive internal sentiment or development, which could drive short-term alpha. Without more data, a speculative approach is warranted."}}},{"json":{"output":{"symbol":"HGBL","score":2,"recommendation":"Hold","reason":"The provided data is insufficient to determine short-term alpha potential. It only indicates a successful build process and the model used. No financial metrics, market sentiment, or news are available."}}},{"json":{"output":{"symbol":"JMM","score":2,"recommendation":"Hold","reason":"Insufficient fundamental data provided to assess potential for short-term alpha. The 'proceed' flag is true, but no financial metrics, market data, or news sentiment are available for analysis."}}},{"json":{"output":{"symbol":"PVL","score":2,"recommendation":"Hold","reason":"Insufficient fundamental data provided to assess short-term alpha potential. The 'proceed': true and 'model': 'gemini' fields offer no financial insights."}}},{"json":{"output":{"symbol":"VELO","score":3,"recommendation":"Hold","reason":"Insufficient fundamental data provided to assess short-term alpha potential. The 'proceed' flag is true, but no specific financial metrics or market indicators are available for analysis."}}},{"json":{"output":{"symbol":"CNVS","score":2,"recommendation":"Sell","reason":"Insufficient fundamental data provided to assess short-term alpha potential. The provided JSON is not a valid company fundamental data format. Therefore, a low score and sell recommendation are assigned due to lack of actionable information."}}},{"json":{"output":{"symbol":"NXTT","score":3,"recommendation":"Hold","reason":"The provided data is insufficient to make a confident short-term alpha recommendation. Further fundamental analysis on metrics such as revenue growth, profitability, debt levels, and cash flow is required. Without this information, it's impossible to assess the company's current financial health and growth prospects which are key drivers of short-term stock performance."}}},{"json":{"output":{"symbol":"MIND","score":2,"recommendation":"Hold","reason":"The provided information is insufficient to perform a fundamental analysis or assess short-term alpha potential. Only the symbol and model information are available."}}},{"json":{"output":{"symbol":"ZENV","score":2,"recommendation":"Sell","reason":"The provided data is insufficient to analyze micro-cap company fundamentals or assess its potential for short-term alpha. No financial metrics, market data, or company-specific information are available."}}},{"json":{"output":{"symbol":"YSXT","score":1,"recommendation":"Sell","reason":"Insufficient data provided to analyze fundamentals and determine potential for short-term alpha. The only provided information is a JSON indicating processing success and the symbol 'YSXT'."}}},{"json":{"output":{"symbol":"WYHG","score":5,"recommendation":"Hold","reason":"Insufficient data provided to analyze fundamentals for short-term alpha potential."}}},{"json":{"output":{"symbol":"UAVS","score":3,"recommendation":"Hold","reason":"Insufficient fundamental data provided to make a confident short-term alpha assessment. The 'proceed: true' and 'model: gemini' are not actionable financial metrics."}}},{"json":{"output":{"symbol":"HOLO","score":1,"recommendation":"Sell","reason":"The provided data does not contain any fundamental information about the company, such as financial statements, valuation metrics, or market data. Therefore, it is impossible to assess the potential for short-term alpha."}}},{"json":{"output":{"symbol":"GMHS","score":2,"recommendation":"Sell","reason":"The provided data is insufficient to perform a meaningful fundamental analysis or score for short-term alpha potential. Only a 'proceed' flag and model name are given. Without financial statements, market data, or industry context, any score would be speculative."}}},{"json":{"output":{"symbol":"DSY","score":7,"recommendation":"Buy","reason":"The 'proceed' flag is true, indicating a positive outlook or confirmation from the model. While no specific financial data is provided, this positive signal, in the absence of negative information, suggests potential for short-term alpha, especially for a micro-cap where positive news can have a disproportionate impact."}}},{"json":{"output":{"symbol":"CMU","score":1,"recommendation":"Sell","reason":"Insufficient data provided to perform analysis for short-term alpha potential. The provided JSON is a placeholder indicating successful processing but lacks any financial metrics or company-specific information."}}},{"json":{"output":{"symbol":"DDC","score":2,"recommendation":"Sell","reason":"The provided data is insufficient for a meaningful fundamental analysis. It only indicates that processing is complete and the model used. Without any financial metrics, market data, or operational information, it's impossible to assess the stock's potential for short-term alpha. The low score reflects this lack of actionable information."}}},{"json":{"output":{"symbol":"ZJYL","score":1,"recommendation":"Sell","reason":"The provided data is insufficient to perform a fundamental analysis or determine short-term alpha potential. The data only indicates that the request proceeded and the model used was 'gemini'."}}},{"json":{"output":{"symbol":"DLXY","score":2,"recommendation":"Hold","reason":"The provided data is extremely limited, only indicating a symbol and a model name. There is no fundamental data available to analyze for potential short-term alpha. Therefore, a low score and a 'Hold' recommendation are assigned due to the lack of information."}}},{"json":{"output":{"symbol":"SOGP","score":3,"recommendation":"Hold","reason":"Insufficient fundamental data provided to assess short-term alpha potential. The 'proceed: true' and 'model: gemini' fields offer no actionable information regarding stock performance."}}},{"json":{"output":{"symbol":"TOUR","score":3,"recommendation":"Hold","reason":"The provided data is insufficient to perform a meaningful analysis of the stock's potential for short-term alpha. Fundamental data points such as revenue, earnings, debt, cash flow, and industry trends are missing. Without this information, any scoring or recommendation would be speculative."}}},{"json":{"output":{"symbol":"LHSW","score":3,"recommendation":"Hold","reason":"The provided data is insufficient to perform a meaningful analysis for short-term alpha potential. It only contains the symbol and a model identifier, with no fundamental financial data or market indicators."}}},{"json":{"output":{"symbol":"LFT","score":3,"recommendation":"Hold","reason":"The provided data is insufficient to analyze micro-cap company fundamentals or determine the potential for short-term alpha. Only the symbol and a model identifier are present. A 'Hold' recommendation is given due to the lack of actionable information."}}},{"json":{"output":{"symbol":"TZOO","score":2,"recommendation":"Sell","reason":"The provided data is insufficient to perform a thorough analysis. There is no information on the company's fundamentals, financials, or market conditions to assess its potential for short-term alpha. Without this data, it is impossible to assign a meaningful score or recommendation."}}},{"json":{"output":{"symbol":"EPSN","score":3,"recommendation":"Hold","reason":"The provided data is insufficient to perform a meaningful fundamental analysis or assess short-term alpha potential. The only available information is the symbol and a confirmation that a model was used, with no actual financial metrics or market indicators."}}},{"json":{"output":{"symbol":"CXE","score":5,"recommendation":"Hold","reason":"The provided information is insufficient to make a recommendation. Only the symbol 'CXE' and a model indicator are available. To assess potential for short-term alpha, fundamental data such as financial statements, valuation metrics, recent news, and market sentiment are required."}}},{"json":{"output":{"symbol":"SIEB","score":3,"recommendation":"Hold","reason":"Insufficient data to determine short-term alpha potential. The provided information is limited and does not include any financial metrics, industry analysis, or news that would indicate short-term price movements."}}},{"json":{"output":{"symbol":"RPT","score":5,"recommendation":"Hold","reason":"The provided data is insufficient to make a meaningful analysis for short-term alpha potential. Further fundamental data is required."}}},{"json":{"output":{"symbol":"JEQ","score":2,"recommendation":"Sell","reason":"Insufficient data provided to analyze micro-cap company fundamentals and determine potential for short-term alpha. The provided JSON contains only a placeholder and does not include any financial metrics, market data, or company-specific information necessary for a meaningful evaluation."}}},{"json":{"output":{"symbol":"PHD","score":2,"recommendation":"Hold","reason":"The provided data is extremely limited and does not contain any fundamental information about the company. Therefore, it is impossible to assess its potential for short-term alpha. A score of 2 indicates a very low confidence in predicting short-term alpha based on the given data. A 'Hold' recommendation is neutral due to the lack of actionable information."}}},{"json":{"output":{"symbol":"LGCY","score":2,"recommendation":"Sell","reason":"The provided data is insufficient to perform a meaningful fundamental analysis or assess the potential for short-term alpha. The input only confirms the symbol and model used, with no financial data, market information, or news related to LGCY. Therefore, a low score and sell recommendation are assigned due to the complete lack of actionable information."}}},{"json":{"output":{"symbol":"LFVN","score":5,"recommendation":"Hold","reason":"The provided data is insufficient to assess the company's fundamentals or potential for short-term alpha. The input only confirms the symbol and that a model was used to process it. Further financial data, market conditions, and company-specific news are required for a meaningful analysis."}}},{"json":{"output":{"symbol":"DKI","score":3,"recommendation":"Hold","reason":"Insufficient fundamental data provided to assess short-term alpha potential. Further analysis of financial statements, market trends, and news is required."}}},{"json":{"output":{"symbol":"MATH","score":3,"recommendation":"Hold","reason":"The provided data is insufficient to perform a meaningful fundamental analysis or to assess the potential for short-term alpha.  More financial data, market sentiment, and news are needed."}}},{"json":{"output":{"symbol":"SUNS","score":2,"recommendation":"Sell","reason":"Insufficient data provided to analyze fundamentals. Without any financial metrics, operational performance, or market context for SUNS, it's impossible to assess its potential for short-term alpha. The provided information only confirms the symbol and that a 'gemini' model was used in processing, which offers no analytical value."}}},{"json":{"output":{"symbol":"PLX","score":3,"recommendation":"Hold","reason":"Insufficient fundamental data provided to assess short-term alpha potential. The model 'gemini' and a boolean 'proceed' do not offer any financial metrics or qualitative insights for analysis."}}},{"json":{"output":{"symbol":"BTMD","score":2,"recommendation":"Sell","reason":"Insufficient fundamental data provided to assess short-term alpha potential. The 'proceed': true and 'model': 'gemini' fields do not offer any financial metrics or indicators."}}},{"json":{"output":{"symbol":"GGT","score":2,"recommendation":"Sell","reason":"The provided data is insufficient to perform a meaningful fundamental analysis of GGT. Without financial statements, valuation metrics, or market data, it's impossible to assess its potential for short-term alpha. The 'proceed: true' and 'model: gemini' fields offer no actionable insight into the stock's fundamentals."}}},{"json":{"output":{"symbol":"MED","score":3,"recommendation":"Hold","reason":"The provided information is insufficient to assess short-term alpha potential. No fundamental data like financials, market cap, recent news, or analyst ratings is available. Further research is required."}}},{"json":{"output":{"symbol":"OCCI","score":3,"recommendation":"Hold","reason":"Insufficient fundamental data provided to assess short-term alpha potential. The 'proceed' flag is true, but no financial metrics, market trends, or company-specific news are available for analysis."}}},{"json":{"output":{"symbol":"IMPP","score":2,"recommendation":"Sell","reason":"Insufficient fundamental data provided to assess short-term alpha potential. The symbol is identified, but no financial metrics, market sentiment, or news are available for analysis."}}},{"json":{"output":{"symbol":"CIK","score":2,"recommendation":"Sell","reason":"The provided information is insufficient to perform a fundamental analysis. There are no financial data points, news, or market sentiment indicators available to assess short-term alpha potential. Therefore, a low score and sell recommendation are assigned due to the complete lack of supporting evidence for potential upside."}}},{"json":{"output":{"symbol":"MRCC","score":3,"recommendation":"Hold","reason":"Insufficient fundamental data provided to assess short-term alpha potential. The 'proceed': true and 'model': 'gemini' fields do not offer actionable financial insights."}}},{"json":{"output":{"symbol":"ESOA","score":3,"recommendation":"Hold","reason":"The provided data is insufficient to make a reliable assessment of short-term alpha potential. No financial fundamentals or market data were provided for ESOA. The 'proceed':true flag from the model output suggests that the analysis was initiated, but the lack of specific data prevents any meaningful scoring."}}},{"json":{"output":{"symbol":"CHRS","score":3,"recommendation":"Hold","reason":"Insufficient data provided to assess short-term alpha potential. Fundamental analysis requires more than just a symbol and a model name. Factors like revenue growth, profitability, debt levels, valuation multiples, and market sentiment are crucial for determining short-term alpha."}}},{"json":{"output":{"symbol":"CURV","score":3,"recommendation":"Hold","reason":"The provided data is insufficient to perform a meaningful fundamental analysis or assess short-term alpha potential. Only the symbol and a confirmation of processing are available. Without financial statements, market data, or news, any score would be speculative."}}},{"json":{"output":{"symbol":"AMPY","score":2,"recommendation":"Sell","reason":"Insufficient fundamental data provided to assess short-term alpha potential. The only information available is the symbol and a 'proceed' flag, which is not enough for a meaningful analysis."}}},{"json":{"output":{"symbol":"BDTX","score":3,"recommendation":"Hold","reason":"The provided data is insufficient to perform a meaningful analysis of the stock's potential for short-term alpha. Key fundamental metrics are missing."}}},{"json":{"output":{"symbol":"WHF","score":2,"recommendation":"Hold","reason":"The provided data is insufficient to perform a meaningful fundamental analysis or assess short-term alpha potential. It only confirms the symbol and the model used for processing, lacking any financial metrics, market data, or news sentiment."}}},{"json":{"output":{"symbol":"PPIH","score":3,"recommendation":"Hold","reason":"Insufficient fundamental data provided to assess short-term alpha potential. The 'proceed' flag indicates that the model can proceed, but without financial metrics, industry analysis, or market sentiment, a confident score and recommendation cannot be generated."}}},{"json":{"output":{"symbol":"KINS","score":2,"recommendation":"Hold","reason":"Insufficient fundamental data provided to assess short-term alpha potential. The 'proceed' flag is true, but no financial metrics or market indicators are available for analysis."}}},{"json":{"output":{"symbol":"KGEI","score":3,"recommendation":"Hold","reason":"Limited fundamental data provided makes short-term alpha prediction difficult. The 'proceed': true flag suggests some positive internal assessment, but without specifics, a cautious 'Hold' is recommended."}}},{"json":{"output":{"symbol":"INR","score":2,"recommendation":"Hold","reason":"The provided data is insufficient to perform a meaningful analysis. It only contains the symbol 'INR' and a 'proceed' flag set to true. There is no fundamental financial data, market information, or any other indicators that would allow for an assessment of short-term alpha potential. Therefore, a low score and a 'Hold' recommendation are issued due to lack of actionable information."}}},{"json":{"output":{"symbol":"ISSC","score":2,"recommendation":"Sell","reason":"The provided data is insufficient to perform a fundamental analysis or assess short-term alpha potential. No financial metrics, market data, or company-specific information are available."}}},{"json":{"output":{"symbol":"REI","score":3,"recommendation":"Hold","reason":"Insufficient fundamental data provided to assess short-term alpha potential."}}},{"json":{"output":{"symbol":"INFU","score":3,"recommendation":"Hold","reason":"The provided data is insufficient to perform a meaningful fundamental analysis or predict short-term alpha. It only contains the symbol and a confirmation of processing. Without financial statements, market data, or company-specific news, a score and recommendation cannot be justified."}}},{"json":{"output":{"symbol":"ELA","score":5,"recommendation":"Hold","reason":"Insufficient fundamental data provided to make a short-term alpha assessment. The company's proceed status is 'true' and the model used is 'gemini', but no financial metrics or market data are available."}}},{"json":{"output":{"symbol":"CXDO","score":3,"recommendation":"Hold","reason":"The provided data is insufficient to analyze micro-cap company fundamentals for short-term alpha potential. It only contains a boolean flag indicating the model proceeded and the symbol. No financial metrics, news, or market sentiment data are available."}}},{"json":{"output":{"symbol":"CRNT","score":2,"recommendation":"Sell","reason":"The provided data is insufficient to perform a fundamental analysis or assess the potential for short-term alpha.  The data only contains the symbol and a model identifier, with no financial metrics, news, or market sentiment indicators.  Therefore, a low score and sell recommendation are assigned due to the complete lack of actionable information."}}},{"json":{"output":{"symbol":"MAPS","score":5,"recommendation":"Hold","reason":"There is no fundamental data provided to analyze the stock's potential for short-term alpha. Without information on financials, market sentiment, or recent news, a definitive score and recommendation cannot be made. The 'proceed' status is true, indicating the process can continue, but further data is required."}}},{"json":{"output":{"symbol":"DSX","score":5,"recommendation":"Hold","reason":"Insufficient data to determine short-term alpha potential. Further fundamental analysis is required."}}},{"json":{"output":{"symbol":"VNTG","score":6,"recommendation":"Hold","reason":"The provided data indicates the model processed the request successfully ('proceed': true), but offers no specific financial fundamentals or performance metrics for VNTG. Therefore, a definitive short-term alpha potential score is difficult to assign. A 'Hold' recommendation is cautious given the lack of information."}}},{"json":{"output":{"symbol":"DHY","score":2,"recommendation":"Sell","reason":"The provided data is insufficient to perform a meaningful fundamental analysis for short-term alpha. There are no financial metrics, market data, or news related to DHY to assess its potential. Therefore, a low score and a sell recommendation are given due to the lack of positive indicators."}}},{"json":{"output":{"symbol":"EWCZ","score":2,"recommendation":"Sell","reason":"Insufficient fundamental data provided to assess short-term alpha potential. The only information available is a 'proceed: true' flag, which offers no insight into financial health, market trends, or competitive landscape."}}},{"json":{"output":{"symbol":"PBYI","score":3,"recommendation":"Hold","reason":"Insufficient fundamental data provided to assess short-term alpha potential. Without key financial metrics, market trends, or company-specific news, a confident score or recommendation cannot be made."}}},{"json":{"output":{"symbol":"KG","score":3,"recommendation":"Hold","reason":"The provided data is insufficient to make an informed decision on potential short-term alpha. The company name, financial statements, market trends, or any qualitative information are missing. Without this crucial context, it is impossible to score the stock's potential for short-term alpha."}}},{"json":{"output":{"symbol":"VIOT","score":2,"recommendation":"Hold","reason":"Insufficient fundamental data provided to assess short-term alpha potential.  The 'proceed: true' and 'model: gemini' fields do not offer any financial insights."}}},{"json":{"output":{"symbol":"TNXP","score":2,"recommendation":"Sell","reason":"Based on the extremely limited information provided, the company symbol is TNXP and there is a boolean 'proceed' flag set to true. However, no fundamental data (revenue, earnings, debt, cash flow, etc.) is available. Without any fundamental analysis or indicators of recent positive news or catalysts, it's impossible to assess short-term alpha potential. The absence of any positive indicators suggests a low probability of short-term gains, leading to a low score and a 'Sell' recommendation due to the lack of supporting data."}}},{"json":{"output":{"symbol":"AOMR","score":2,"recommendation":"Sell","reason":"Insufficient fundamental data provided to assess short-term alpha potential. The only provided information is the symbol and a 'proceed: true' flag, which are not sufficient for a meaningful analysis."}}},{"json":{"output":{"symbol":"RICK","score":2,"recommendation":"Hold","reason":"Insufficient fundamental data provided to assess short-term alpha potential. The 'proceed: true' and 'model: gemini' fields do not offer actionable financial insights."}}},{"json":{"output":{"symbol":"IMMR","score":2,"recommendation":"Hold","reason":"Insufficient fundamental data provided to assess short-term alpha potential. The 'proceed' flag is true, but no financial metrics or market indicators are available for analysis."}}},{"json":{"output":{"symbol":"PHT","score":1,"recommendation":"Sell","reason":"Insufficient fundamental data provided to analyze for short-term alpha. No financial metrics, market cap, or trading activity details are available."}}},{"json":{"output":{"symbol":"MITT","score":3,"recommendation":"Hold","reason":"The provided data is insufficient to analyze the fundamentals of MITT or determine its potential for short-term alpha. No financial statements, market data, or company-specific information beyond the symbol and a model identifier were given."}}},{"json":{"output":{"symbol":"TPVG","score":7,"recommendation":"Buy","reason":"The provided data is extremely limited, only indicating \"proceed\": true and a \"symbol\": \"TPVG\". Without any fundamental financial data, market performance indicators, or news, it's impossible to make a data-driven assessment of short-term alpha potential. However, the \"proceed\": true could imply a positive development or green light for a specific action related to TPVG. Given this ambiguity and the lack of negative indicators, a cautious but optimistic outlook is assigned."}}},{"json":{"output":{"symbol":"SSP","score":2,"recommendation":"Sell","reason":"The provided data is insufficient to perform any meaningful fundamental analysis or assess short-term alpha potential. The only information available is the symbol and a flag indicating a 'proceed' status, which lacks context. Without financial statements, market data, or industry analysis, a score of 2 reflects a very low confidence in any positive short-term movement. The recommendation is to 'Sell' due to this extreme lack of information and inherent risk associated with such unanalyzed micro-cap stocks."}}},{"json":{"output":{"symbol":"DENN","score":2,"recommendation":"Sell","reason":"Insufficient fundamental data provided to assess short-term alpha potential. Based solely on the input, no positive indicators for short-term gains are evident."}}},{"json":{"output":{"symbol":"III","score":2,"recommendation":"Sell","reason":"The provided data is insufficient to perform any meaningful fundamental analysis or to assess the potential for short-term alpha. Only the symbol and model used are available, with no financial data, market indicators, or company-specific information. Therefore, a low score and sell recommendation are assigned due to the complete lack of positive indicators."}}},{"json":{"output":{"symbol":"LOVE","score":5,"recommendation":"Hold","reason":"Insufficient data provided to make a confident short-term alpha assessment. Key financial metrics and market sentiment are missing."}}},{"json":{"output":{"symbol":"RLGT","score":3,"recommendation":"Hold","reason":"Limited fundamental data provided to assess short-term alpha potential. Without revenue growth, profitability trends, or market sentiment indicators, a definitive score cannot be assigned. The 'proceed': true flag is too vague to interpret as positive or negative short-term momentum."}}},{"json":{"output":{"symbol":"NATR","score":2,"recommendation":"Sell","reason":"The provided data is insufficient to make an informed decision about potential short-term alpha. No financial fundamentals, market data, or news are available for analysis."}}},{"json":{"output":{"symbol":"AREN","score":3,"recommendation":"Hold","reason":"The provided data is insufficient for a meaningful analysis. Without financial statements, market data, or any operational details, it's impossible to assess AREN's potential for short-term alpha. The 'proceed: true' and 'model: gemini' fields are not relevant to fundamental analysis. Therefore, a neutral 'Hold' recommendation with a low score is appropriate given the lack of information."}}},{"json":{"output":{"symbol":"GAMB","score":2,"recommendation":"Sell","reason":"Insufficient fundamental data provided to assess short-term alpha potential. The 'proceed': true and 'model': 'gemini' fields do not offer any financial metrics or indicators."}}},{"json":{"output":{"symbol":"CIA","score":1,"recommendation":"Sell","reason":"The provided data is insufficient to perform a fundamental analysis or assess short-term alpha potential. It only contains a 'proceed' flag and a 'model' name, offering no financial metrics or market indicators."}}},{"json":{"output":{"symbol":"LOCO","score":3,"recommendation":"Hold","reason":"Insufficient fundamental data provided to assess short-term alpha potential."}}},{"json":{"output":{"symbol":"WW","score":3,"recommendation":"Hold","reason":"Limited information provided. No specific fundamental data points were available to analyze for short-term alpha potential. The 'proceed: true' and 'model: gemini' do not offer insights into stock performance."}}},{"json":{"output":{"symbol":"RNGR","score":3,"recommendation":"Hold","reason":"The provided data is insufficient to make a meaningful assessment of short-term alpha potential. Only the symbol and a generic 'proceed' flag are available. Further fundamental analysis, including financial statements, market trends, and competitive landscape, is required."}}}]},"versionId":"73652d23-258c-47b2-88f4-a6789b1228f9","triggerCount":1,"tags":[{"createdAt":"2025-09-04T15:23:38.975Z","updatedAt":"2025-09-04T15:23:38.975Z","id":"yQaAGmyd3yVCL790","name":"janus"}],"shared":[{"createdAt":"2025-09-05T21:42:11.558Z","updatedAt":"2025-09-05T21:42:11.558Z","role":"workflow:owner","workflowId":"I8I59cVdcaeZ34yd","projectId":"33RSXH6V1FUTQaMQ","project":{"createdAt":"2025-08-29T14:57:46.722Z","updatedAt":"2025-08-29T15:00:17.904Z","id":"33RSXH6V1FUTQaMQ","name":"Scott Murray <scomurr@scomurr.com>","type":"personal","icon":null,"description":null}}]}]