n8n-workflows/03 - scoring/03b - Update Conviction Scores (AI).json
{
  "name": "03b - Update Conviction Scores (AI)",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -208,
        -128
      ],
      "id": "01c100e3-cac2-4c3b-b2f4-1e13f1e8dca9",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "insert into ticker_buys (symbol, conviction, last_updated)\nvalues (\n  '{{ $json.ticker }}',\n  '{{ $json.conviction }}',\n  CURRENT_TIMESTAMP\n)\nON CONFLICT (symbol) DO UPDATE\nSET\n  conviction = EXCLUDED.conviction,\n  last_updated = CURRENT_TIMESTAMP",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1136,
        -128
      ],
      "id": "59446517-a2e6-4a1b-8572-8ba6ad9f2852",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "MI553DLfDKBYBMXy",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let tickers = [\n  { \"ticker\": \"IMPP\", \"signal\": \"Buy\", \"conviction\": 5 },\n  { \"ticker\": \"PSHG\", \"signal\": \"Buy\", \"conviction\": 5 },\n  { \"ticker\": \"MIND\", \"signal\": \"Buy\", \"conviction\": 4 },\n  { \"ticker\": \"CHRS\", \"signal\": \"Buy\", \"conviction\": 4 },\n  { \"ticker\": \"MAPS\", \"signal\": \"Buy\", \"conviction\": 4 },\n  { \"ticker\": \"IMMR\", \"signal\": \"Buy\", \"conviction\": 3 },\n  { \"ticker\": \"CRNT\", \"signal\": \"Buy\", \"conviction\": 3 },\n  { \"ticker\": \"PBYI\", \"signal\": \"Buy\", \"conviction\": 3 },\n  { \"ticker\": \"GAMB\", \"signal\": \"Buy\", \"conviction\": 2 },\n  { \"ticker\": \"MATH\", \"signal\": \"Buy\", \"conviction\": 2 },\n  { \"ticker\": \"LGPS\", \"signal\": \"Buy\", \"conviction\": 1 }\n]\n\n\nreturn tickers;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        944,
        -128
      ],
      "id": "4e7b4d1d-80fb-4296-ac6a-d1bbd4b4c941",
      "name": "Conviction Scores"
    },
    {
      "parameters": {
        "promptType": "define",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        512,
        -128
      ],
      "id": "69b68154-7433-4b3b-ba18-d6de07fa5367",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "llama3:latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        400,
        96
      ],
      "id": "512562ad-d5a4-4abc-8287-021efe324046",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "4K9PdbSii5iKOqMf",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.5,
      "position": [
        544,
        96
      ],
      "id": "8497b511-facb-47cb-8694-981ca8dcc5a8",
      "name": "Redis Chat Memory",
      "credentials": {
        "redis": {
          "id": "dEy2FKq9eswHF0pr",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "run your command like this: docker exec pentest-tools curl <search here>",
        "command": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Command', `run your command like this: docker exec pentest-tools curl <search here>`, 'string') }}"
      },
      "type": "n8n-nodes-base.executeCommandTool",
      "typeVersion": 1,
      "position": [
        704,
        96
      ],
      "id": "cf1afd1f-6bee-4b51-ad65-0730a65b4059",
      "name": "kali_tools"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "CREATE TABLE IF NOT EXISTS ticker_buys (\n  symbol TEXT PRIMARY KEY,\n  thesis TEXT,                  -- Original alpha thesis\n  original_conviction INTEGER, -- Initial conviction score (frozen)\n  last_conviction INTEGER,     -- Previous conviction score\n  conviction INTEGER,          -- Current conviction score\n  last_updated TIMESTAMP       -- Timestamp of last update\n);\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        0,
        -128
      ],
      "id": "b9dc90f5-a0b6-4c9a-97e9-d22e3789501b",
      "name": "Create Table if Missing",
      "credentials": {
        "postgres": {
          "id": "MI553DLfDKBYBMXy",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select symbol from portfolio_positions where entry_date = CURRENT_DATE and strategy = 'daily' and symbol != 'USDD';",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        208,
        -128
      ],
      "id": "a18ef9ed-31fa-45a9-acca-d421b6b3e28d",
      "name": "Get Active Tickers",
      "credentials": {
        "postgres": {
          "id": "MI553DLfDKBYBMXy",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Create Table if Missing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Conviction Scores": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Conviction Scores",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Redis Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "kali_tools": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create Table if Missing": {
      "main": [
        [
          {
            "node": "Get Active Tickers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Active Tickers": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c6c1df01-29fa-459b-a3a0-74682f0ccdb3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f789c2c474c97ef5e4de040eeaabbf0c6fb8405fe1c6683d5ae6768188a5df19"
  },
  "id": "yzEftYurQxKldLHD",
  "tags": [
    {
      "createdAt": "2025-09-04T15:23:38.975Z",
      "updatedAt": "2025-09-04T15:23:38.975Z",
      "id": "yQaAGmyd3yVCL790",
      "name": "janus"
    }
  ]
}