n8n-workflows/03 - scoring/03b - Set Conviction Scores.json
{
  "name": "03b - Set Conviction Scores",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "ffd5e656-e75a-40fd-934c-fbee6d0c2c7d",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "CREATE TABLE IF NOT EXISTS ticker_buys (\n  symbol TEXT PRIMARY KEY,\n  conviction INTEGER,\n  last_updated TIMESTAMP DEFAULT CURRENT_TIMESTAMP\n);\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        208,
        0
      ],
      "id": "ff8ca9c2-2f20-4009-8b06-c8045fbef3ae",
      "name": "Create Table if Missing",
      "credentials": {
        "postgres": {
          "id": "MI553DLfDKBYBMXy",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "insert into ticker_buys (symbol, conviction, last_updated)\nvalues (\n  '{{ $json.ticker }}',\n  '{{ $json.conviction }}',\n  CURRENT_TIMESTAMP\n)\nON CONFLICT (symbol) DO UPDATE\nSET\n  conviction = EXCLUDED.conviction,\n  last_updated = CURRENT_TIMESTAMP",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        592,
        0
      ],
      "id": "a80dd8cf-90ee-4393-9fdf-63d12155f24f",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "MI553DLfDKBYBMXy",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "content": "Conviction scores are provided by ChatGPT and pasted in manuallly",
        "height": 96
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        304,
        160
      ],
      "typeVersion": 1,
      "id": "d30aa26f-6e96-4329-95c4-6f45c2a68cba",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "jsCode": "let tickers = [\n  { \"ticker\": \"IMPP\", \"signal\": \"Buy\", \"conviction\": 5 },\n  { \"ticker\": \"PSHG\", \"signal\": \"Buy\", \"conviction\": 5 },\n  { \"ticker\": \"MIND\", \"signal\": \"Buy\", \"conviction\": 4 },\n  { \"ticker\": \"CHRS\", \"signal\": \"Buy\", \"conviction\": 4 },\n  { \"ticker\": \"MAPS\", \"signal\": \"Buy\", \"conviction\": 4 },\n  { \"ticker\": \"IMMR\", \"signal\": \"Buy\", \"conviction\": 3 },\n  { \"ticker\": \"CRNT\", \"signal\": \"Buy\", \"conviction\": 3 },\n  { \"ticker\": \"PBYI\", \"signal\": \"Buy\", \"conviction\": 3 },\n  { \"ticker\": \"GAMB\", \"signal\": \"Buy\", \"conviction\": 2 },\n  { \"ticker\": \"MATH\", \"signal\": \"Buy\", \"conviction\": 2 },\n  { \"ticker\": \"LGPS\", \"signal\": \"Buy\", \"conviction\": 1 }\n]\n\n\nreturn tickers;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        384,
        0
      ],
      "id": "3b750823-c168-44e9-8dd9-cffe1aed58e6",
      "name": "Conviction Scores"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Create Table if Missing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Table if Missing": {
      "main": [
        [
          {
            "node": "Conviction Scores",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Conviction Scores": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "7acb2314-3fd9-4b4a-b98f-fb959c47e5ae",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f789c2c474c97ef5e4de040eeaabbf0c6fb8405fe1c6683d5ae6768188a5df19"
  },
  "id": "UykOMwY7S9jYs7z9",
  "tags": []
}