n8n-workflows/03 - scoring/03b_-_Update_Conviction_Scores__AI_.json
[{"createdAt":"2025-09-09T02:00:12.436Z","updatedAt":"2025-09-10T14:34:03.000Z","id":"yzEftYurQxKldLHD","name":"03b - Update Conviction Scores (AI)","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-368,-128],"id":"01c100e3-cac2-4c3b-b2f4-1e13f1e8dca9","name":"When clicking ‘Execute workflow’"},{"parameters":{"jsCode":"let tickers = [\n  { \"ticker\": \"IMPP\", \"signal\": \"Buy\", \"conviction\": 5 },\n  { \"ticker\": \"PSHG\", \"signal\": \"Buy\", \"conviction\": 5 },\n  { \"ticker\": \"MIND\", \"signal\": \"Buy\", \"conviction\": 4 },\n  { \"ticker\": \"CHRS\", \"signal\": \"Buy\", \"conviction\": 4 },\n  { \"ticker\": \"MAPS\", \"signal\": \"Buy\", \"conviction\": 4 },\n  { \"ticker\": \"IMMR\", \"signal\": \"Buy\", \"conviction\": 3 },\n  { \"ticker\": \"CRNT\", \"signal\": \"Buy\", \"conviction\": 3 },\n  { \"ticker\": \"PBYI\", \"signal\": \"Buy\", \"conviction\": 3 },\n  { \"ticker\": \"GAMB\", \"signal\": \"Buy\", \"conviction\": 2 },\n  { \"ticker\": \"MATH\", \"signal\": \"Buy\", \"conviction\": 2 },\n  { \"ticker\": \"LGPS\", \"signal\": \"Buy\", \"conviction\": 1 }\n]\n\n\nreturn tickers;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[672,-128],"id":"4e7b4d1d-80fb-4296-ac6a-d1bbd4b4c941","name":"Conviction Scores"},{"parameters":{"promptType":"define","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[304,-128],"id":"69b68154-7433-4b3b-ba18-d6de07fa5367","name":"AI Agent"},{"parameters":{"model":"llama3:latest","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOllama","typeVersion":1,"position":[176,96],"id":"512562ad-d5a4-4abc-8287-021efe324046","name":"Ollama Chat Model","credentials":{"ollamaApi":{"id":"4K9PdbSii5iKOqMf","name":"Ollama account"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryRedisChat","typeVersion":1.5,"position":[336,96],"id":"8497b511-facb-47cb-8694-981ca8dcc5a8","name":"Redis Chat Memory","credentials":{"redis":{"id":"dEy2FKq9eswHF0pr","name":"Redis account"}}},{"parameters":{"toolDescription":"run your command like this: docker exec pentest-tools curl <search here>","command":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Command', `run your command like this: docker exec pentest-tools curl <search here>`, 'string') }}"},"type":"n8n-nodes-base.executeCommandTool","typeVersion":1,"position":[496,96],"id":"cf1afd1f-6bee-4b51-ad65-0730a65b4059","name":"kali_tools"},{"parameters":{"operation":"executeQuery","query":"SELECT symbol\nFROM portfolio_positions\nWHERE entry_date = (CURRENT_TIMESTAMP AT TIME ZONE 'UTC' AT TIME ZONE 'America/New_York')::date\n  AND strategy = 'daily'\n  AND symbol != 'USDD';","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-144,-128],"id":"a18ef9ed-31fa-45a9-acca-d421b6b3e28d","name":"Get Active Tickers","credentials":{"postgres":{"id":"MI553DLfDKBYBMXy","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"SELECT symbol\nFROM portfolio_positions\nWHERE entry_date = (CURRENT_TIMESTAMP AT TIME ZONE 'UTC' AT TIME ZONE 'America/New_York')::date\n  AND strategy = 'daily'\n  AND symbol != 'USDD';","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[64,-128],"id":"e1dd3606-d069-4187-ba73-f59cb256463e","name":"Get Conviction Scores","credentials":{"postgres":{"id":"MI553DLfDKBYBMXy","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"insert into ticker_buys (symbol, conviction, last_updated)\nvalues (\n  '{{ $json.ticker }}',\n  '{{ $json.conviction }}',\n  CURRENT_TIMESTAMP\n)\nON CONFLICT (symbol) DO UPDATE\nSET\n  conviction = EXCLUDED.conviction,\n  last_updated = CURRENT_TIMESTAMP","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[928,-128],"id":"59446517-a2e6-4a1b-8572-8ba6ad9f2852","name":"Update Conviction Scores","credentials":{"postgres":{"id":"MI553DLfDKBYBMXy","name":"Postgres account"}}}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Get Active Tickers","type":"main","index":0}]]},"Conviction Scores":{"main":[[{"node":"Update Conviction Scores","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Conviction Scores","type":"main","index":0}]]},"Ollama Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Redis Chat Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"kali_tools":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Get Active Tickers":{"main":[[{"node":"Get Conviction Scores","type":"main","index":0}]]},"Get Conviction Scores":{"main":[[{"node":"AI Agent","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"04d05c7d-299c-4e87-9d17-fa06ee919421","triggerCount":0,"tags":[{"createdAt":"2025-09-04T15:23:38.975Z","updatedAt":"2025-09-04T15:23:38.975Z","id":"yQaAGmyd3yVCL790","name":"janus"}],"shared":[{"createdAt":"2025-09-09T02:00:12.441Z","updatedAt":"2025-09-09T02:00:12.441Z","role":"workflow:owner","workflowId":"yzEftYurQxKldLHD","projectId":"33RSXH6V1FUTQaMQ","project":{"createdAt":"2025-08-29T14:57:46.722Z","updatedAt":"2025-08-29T15:00:17.904Z","id":"33RSXH6V1FUTQaMQ","name":"Scott Murray <scomurr@scomurr.com>","type":"personal","icon":null,"description":null}}]}]