n8n-workflows/03 - scoring/03b_-_Update_Conviction_Scores__manual_.json
[{"createdAt":"2025-09-09T12:59:04.118Z","updatedAt":"2025-09-11T12:47:34.000Z","id":"H39avly0oRGdWpOw","name":"03b - Update Conviction Scores (manual)","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-112,0],"id":"d3a41eef-99a6-4dcd-882c-37180aad131a","name":"When clicking 'Execute workflow'"},{"parameters":{"jsCode":"// New conviction scores - paste your updated scores here\nlet tickers =[\n  {\n    \"symbol\": \"IMPP\",\n    \"signal\": \"Buy\",\n    \"conviction\": 5,\n    \"notes\": [\n      \"Strong Q2 earnings, well above estimates\",\n      \"Large fleet expansion, zero debt, good cash position\",\n      \"Momentum from prior gains; risk remains in maintaining high earnings growth\"\n    ]\n  },\n  {\n    \"symbol\": \"CHRS\",\n    \"signal\": \"Buy\",\n    \"conviction\": 5,\n    \"notes\": [\n      \"No new material news since last assessment\",\n      \"Thesis intact, good performance yesterday\",\n      \"No negative catalysts observed\"\n    ]\n  },\n  {\n    \"symbol\": \"PBYI\",\n    \"signal\": \"Buy\",\n    \"conviction\": 4,\n    \"notes\": [\n      \"RSU inducements and conference presentation show corporate activity\",\n      \"No pipeline or earnings surprise to significantly lift conviction\",\n      \"Downward trading movement slightly weakens short‑term momentum\"\n    ]\n  },\n  {\n    \"symbol\": \"MIND\",\n    \"signal\": \"Buy\",\n    \"conviction\": 3,\n    \"notes\": [\n      \"No fresh news or catalysts\",\n      \"Hold conviction steady; no thesis break\",\n      \"Performance modest\"\n    ]\n  },\n  {\n    \"symbol\": \"MAPS\",\n    \"signal\": \"Buy\",\n    \"conviction\": 3,\n    \"notes\": [\n      \"No new significant updates\",\n      \"Thesis unchanged\",\n      \"Neutral sentiment\"\n    ]\n  },\n  {\n    \"symbol\": \"IMMR\",\n    \"signal\": \"Buy\",\n    \"conviction\": 3,\n    \"notes\": [\n      \"No new material information\",\n      \"Past thesis still standing\",\n      \"Minor price movement only\"\n    ]\n  },\n  {\n    \"symbol\": \"CRNT\",\n    \"signal\": \"Buy\",\n    \"conviction\": 3,\n    \"notes\": [\n      \"No news\",\n      \"Stable but no upward catalyst seen\",\n      \"Performance flat to slightly negative\"\n    ]\n  },\n  {\n    \"symbol\": \"GAMB\",\n    \"signal\": \"Buy\",\n    \"conviction\": 3,\n    \"notes\": [\n      \"No major news\",\n      \"Performance weak; some downside drift\",\n      \"No break in thesis but less momentum\"\n    ]\n  },\n  {\n    \"symbol\": \"LGPS\",\n    \"signal\": \"Buy\",\n    \"conviction\": 2,\n    \"notes\": [\n      \"Low float, modest news/information flow\",\n      \"Slight risk from low momentum\",\n      \"Thesis weaker comparatively\"\n    ]\n  },\n  {\n    \"symbol\": \"MATH\",\n    \"signal\": \"Buy\",\n    \"conviction\": 2,\n    \"notes\": [\n      \"No recent catalysts\",\n      \"Some downward price pressure\",\n      \"Less conviction relative to others\"\n    ]\n  },\n  {\n    \"symbol\": \"PSHG\",\n    \"signal\": \"Buy\",\n    \"conviction\": 3,\n    \"notes\": [\n      \"No new updates\",\n      \"Maintain prior level of conviction\",\n      \"Neutral signals\"\n    ]\n  }\n];\n\nreturn tickers;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[336,0],"id":"0a7b53e6-4a03-4b2c-8f14-6ce0a6048a30","name":"New Conviction Scores"},{"parameters":{"operation":"executeQuery","query":"INSERT INTO ticker_buys (symbol, conviction, last_updated, trade_date, thesis)\nVALUES (\n  '{{$json.symbol}}',\n  {{$json.conviction}},\n  CURRENT_TIMESTAMP,\n  '{{$(\"Set Date\").item.json.date}}',\n  '{{$json.thesis}}'\n)\nON CONFLICT (symbol, trade_date) DO UPDATE\nSET\n  conviction = EXCLUDED.conviction,\n  last_updated = CURRENT_TIMESTAMP;\n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[864,0],"id":"6daa406f-e793-4045-9c9f-bf5170e2d57c","name":"Update Conviction Scores","credentials":{"postgres":{"id":"MI553DLfDKBYBMXy","name":"Postgres account"}}},{"parameters":{"assignments":{"assignments":[{"id":"50a623a5-105d-4ad2-9f17-159b75782bb6","name":"date","value":"={{ $today.toFormat('yyyy-MM-dd') }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[96,0],"id":"710038fa-dc5c-40d3-a7bb-98b98d7289c5","name":"Set Date"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"item.json.thesis = item.json.notes.join(' || ');\nreturn item;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[576,0],"id":"aeeee248-acda-4cb0-98f5-e61ef0d8b2da","name":"Combine Thesis"}],"connections":{"When clicking 'Execute workflow'":{"main":[[{"node":"Set Date","type":"main","index":0}]]},"New Conviction Scores":{"main":[[{"node":"Combine Thesis","type":"main","index":0}]]},"Set Date":{"main":[[{"node":"New Conviction Scores","type":"main","index":0}]]},"Combine Thesis":{"main":[[{"node":"Update Conviction Scores","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"36265c48-bf0e-4b68-8018-7f3409cd13ac","triggerCount":0,"tags":[{"createdAt":"2025-09-04T15:23:38.975Z","updatedAt":"2025-09-04T15:23:38.975Z","id":"yQaAGmyd3yVCL790","name":"janus"}],"shared":[{"createdAt":"2025-09-09T12:59:04.121Z","updatedAt":"2025-09-09T12:59:04.121Z","role":"workflow:owner","workflowId":"H39avly0oRGdWpOw","projectId":"33RSXH6V1FUTQaMQ","project":{"createdAt":"2025-08-29T14:57:46.722Z","updatedAt":"2025-08-29T15:00:17.904Z","id":"33RSXH6V1FUTQaMQ","name":"Scott Murray <scomurr@scomurr.com>","type":"personal","icon":null,"description":null}}]}]