n8n-workflows/03 - scoring/03b_-_Monday_Set_Initial_Conviction_Scores__manual_.json
[{"createdAt":"2025-09-09T12:59:04.118Z","updatedAt":"2025-09-22T13:15:21.000Z","id":"H39avly0oRGdWpOw","name":"03b - Monday Set Initial Conviction Scores (manual)","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-112,-128],"id":"d3a41eef-99a6-4dcd-882c-37180aad131a","name":"When clicking 'Execute workflow'"},{"parameters":{"jsCode":"// New conviction scores - paste your updated scores here\nlet tickers = [\n  {\n    \"symbol\": \"VIRC\",\n    \"signal\": \"Buy\",\n    \"conviction\": 3,\n    \"notes\": [\n      \"Small-cap furniture/office supplier with steady backlog\",\n      \"Revenue growth muted but balance sheet clean\",\n      \"Thin liquidity; upside capped but stable in short term\"\n    ]\n  },\n  {\n    \"symbol\": \"CXDO\",\n    \"signal\": \"Buy\",\n    \"conviction\": 3,\n    \"notes\": [\n      \"Cloud comms/VoIP with recurring revenue base\",\n      \"Debt low, cash burn controlled\",\n      \"Growth not accelerating but solid customer base\"\n    ]\n  },\n  {\n    \"symbol\": \"KG\",\n    \"signal\": \"Buy\",\n    \"conviction\": 2,\n    \"notes\": [\n      \"Limited catalysts visible near term\",\n      \"Financials not deteriorating but no strong momentum\",\n      \"Maintain small exposure only\"\n    ]\n  }\n];\n\nreturn tickers;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[336,-128],"id":"0a7b53e6-4a03-4b2c-8f14-6ce0a6048a30","name":"New Conviction Scores"},{"parameters":{"operation":"executeQuery","query":"INSERT INTO ticker_buys (symbol, conviction, last_updated, trade_date, thesis)\nVALUES (\n  '{{$json.symbol}}',\n  {{$json.conviction}},\n  CURRENT_TIMESTAMP,\n  '{{$(\"Set Date\").item.json.date}}',\n  '{{ $json.summary_thesis }}'\n)\nON CONFLICT (symbol, trade_date) DO UPDATE\nSET\n  conviction = EXCLUDED.conviction,\n  last_updated = CURRENT_TIMESTAMP;\n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1008,-128],"id":"6daa406f-e793-4045-9c9f-bf5170e2d57c","name":"Update Conviction Scores","credentials":{"postgres":{"id":"MI553DLfDKBYBMXy","name":"Postgres account"}}},{"parameters":{"assignments":{"assignments":[{"id":"50a623a5-105d-4ad2-9f17-159b75782bb6","name":"date","value":"={{ $today.toFormat('yyyy-MM-dd') }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[112,-128],"id":"710038fa-dc5c-40d3-a7bb-98b98d7289c5","name":"Set Date"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"$json.summary_thesis = $json.notes.join(' || ');\nreturn $json;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[784,-128],"id":"aeeee248-acda-4cb0-98f5-e61ef0d8b2da","name":"Combine Thesis"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ac3f1b61-74ac-49a8-98a8-fef8ce2c1986","leftValue":"={{ $json.signal }}","rightValue":"Buy","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[560,-128],"id":"04c04029-43a3-460d-bf85-95973d4e2149","name":"If"},{"parameters":{"content":"We update conviction scores on the daily so this should be the dynamic today"},"type":"n8n-nodes-base.stickyNote","position":[16,-176],"typeVersion":1,"id":"6d59a123-a6a3-4e88-b2df-78c93ac42b5d","name":"Sticky Note"}],"connections":{"When clicking 'Execute workflow'":{"main":[[{"node":"Set Date","type":"main","index":0}]]},"New Conviction Scores":{"main":[[{"node":"If","type":"main","index":0}]]},"Set Date":{"main":[[{"node":"New Conviction Scores","type":"main","index":0}]]},"Combine Thesis":{"main":[[{"node":"Update Conviction Scores","type":"main","index":0}]]},"If":{"main":[[{"node":"Combine Thesis","type":"main","index":0}],[]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"16ff6b3e-a6cb-42df-9975-934308dfe177","triggerCount":0,"tags":[{"createdAt":"2025-09-04T15:23:38.975Z","updatedAt":"2025-09-04T15:23:38.975Z","id":"yQaAGmyd3yVCL790","name":"janus"}],"shared":[{"createdAt":"2025-09-09T12:59:04.121Z","updatedAt":"2025-09-09T12:59:04.121Z","role":"workflow:owner","workflowId":"H39avly0oRGdWpOw","projectId":"33RSXH6V1FUTQaMQ","project":{"createdAt":"2025-08-29T14:57:46.722Z","updatedAt":"2025-08-29T15:00:17.904Z","id":"33RSXH6V1FUTQaMQ","name":"Scott Murray <scomurr@scomurr.com>","type":"personal","icon":null,"description":null}}]}]