n8n-workflows/03 - scoring/03c - Price Info.json
{
  "name": "05a - Price Info",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 16 * * 1-5"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        240,
        200
      ],
      "id": "price-trigger",
      "name": "4PM Central Trigger"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "CREATE TABLE IF NOT EXISTS daily_prices (\n    id SERIAL PRIMARY KEY,\n    symbol TEXT NOT NULL,\n    date DATE NOT NULL,\n    price_open DECIMAL(10,2),\n    price_1hr_after_open DECIMAL(10,2),\n    price_close DECIMAL(10,2),\n    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,\n    UNIQUE(symbol, date)\n);",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        440,
        200
      ],
      "id": "create-table",
      "name": "Create daily_prices Table",
      "credentials": {
        "postgres": {
          "id": "MI553DLfDKBYBMXy",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT DISTINCT symbol FROM ticker_buys\nWHERE last_updated >= now() - interval '20 hours';",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        640,
        200
      ],
      "id": "get-tickers",
      "name": "Get Active Tickers",
      "credentials": {
        "postgres": {
          "id": "MI553DLfDKBYBMXy",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "url": "http://marketcap-api:5000/price",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "ticker",
              "value": "={{ $json.symbol }}"
            },
            {
              "name": "type",
              "value": "open"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        840,
        80
      ],
      "id": "get-open-prices",
      "name": "Get Opening Prices"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO daily_prices (symbol, date, price_open)\nVALUES ('{{ $json.ticker }}', CURRENT_DATE, {{ $json.price }})\nON CONFLICT (symbol, date)\nDO UPDATE SET price_open = EXCLUDED.price_open;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1040,
        80
      ],
      "id": "insert-open-prices",
      "name": "Insert Opening Prices",
      "credentials": {
        "postgres": {
          "id": "MI553DLfDKBYBMXy",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "url": "http://marketcap-api:5000/price",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "ticker",
              "value": "={{ $json.symbol }}"
            },
            {
              "name": "type",
              "value": "close"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        840,
        200
      ],
      "id": "get-close-prices",
      "name": "Get Closing Prices"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO daily_prices (symbol, date, price_close)\nVALUES ('{{ $json.ticker }}', CURRENT_DATE, {{ $json.price }})\nON CONFLICT (symbol, date)\nDO UPDATE SET price_close = EXCLUDED.price_close;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1040,
        200
      ],
      "id": "insert-close-prices",
      "name": "Insert Closing Prices",
      "credentials": {
        "postgres": {
          "id": "MI553DLfDKBYBMXy",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "url": "http://marketcap-api:5000/price",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "ticker",
              "value": "={{ $json.symbol }}"
            },
            {
              "name": "type",
              "value": "1hr_after_open"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        840,
        320
      ],
      "id": "get-1hr-after-prices",
      "name": "Get 1hr After Open Prices"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO daily_prices (symbol, date, price_1hr_after_open)\nVALUES ('{{ $json.ticker }}', CURRENT_DATE, {{ $json.price }})\nON CONFLICT (symbol, date)\nDO UPDATE SET price_1hr_after_open = EXCLUDED.price_1hr_after_open;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1040,
        320
      ],
      "id": "insert-1hr-after-prices",
      "name": "Insert 1hr After Open Prices",
      "credentials": {
        "postgres": {
          "id": "MI553DLfDKBYBMXy",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "4PM Central Trigger": {
      "main": [
        [
          {
            "node": "Create daily_prices Table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create daily_prices Table": {
      "main": [
        [
          {
            "node": "Get Active Tickers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Active Tickers": {
      "main": [
        [
          {
            "node": "Get Opening Prices",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Closing Prices",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get 1hr After Open Prices",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Opening Prices": {
      "main": [
        [
          {
            "node": "Insert Opening Prices",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Closing Prices": {
      "main": [
        [
          {
            "node": "Insert Closing Prices",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get 1hr After Open Prices": {
      "main": [
        [
          {
            "node": "Insert 1hr After Open Prices",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "new-price-workflow",
  "meta": {
    "instanceId": "f789c2c474c97ef5e4de040eeaabbf0c6fb8405fe1c6683d5ae6768188a5df19"
  },
  "id": "PriceInfo0Collection",
  "tags": [
    {
      "name": "portfolio",
      "id": "price-collection-tag"
    }
  ]
}