n8n-workflows/03 - scoring/03d - Get Scoring Info per Time.json
{
  "name": "03d - Get Scoring Info per Time",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "30 14 * * 1-5"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        80,
        -160
      ],
      "id": "7696826f-8f37-4ae1-a5c9-898d9eb854a9",
      "name": "9:30 AM Central - Opening Prices"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT DISTINCT symbol FROM ticker_buys WHERE symbol NOT IN ('USDD', 'USDW', 'USDH') ORDER BY symbol;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        288,
        -160
      ],
      "id": "aec235a2-8dcd-4aaf-832f-334836dc500a",
      "name": "Get Active Tickers",
      "credentials": {
        "postgres": {
          "id": "MI553DLfDKBYBMXy",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "url": "=http://marketcap-api:5000/daily-prices?symbols= {{ $json.symbol }}",
        "options": {
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        480,
        -160
      ],
      "id": "bfee0711-9a65-4589-9054-497080a60e52",
      "name": "Fetch Opening Prices"
    },
    {
      "parameters": {
        "jsCode": "const results = [];\nconst today = new Date().toISOString().split('T')[0];\n\n// Process the response from Python API\nitems.forEach(item => {\n  const pythonData = item.json;\n  \n  if (pythonData && !pythonData.error) {\n    Object.keys(pythonData).forEach(symbol => {\n      if (symbol !== 'error') {\n        const symbolData = pythonData[symbol];\n        \n        results.push({\n          json: {\n            symbol: symbol,\n            date: today,\n            price_open: symbolData.open || null\n          }\n        });\n      }\n    });\n  }\n});\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        688,
        -160
      ],
      "id": "cc25d253-4b9d-4592-9adc-20e72fa103f9",
      "name": "Process Opening Prices"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO daily_prices (symbol, date, price_open, created_at)\nVALUES (\n  '{{ $json.symbol }}',\n  '{{ $json.date }}',\n  {{ $json.price_open ?? 'NULL' }},\n  NOW()\n)\nON CONFLICT (symbol, date) DO NOTHING;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        880,
        -160
      ],
      "id": "c9baccef-ac2f-4c7f-8887-dbe6c49350e9",
      "name": "Insert Opening Prices",
      "credentials": {
        "postgres": {
          "id": "MI553DLfDKBYBMXy",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 16 * * 1-5"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        80,
        48
      ],
      "id": "ebc2c541-eb80-4a63-a978-e8c038bbc47a",
      "name": "11:00 AM Central - 1Hr After Open"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT symbol FROM daily_prices WHERE date = CURRENT_DATE ORDER BY symbol;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        288,
        48
      ],
      "id": "94a965de-0faa-4d4c-8fa2-1041b99ec24f",
      "name": "Get 1Hr Tickers",
      "credentials": {
        "postgres": {
          "id": "MI553DLfDKBYBMXy",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "url": "http://localhost:5000/price",
        "options": {
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        480,
        48
      ],
      "id": "87b428b7-677d-4fac-a9ea-ece80c26c728",
      "name": "Fetch 1Hr After Open"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE daily_prices \nSET price_1hr_after_open = {{ $json.price ?? 'NULL' }}\nWHERE symbol = '{{ $json.ticker }}' AND date = CURRENT_DATE;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        688,
        48
      ],
      "id": "bc5cad0f-c521-4b8b-8820-308e9a6b7780",
      "name": "Update 1Hr After Open",
      "credentials": {
        "postgres": {
          "id": "MI553DLfDKBYBMXy",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "55 20 * * 1-5"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        80,
        240
      ],
      "id": "ff5aad91-3657-4185-8174-c917e2a0d9ff",
      "name": "3:55 PM Central - Closing Prices"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT symbol FROM daily_prices WHERE date = CURRENT_DATE ORDER BY symbol;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        288,
        240
      ],
      "id": "f9bc7406-cac6-4ca9-bcd7-ce924c0ff796",
      "name": "Get Closing Tickers",
      "credentials": {
        "postgres": {
          "id": "MI553DLfDKBYBMXy",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "url": "http://localhost:5000/daily-prices",
        "options": {
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        480,
        240
      ],
      "id": "fb6e4954-63c1-46a5-8de3-45e57f10dcdc",
      "name": "Fetch Closing Prices"
    },
    {
      "parameters": {
        "jsCode": "const results = [];\n\n// Process the response from Python API\nitems.forEach(item => {\n  const pythonData = item.json;\n  \n  if (pythonData && !pythonData.error) {\n    Object.keys(pythonData).forEach(symbol => {\n      if (symbol !== 'error') {\n        const symbolData = pythonData[symbol];\n        \n        results.push({\n          json: {\n            symbol: symbol,\n            price_close: symbolData.close || null\n          }\n        });\n      }\n    });\n  }\n});\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        688,
        240
      ],
      "id": "2beb45f7-5cb0-4f3a-8055-33079e3d348d",
      "name": "Process Closing Prices"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE daily_prices \nSET price_close = {{ $json.price_close ?? 'NULL' }}\nWHERE symbol = '{{ $json.symbol }}' AND date = CURRENT_DATE;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        880,
        240
      ],
      "id": "a5ddfd23-8e2d-4e1a-aebe-11af6ed48414",
      "name": "Update Closing Prices",
      "credentials": {
        "postgres": {
          "id": "MI553DLfDKBYBMXy",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Fetch Opening Prices": {
      "main": [
        [
          {
            "node": "Process Opening Prices",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Opening Prices": {
      "main": [
        [
          {
            "node": "Insert Opening Prices",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "11:00 AM Central - 1Hr After Open": {
      "main": [
        [
          {
            "node": "Get 1Hr Tickers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get 1Hr Tickers": {
      "main": [
        [
          {
            "node": "Fetch 1Hr After Open",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch 1Hr After Open": {
      "main": [
        [
          {
            "node": "Update 1Hr After Open",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "3:55 PM Central - Closing Prices": {
      "main": [
        [
          {
            "node": "Get Closing Tickers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Closing Tickers": {
      "main": [
        [
          {
            "node": "Fetch Closing Prices",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Closing Prices": {
      "main": [
        [
          {
            "node": "Process Closing Prices",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Closing Prices": {
      "main": [
        [
          {
            "node": "Update Closing Prices",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "9:30 AM Central - Opening Prices": {
      "main": [
        [
          {
            "node": "Get Active Tickers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Active Tickers": {
      "main": [
        [
          {
            "node": "Fetch Opening Prices",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "61305e01-151a-4ba7-89d2-a362e752a6f8",
  "meta": {
    "instanceId": "f789c2c474c97ef5e4de040eeaabbf0c6fb8405fe1c6683d5ae6768188a5df19"
  },
  "id": "mNeM2AIx5LFlzH0W",
  "tags": [
    {
      "createdAt": "2025-09-04T15:23:38.975Z",
      "updatedAt": "2025-09-04T15:23:38.975Z",
      "id": "yQaAGmyd3yVCL790",
      "name": "janus"
    }
  ]
}