n8n-workflows/03 - scoring/03d_-_Get_Prices_Info_per_Time.json
[{"createdAt":"2025-09-10T14:37:22.611Z","updatedAt":"2025-09-11T14:46:37.000Z","id":"mNeM2AIx5LFlzH0W","name":"03d - Get Prices Info per Time","active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"30 9 * * 1-5"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-96,-128],"id":"7696826f-8f37-4ae1-a5c9-898d9eb854a9","name":"9:30 AM Central - Opening Prices"},{"parameters":{"operation":"executeQuery","query":"SELECT symbol FROM ticker_buys WHERE trade_date = '{{ $json.date }}'::date ORDER BY symbol;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[352,-128],"id":"aec235a2-8dcd-4aaf-832f-334836dc500a","name":"Get Active Tickers","credentials":{"postgres":{"id":"MI553DLfDKBYBMXy","name":"Postgres account"}}},{"parameters":{"url":"=http://marketcap-api:5000/daily-prices?symbols= {{ $json.symbol }}","options":{"timeout":30000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[576,-128],"id":"bfee0711-9a65-4589-9054-497080a60e52","name":"Fetch Opening Prices"},{"parameters":{"jsCode":"const results = [];\nconst today = $('Set Date2').first().json.date\n\n// Process the response from Python API\nitems.forEach(item => {\n  const pythonData = item.json;\n  \n  if (pythonData && !pythonData.error) {\n    Object.keys(pythonData).forEach(symbol => {\n      if (symbol !== 'error') {\n        const symbolData = pythonData[symbol];\n        \n        results.push({\n          json: {\n            symbol: symbol,\n            date: today,\n            price_open: symbolData.open || null\n          }\n        });\n      }\n    });\n  }\n});\n\nreturn results;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[800,-128],"id":"cc25d253-4b9d-4592-9adc-20e72fa103f9","name":"Process Opening Prices"},{"parameters":{"operation":"executeQuery","query":"INSERT INTO daily_prices (symbol, date, price_open, created_at)\nVALUES (\n  '{{ $json.symbol }}',\n  '{{ $json.date }}',\n  {{ $json.price_open ?? 'NULL' }},\n  NOW()\n)\nON CONFLICT (symbol, date) DO NOTHING;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1024,-128],"id":"c9baccef-ac2f-4c7f-8887-dbe6c49350e9","name":"Insert Opening Prices","credentials":{"postgres":{"id":"MI553DLfDKBYBMXy","name":"Postgres account"}}},{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 16 * * 1-5"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-96,64],"id":"ebc2c541-eb80-4a63-a978-e8c038bbc47a","name":"11:00 AM Central - 1Hr After Open","disabled":true},{"parameters":{"operation":"executeQuery","query":"SELECT symbol FROM daily_prices WHERE date = '{{ $json.date }}'::date ORDER BY symbol;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[352,64],"id":"94a965de-0faa-4d4c-8fa2-1041b99ec24f","name":"Get 1Hr Tickers","credentials":{"postgres":{"id":"MI553DLfDKBYBMXy","name":"Postgres account"}}},{"parameters":{"url":"http://localhost:5000/price","options":{"timeout":30000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-336,64],"id":"87b428b7-677d-4fac-a9ea-ece80c26c728","name":"Fetch 1Hr After Open"},{"parameters":{"operation":"executeQuery","query":"UPDATE daily_prices \nSET price_1hr_after_open = {{ $json.price ?? 'NULL' }}\nWHERE symbol = '{{ $json.ticker }}' AND date = CURRENT_DATE;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[800,64],"id":"bc5cad0f-c521-4b8b-8820-308e9a6b7780","name":"Update 1Hr After Open","credentials":{"postgres":{"id":"MI553DLfDKBYBMXy","name":"Postgres account"}},"disabled":true},{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"55 15 * * 1-5"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-96,256],"id":"ff5aad91-3657-4185-8174-c917e2a0d9ff","name":"3:55 PM Central - Closing Prices"},{"parameters":{"operation":"executeQuery","query":"SELECT symbol FROM daily_prices WHERE date = '{{ $json.date }}'::date ORDER BY symbol;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[352,256],"id":"f9bc7406-cac6-4ca9-bcd7-ce924c0ff796","name":"Get Closing Tickers","credentials":{"postgres":{"id":"MI553DLfDKBYBMXy","name":"Postgres account"}}},{"parameters":{"jsCode":"const results = [];\n\n// Process the response from Python API\nitems.forEach(item => {\n  const pythonData = item.json;\n  \n  if (pythonData && !pythonData.error) {\n    Object.keys(pythonData).forEach(symbol => {\n      if (symbol !== 'error') {\n        const symbolData = pythonData[symbol];\n        \n        results.push({\n          json: {\n            symbol: symbol,\n            price_close: symbolData.close || null\n          }\n        });\n      }\n    });\n  }\n});\n\nreturn results;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[800,256],"id":"2beb45f7-5cb0-4f3a-8055-33079e3d348d","name":"Process Closing Prices"},{"parameters":{"operation":"executeQuery","query":"UPDATE daily_prices \nSET price_close = {{ $json.price_close ?? 'NULL' }}\nWHERE symbol = '{{ $json.symbol }}' AND date = '{{ $('Set Date').item.json.date }}'::date;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1024,256],"id":"a5ddfd23-8e2d-4e1a-aebe-11af6ed48414","name":"Update Closing Prices","credentials":{"postgres":{"id":"MI553DLfDKBYBMXy","name":"Postgres account"}}},{"parameters":{"assignments":{"assignments":[{"id":"50a623a5-105d-4ad2-9f17-159b75782bb6","name":"date","value":"={{ $today.toFormat('yyyy-MM-dd') }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[128,256],"id":"252dd68e-064a-4fab-a3cf-51cf72a31389","name":"Set Date"},{"parameters":{"url":"=http://marketcap-api:5000/daily-prices?symbols= {{ $json.symbol }}","options":{"timeout":30000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[576,256],"id":"44cf0c91-321a-4126-9c6b-da92e69c3f15","name":"Fetch Prices"},{"parameters":{"assignments":{"assignments":[{"id":"50a623a5-105d-4ad2-9f17-159b75782bb6","name":"date","value":"={{ $today.toFormat('yyyy-MM-dd') }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[128,64],"id":"6917867f-2c6c-4404-bbb2-7db3a9512ada","name":"Set Date1"},{"parameters":{"url":"=http://marketcap-api:5000/historical-prices?symbols={{$json.symbol}}&date={{ $('Set Date1').item.json.date }}","options":{"timeout":30000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[576,64],"id":"7cfebe2d-d424-48f2-a14b-61b1cb3dc4fc","name":"Fetch Historical Prices from Python"},{"parameters":{"assignments":{"assignments":[{"id":"50a623a5-105d-4ad2-9f17-159b75782bb6","name":"date","value":"={{ $today.toFormat('yyyy-MM-dd') }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[128,-128],"id":"aa089dbd-6ab4-494f-947a-f241566febcf","name":"Set Date2"},{"parameters":{"authentication":"webhook","content":"={{ $workflow.name }} started","options":{}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[128,-320],"id":"0366ada0-cae7-4cb9-be6e-1b4b803dacf8","name":"Workflow Started","webhookId":"1e49c2d2-19b4-420d-a767-099d612c11d0","credentials":{"discordWebhookApi":{"id":"hXnySa96N3aNgiBT","name":"Janus Errors Webhook"}}},{"parameters":{"authentication":"webhook","content":"={{ $workflow.name }} ended","options":{}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[1248,160],"id":"a20c3486-1571-4039-8467-cf4ba9016efb","name":"Workflow Ended","webhookId":"1e49c2d2-19b4-420d-a767-099d612c11d0","credentials":{"discordWebhookApi":{"id":"hXnySa96N3aNgiBT","name":"Janus Errors Webhook"}}},{"parameters":{},"type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[736,-320],"id":"23146e98-b5e2-4669-a2f0-8ff24ed62ec8","name":"Error Trigger"},{"parameters":{"authentication":"webhook","content":"=Error:  {{ $json.execution.error.message }}\nWorkflow: {{ $workflow.name }}\nCheck N8N","options":{}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[960,-320],"id":"fb1e9aad-13af-4f83-b963-d5cd4dfea73d","name":"Discord","webhookId":"ca20c902-d9f2-42e0-903e-8403d43611f1","credentials":{"discordWebhookApi":{"id":"hXnySa96N3aNgiBT","name":"Janus Errors Webhook"}}}],"connections":{"Fetch Opening Prices":{"main":[[{"node":"Process Opening Prices","type":"main","index":0}]]},"Process Opening Prices":{"main":[[{"node":"Insert Opening Prices","type":"main","index":0}]]},"11:00 AM Central - 1Hr After Open":{"main":[[{"node":"Set Date1","type":"main","index":0},{"node":"Workflow Started","type":"main","index":0}]]},"Get 1Hr Tickers":{"main":[[{"node":"Fetch Historical Prices from Python","type":"main","index":0}]]},"Fetch 1Hr After Open":{"main":[[]]},"3:55 PM Central - Closing Prices":{"main":[[{"node":"Set Date","type":"main","index":0},{"node":"Workflow Started","type":"main","index":0}]]},"Get Closing Tickers":{"main":[[{"node":"Fetch Prices","type":"main","index":0}]]},"Process Closing Prices":{"main":[[{"node":"Update Closing Prices","type":"main","index":0}]]},"9:30 AM Central - Opening Prices":{"main":[[{"node":"Set Date2","type":"main","index":0},{"node":"Workflow Started","type":"main","index":0}]]},"Get Active Tickers":{"main":[[{"node":"Fetch Opening Prices","type":"main","index":0}]]},"Set Date":{"main":[[{"node":"Get Closing Tickers","type":"main","index":0}]]},"Fetch Prices":{"main":[[{"node":"Process Closing Prices","type":"main","index":0}]]},"Set Date1":{"main":[[{"node":"Get 1Hr Tickers","type":"main","index":0}]]},"Fetch Historical Prices from Python":{"main":[[{"node":"Update 1Hr After Open","type":"main","index":0}]]},"Set Date2":{"main":[[{"node":"Get Active Tickers","type":"main","index":0}]]},"Insert Opening Prices":{"main":[[{"node":"Workflow Ended","type":"main","index":0}]]},"Update 1Hr After Open":{"main":[[{"node":"Workflow Ended","type":"main","index":0}]]},"Update Closing Prices":{"main":[[{"node":"Workflow Ended","type":"main","index":0}]]},"Error Trigger":{"main":[[{"node":"Discord","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:9:30 AM Central - Opening Prices":{"recurrenceRules":[]},"node:11:00 AM Central - 1Hr After Open":{"recurrenceRules":[]},"node:3:55 PM Central - Closing Prices":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"bae39633-2d95-4a4b-b3e5-067eff36168a","triggerCount":2,"tags":[{"createdAt":"2025-09-04T15:23:38.975Z","updatedAt":"2025-09-04T15:23:38.975Z","id":"yQaAGmyd3yVCL790","name":"janus"}],"shared":[{"createdAt":"2025-09-10T14:37:22.615Z","updatedAt":"2025-09-10T14:37:22.615Z","role":"workflow:owner","workflowId":"mNeM2AIx5LFlzH0W","projectId":"33RSXH6V1FUTQaMQ","project":{"createdAt":"2025-08-29T14:57:46.722Z","updatedAt":"2025-08-29T15:00:17.904Z","id":"33RSXH6V1FUTQaMQ","name":"Scott Murray <scomurr@scomurr.com>","type":"personal","icon":null,"description":null}}]}]