n8n-workflows/04 - decision/04a-_Finnhub_Get_Ticker_News.json
[{"createdAt":"2025-09-16T13:57:21.486Z","updatedAt":"2025-09-19T23:00:21.000Z","id":"zpCWuJNJ8bxIzpig","name":"04a- Finnhub Get Ticker News","active":true,"isArchived":false,"nodes":[{"parameters":{"assignments":{"assignments":[{"id":"50a623a5-105d-4ad2-9f17-159b75782bb6","name":"date","value":"={{ $today.toFormat('yyyy-MM-dd') }}","type":"string"},{"id":"d9f6bffc-08f9-4d0f-bf78-e496681cf989","name":"30DaysAgo","value":"={{ $today.minus({ days: 30 }).toFormat('yyyy-MM-dd') }}","type":"string"},{"id":"d95c676e-88cb-4203-be25-0d5a87b2abe9","name":"Monday","value":"={{ $today.startOf('week').toFormat('yyyy-MM-dd') }}","type":"string"},{"id":"d3ec36fa-1799-4a1b-8287-f043e2a15c2b","name":"yesterday","value":"={{ $today.minus({ days: 1 }).toFormat('yyyy-MM-dd') }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-560,-48],"id":"27e5f209-70ef-4737-b9db-c6dcfa0cedc2","name":"Dates"},{"parameters":{"url":"=https://finnhub.io/api/v1/company-news?symbol={{ $json.symbol }}&from={{ $('Dates').item.json['30DaysAgo'] }}&to={{ $('Dates').item.json.date }}&token=d34mkgpr01qhorbeq7j0d34mkgpr01qhorbeq7jg","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-112,-48],"id":"ad7a7b84-c3b3-4c86-b45c-9d83c4909da2","name":"Finnhub - News Articles"},{"parameters":{"sortFieldsUi":{"sortField":[{"fieldName":"datetime","order":"descending"},{"fieldName":"related"}]},"options":{"disableDotNotation":false}},"type":"n8n-nodes-base.sort","typeVersion":1,"position":[112,-48],"id":"757ee07c-86fa-4303-9eec-5e0a84e18375","name":"Sort Desc"},{"parameters":{"operation":"executeQuery","query":"INSERT INTO company_news (datetime, id, headline, url, symbol, date)\nVALUES ({{ $json.datetime }}, {{ $json.id }}, '{{ $json.headline.replace(/'/g, \"''\") }}\n', '{{ $json.url }}', '{{ $json.related }}', '{{ $('Dates').item.json.date }}')\nON CONFLICT (id) DO NOTHING;\n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[336,-48],"id":"bf515736-b101-495c-9f8a-8d07c2d92367","name":"Insert Any New Articles","credentials":{"postgres":{"id":"MI553DLfDKBYBMXy","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"select * from company_news where summary is null;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[560,-48],"id":"acbb1b57-e0c6-44b0-8bfb-14ef29696a5c","name":"Select Articles with Null Summary","alwaysOutputData":false,"credentials":{"postgres":{"id":"MI553DLfDKBYBMXy","name":"Postgres account"}}},{"parameters":{"jsCode":"return items.map(item => {\n  let html = item.json.html || '';\n\n  // remove entire script/style blocks\n  html = html.replace(/<script[\\s\\S]*?<\\/script>/gi, '');\n  html = html.replace(/<style[\\s\\S]*?<\\/style>/gi, '');\n  html = html.replace(/<!--[\\s\\S]*?-->/g, '');\n\n  // strip tags\n  let text = html.replace(/<[^>]+>/g, ' ');\n\n  // nuke common leftover CSS/JS noise\n  text = text\n    .replace(/@[a-z-]+\\s*[^{]*\\{[\\s\\S]*?\\}/gi, ' ')     // @media/@keyframes blocks\n    .replace(/--[a-z-]+\\s*:\\s*[^;]+;/gi, ' ')           // CSS var declarations\n    .replace(/\\b(function|var|let|const|window\\.|document\\.|performance\\.|localStorage|sessionStorage)\\b[\\s\\S]*?[;}]?/gi, ' ');\n\n  // collapse whitespace\n  text = text.replace(/\\s+/g, ' ').trim();\n\n  return {\n    json: {\n      text,\n      url: $('Select Articles with Null Summary').first().json.url,\n      id: $('Select Articles with Null Summary').first().json.id,\n      symbol: $('Select Articles with Null Summary').first().json.symbol\n    }\n  };\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[96,176],"id":"d30e765f-4526-45c6-94aa-d98f77c8ae51","name":"Strip Tags and CSS"},{"parameters":{"model":"qwen2.5:14b","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOllama","typeVersion":1,"position":[320,400],"id":"fb676600-5699-4d09-a885-85e930cb7397","name":"Ollama Chat Model","credentials":{"ollamaApi":{"id":"4K9PdbSii5iKOqMf","name":"Ollama account"}}},{"parameters":{"jsonSchemaExample":"{\"summary\":\"string\",\"sentiment\":\"string\"}","autoFix":true},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[448,400],"id":"a3db55cc-2e58-4a7c-bb31-d9c375166357","name":"Structured Output Parser"},{"parameters":{"promptType":"define","text":"=Summarize the following scraped article text. \nIgnore disclaimers, navigation, and repeated site content. \nReturn JSON with keys:\n- summary: one sentence capturing the main point about the company/stock\n- sentiment: \"positive\", \"neutral\", or \"negative\"\n\nText:\n{{ $json.text }}\n\nReturn only valid JSON, with no code fences, no commentary.\nOutput exactly one JSON object, no keys nested under \"output\", no escape characters, no extra text.\n\nResponse format:\n{\"summary\":\"summary text\",\"sentiment\":\"sentiment\"}\n","hasOutputParser":true,"batching":{"batchSize":1,"delayBetweenBatches":500}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[352,176],"id":"84d556ec-bc32-4450-b0bb-a25bbec9a05e","name":"Summarize Article into JSON"},{"parameters":{"operation":"executeQuery","query":"update company_news set summary = 'No Summary'\nwhere id = {{ $('Select Articles with Null Summary').item.json.id }}","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[64,432],"id":"d6bc0dc4-8f92-4adc-8885-61e24a3dce39","name":"Summary - No Summary","credentials":{"postgres":{"id":"MI553DLfDKBYBMXy","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"UPDATE company_news\nSET summary = '{{ $json.output.summary.replace(/'/g, \"''\") }}', sentiment = '{{ $json.output.sentiment }}'\nWHERE id = {{ $('Select Articles with Null Summary').item.json.id }};","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[752,176],"id":"e2c106ce-5801-4cb0-9f42-332a71abfa13","name":"Update Summary","credentials":{"postgres":{"id":"MI553DLfDKBYBMXy","name":"Postgres account"}}},{"parameters":{},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[784,-48],"id":"2d83a7d2-b419-4cd3-8c5e-68e7774df023","name":"Limit","disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2799f7ad-0a91-4359-a600-6f976751dba9","leftValue":"={{ $json.status }}","rightValue":200,"operator":{"type":"number","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-128,272],"id":"c8322701-42e6-46f5-bdab-467c13ec3b6c","name":"Status Code 200"},{"parameters":{"method":"POST","url":"https://api.scrapeowl.com/v1/scrape","sendBody":true,"bodyParameters":{"parameters":[{"name":"api_key","value":"{{$env.SCRAPEOWL_API_KEY}}"},{"name":"url","value":"={{ $json.url }}"},{"name":"json_response","value":"true"}]},"options":{"batching":{"batch":{"batchSize":1,"batchInterval":4000}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-576,272],"id":"b4654a01-56d2-4ea9-af88-18774210adaf","name":"POST ScrapeOwl","onError":"continueErrorOutput"},{"parameters":{"url":"=https://api.scrapeowl.com/v1/scrape?api_key={{$env.SCRAPEOWL_API_KEY}}&url={{ $json.url }}","options":{"batching":{"batch":{"batchSize":1,"batchInterval":4000}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-800,272],"id":"f3e12861-b631-4d56-9cc3-bdb8a2dd872a","name":"GET ScrapeOwl","onError":"continueErrorOutput"},{"parameters":{"method":"POST","url":"https://api.scrapeowl.com/v1/scrape","sendBody":true,"bodyParameters":{"parameters":[{"name":"api_key","value":"{{$env.SCRAPEOWL_API_KEY}}"},{"name":"url","value":"={{ $json.url }}"},{"name":"premium_proxies","value":"true"},{"name":"country","value":"us"},{"name":"json_response","value":"true"}]},"options":{"batching":{"batch":{"batchSize":1,"batchInterval":4000}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-352,416],"id":"863564ae-32a0-4c54-8455-c2def06ee897","name":"POST ScrapeOwl with Premium Proxies","onError":"continueErrorOutput"},{"parameters":{"model":"llama3:latest","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOllama","typeVersion":1,"position":[448,576],"id":"b1c08cf6-fb23-4128-941c-d7a5ee35959f","name":"Ollama Chat Model1","credentials":{"ollamaApi":{"id":"4K9PdbSii5iKOqMf","name":"Ollama account"}}},{"parameters":{},"type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[96,-256],"id":"a6f17a83-425d-49a6-b788-47314418bf48","name":"Error Trigger"},{"parameters":{"authentication":"webhook","content":"=Error:  {{ $json.execution.error.message }}\nWorkflow: {{ $workflow.name }}\nCheck N8N","options":{}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[320,-256],"id":"e92d5012-5815-4afa-9d5d-fc165633b46a","name":"Discord1","webhookId":"ca20c902-d9f2-42e0-903e-8403d43611f1","credentials":{"discordWebhookApi":{"id":"hXnySa96N3aNgiBT","name":"Janus Errors Webhook"}}},{"parameters":{"authentication":"webhook","content":"=Workflow Started: {{ $workflow.name }}","options":{}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[-560,-256],"id":"befbb2f9-f91a-41e1-86ee-42d9d8f47a6c","name":"Workflow Started","webhookId":"ca20c902-d9f2-42e0-903e-8403d43611f1","credentials":{"discordWebhookApi":{"id":"hXnySa96N3aNgiBT","name":"Janus Errors Webhook"}}},{"parameters":{"authentication":"webhook","content":"=Workflow Completed: {{ $workflow.name }}","options":{}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[1200,256],"id":"dc68a984-d1ce-486d-8271-be8564f341f0","name":"Workflow Completed","webhookId":"ca20c902-d9f2-42e0-903e-8403d43611f1","credentials":{"discordWebhookApi":{"id":"hXnySa96N3aNgiBT","name":"Janus Errors Webhook"}}},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[992,256],"id":"293a808c-bab7-4573-89d7-b72a81b0b105","name":"Merge"},{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"30 7 * * 2-5"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-800,-48],"id":"e9f197a7-6143-4c58-9057-54ae650a8a23","name":"7:30AM T-F"},{"parameters":{"operation":"executeQuery","query":"select symbol from ticker_buys where trade_date = '{{ $json.yesterday }}';\n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-336,-48],"id":"3321daf7-ea07-4d19-8d91-25c055f6e694","name":"Get Yesterday's Positions","credentials":{"postgres":{"id":"MI553DLfDKBYBMXy","name":"Postgres account"}}}],"connections":{"Dates":{"main":[[{"node":"Get Yesterday's Positions","type":"main","index":0}]]},"Finnhub - News Articles":{"main":[[{"node":"Sort Desc","type":"main","index":0}]]},"Sort Desc":{"main":[[{"node":"Insert Any New Articles","type":"main","index":0}]]},"Insert Any New Articles":{"main":[[{"node":"Select Articles with Null Summary","type":"main","index":0}]]},"Select Articles with Null Summary":{"main":[[{"node":"Limit","type":"main","index":0}]]},"Strip Tags and CSS":{"main":[[{"node":"Summarize Article into JSON","type":"main","index":0}]]},"Ollama Chat Model":{"ai_languageModel":[[{"node":"Summarize Article into JSON","type":"ai_languageModel","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Summarize Article into JSON","type":"ai_outputParser","index":0}]]},"Summarize Article into JSON":{"main":[[{"node":"Update Summary","type":"main","index":0}]]},"Limit":{"main":[[{"node":"GET ScrapeOwl","type":"main","index":0}]]},"Status Code 200":{"main":[[{"node":"Strip Tags and CSS","type":"main","index":0}],[{"node":"Summary - No Summary","type":"main","index":0}]]},"POST ScrapeOwl":{"main":[[{"node":"Status Code 200","type":"main","index":0}],[{"node":"POST ScrapeOwl with Premium Proxies","type":"main","index":0}]]},"GET ScrapeOwl":{"main":[[{"node":"Strip Tags and CSS","type":"main","index":0}],[{"node":"POST ScrapeOwl with Premium Proxies","type":"main","index":0},{"node":"POST ScrapeOwl","type":"main","index":0}]]},"POST ScrapeOwl with Premium Proxies":{"main":[[{"node":"Status Code 200","type":"main","index":0}],[{"node":"Summary - No Summary","type":"main","index":0}]]},"Ollama Chat Model1":{"ai_languageModel":[[{"node":"Structured Output Parser","type":"ai_languageModel","index":0}]]},"Error Trigger":{"main":[[{"node":"Discord1","type":"main","index":0}]]},"Update Summary":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Workflow Completed","type":"main","index":0}]]},"Summary - No Summary":{"main":[[{"node":"Merge","type":"main","index":1}]]},"7:30AM T-F":{"main":[[{"node":"Dates","type":"main","index":0},{"node":"Workflow Started","type":"main","index":0}]]},"Get Yesterday's Positions":{"main":[[{"node":"Finnhub - News Articles","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:9:55 AM":{"recurrenceRules":[]},"node:7:30AM T-F":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"caeda04a-2001-40b8-b6c5-6a41dc82a404","triggerCount":1,"tags":[{"createdAt":"2025-09-04T15:23:38.975Z","updatedAt":"2025-09-04T15:23:38.975Z","id":"yQaAGmyd3yVCL790","name":"janus"}],"shared":[{"createdAt":"2025-09-16T13:57:21.491Z","updatedAt":"2025-09-16T13:57:21.491Z","role":"workflow:owner","workflowId":"zpCWuJNJ8bxIzpig","projectId":"33RSXH6V1FUTQaMQ","project":{"createdAt":"2025-08-29T14:57:46.722Z","updatedAt":"2025-08-29T15:00:17.904Z","id":"33RSXH6V1FUTQaMQ","name":"Scott Murray <scomurr@scomurr.com>","type":"personal","icon":null,"description":null}}]}]