n8n-workflows/04 - decision/04b_-_Update_Conviction_Scores__AI_.json
[{"createdAt":"2025-09-09T02:00:12.436Z","updatedAt":"2025-09-19T18:31:16.000Z","id":"yzEftYurQxKldLHD","name":"04b - Update Conviction Scores (AI)","active":true,"isArchived":false,"nodes":[{"parameters":{"operation":"executeQuery","query":"insert into ticker_buys (symbol, conviction, last_updated, trade_date, thesis)\nvalues (\n  '{{ $json.output.symbol }}',\n  '{{ $json.output.newScore }}',\n  CURRENT_TIMESTAMP,\n  '{{ $json.today }}',\n  '{{ $json.thesis }}'\n)\nON CONFLICT (symbol, trade_date) DO UPDATE\nSET\n  conviction = EXCLUDED.conviction,\n  last_updated = CURRENT_TIMESTAMP,\n  trade_date = '{{ $json.today }}',\n  thesis = '{{ $json.thesis }}'","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[2032,224],"id":"59446517-a2e6-4a1b-8572-8ba6ad9f2852","name":"Update Conviction Scores","credentials":{"postgres":{"id":"MI553DLfDKBYBMXy","name":"Postgres account"}}},{"parameters":{"assignments":{"assignments":[{"id":"50a623a5-105d-4ad2-9f17-159b75782bb6","name":"today","value":"={{ $today.toFormat('yyyy-MM-dd') }}","type":"string"},{"id":"63de0514-822c-4813-b4ba-eb07b4d993a7","name":"sessionId","value":"=1234567890","type":"string"},{"id":"56f1477c-cce7-45e7-907e-19649c50bba1","name":"monday","value":"={{ $today.startOf('week').toFormat('yyyy-MM-dd') }}","type":"string"},{"id":"f99d9266-20be-4760-9927-f73ccf98428b","name":"yesterday","value":"={{ $today.minus({ days: 1 }).toFormat('yyyy-MM-dd') }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-256,0],"id":"6240f6b3-d996-4492-b8fb-7680d520e43c","name":"Set Date"},{"parameters":{"model":"mistral:7b","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOllama","typeVersion":1,"position":[1088,560],"id":"0c7d33a4-6fa6-4826-9fbf-e5cc1abbc9a3","name":"Ollama Chat Model","credentials":{"ollamaApi":{"id":"4K9PdbSii5iKOqMf","name":"Ollama account"}}},{"parameters":{"jsonSchemaExample":"{\n  \"symbol\": \"symbol/ticker\",\n  \"oldScore\": 1,\n  \"newScore\": 1,\n  \"reason\": \"string\"\n}","autoFix":true},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[1216,560],"id":"dec7edde-0e9f-4f0b-b1f0-e5c2b00bb9c9","name":"Structured Output Parser"},{"parameters":{"model":"mistral:7b","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOllama","typeVersion":1,"position":[1296,768],"id":"b64a36b3-3690-44e1-805b-5b01ba3d1f9f","name":"Ollama Chat Model1","credentials":{"ollamaApi":{"id":"4K9PdbSii5iKOqMf","name":"Ollama account"}}},{"parameters":{"operation":"executeQuery","query":"INSERT INTO ticker_buys (symbol, conviction, last_updated, thesis, created_at, trade_date)\nSELECT\n    symbol,\n    conviction,\n    NOW() AS last_updated,\n    thesis,\n    NOW() AS created_at,\n    '{{ $json.today }}'::date AS trade_date\nFROM ticker_buys\nWHERE trade_date = '{{ $json.yesterday }}'\nON CONFLICT DO NOTHING;\n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-32,-176],"id":"c2972c1a-211e-4605-9cb8-2e6d09114d4c","name":"Copy Yesterday's Scores","credentials":{"postgres":{"id":"MI553DLfDKBYBMXy","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"select * from ticker_buys where trade_date = '{{ $json.monday }}'","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-32,496],"id":"e1dd3606-d069-4187-ba73-f59cb256463e","name":"Get Monday's Tickers","credentials":{"postgres":{"id":"MI553DLfDKBYBMXy","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"select * from company_news where date='{{ $('Set Date').item.json.today }}' and symbol = '{{ $json.symbol }}' and sentiment is not null;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[192,496],"id":"9ea9cbba-0508-452c-a7e5-a665c7dbe492","name":"Get News and Sentiment","alwaysOutputData":true,"credentials":{"postgres":{"id":"MI553DLfDKBYBMXy","name":"Postgres account"}}},{"parameters":{"promptType":"define","text":"=Ticker Symbol: {{ $('Grouping').item.json.symbol }}\nToday's Date: {{ $('Grouping').item.json.news[0].date }}\nToday's News:\n{{ JSON.stringify($('Grouping').item.json.news) }}\n\nCurrent Conviction Score Integer: {{ $json.conviction }}\nConviction score range: 0 to 5 (0 means sell, 1 is buy a little, 5 is buy the most)\nConviction scores between 1 and 5 are a distribution of points used to determine how much a ticker is purchased. Conviction score of 0 means news is worthy of an immediate sell based on news that warrants downgrade from its current conviction score to 0.\n\nBased on current conviction score, the associated news and its sentiment, should the conviction score be adjusted? If so, what should its new value be and why?\n\nOutput nothing other than the expected JSON. NO exceptions.\n","hasOutputParser":true,"batching":{"batchSize":1}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[1120,336],"id":"951023ad-b06c-45d2-87d8-d030f7a5e1b4","name":"Basic LLM Chain - Adjust Score","retryOnFail":true,"onError":"continueErrorOutput"},{"parameters":{"operation":"executeQuery","query":"select symbol, conviction, '{{ $json.date }}' as date from ticker_buys where symbol = '{{ $json.symbol }}' and trade_date = '{{ $today.minus({ days: 1 }).toFormat('yyyy-MM-dd') }}'","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[864,336],"id":"ad6b8ea0-64f9-42d4-9c5c-9c11c9ba793c","name":"Yesterday's Conviction Score","credentials":{"postgres":{"id":"MI553DLfDKBYBMXy","name":"Postgres account"}}},{"parameters":{"mode":"combine","combineBy":"combineAll","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1584,224],"id":"bc4f3102-092d-4b0d-b19d-0cfc45aaa900","name":"Merge"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const cleanThesis = $json.output.reason?.replace(/'/g, \"''\") || null;\n\nreturn {\n  json: {\n    ...$json,\n    thesis: cleanThesis\n  }\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1808,224],"id":"27a510ca-1f45-4e05-8594-fa9b3854e46e","name":"Sanitze Strings"},{"parameters":{"jsCode":"const grouped = {};\n\nfor (const item of items) {\n  const symbol = item.json.symbol;\n  if (!grouped[symbol]) {\n    grouped[symbol] = [];\n  }\n  grouped[symbol].push(item.json);\n}\n\nreturn Object.entries(grouped).map(([symbol, group]) => ({\n  json: {\n    symbol,\n    date: $('Set Date').first().json.today,\n    news: group\n  }\n}));\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[640,336],"id":"3f7904d5-11a0-48fe-863e-d4b271106608","name":"Grouping"},{"parameters":{},"type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[1168,-32],"id":"2d07de26-c8d4-4faa-a061-26dedb1c866e","name":"Error Trigger"},{"parameters":{"authentication":"webhook","content":"=Error:  {{ $json.execution.error.message }}\nWorkflow: {{ $workflow.name }}\nCheck N8N","options":{}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[1392,-32],"id":"771d99c7-dee8-4b41-9010-72fca9ec3712","name":"Discord1","webhookId":"ca20c902-d9f2-42e0-903e-8403d43611f1","credentials":{"discordWebhookApi":{"id":"hXnySa96N3aNgiBT","name":"Janus Errors Webhook"}}},{"parameters":{"authentication":"webhook","content":"=Workflow Started: {{ $workflow.name }}","options":{}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[-256,-192],"id":"7eaee797-15ee-45e8-a129-62570307e9b4","name":"Workflow Started","webhookId":"ca20c902-d9f2-42e0-903e-8403d43611f1","credentials":{"discordWebhookApi":{"id":"hXnySa96N3aNgiBT","name":"Janus Errors Webhook"}}},{"parameters":{"authentication":"webhook","content":"=Workflow Completed: {{ $workflow.name }}","options":{}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[2256,224],"id":"4cb5dc1c-110c-4a9c-a15d-c75d5082930a","name":"Workflow Completed","webhookId":"ca20c902-d9f2-42e0-903e-8403d43611f1","credentials":{"discordWebhookApi":{"id":"hXnySa96N3aNgiBT","name":"Janus Errors Webhook"}}},{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"45 7 * * 2-5"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-480,-128],"id":"8d6caa3e-e858-4765-95b8-10a5e2e43f61","name":"Schedule Trigger"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"41af41e4-d866-4f8b-b955-3889daebf423","leftValue":"={{ $items()[0].json && Object.keys($items()[0].json).length > 0 }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[416,496],"id":"8da54aab-3bb3-4d86-aece-aceab3f7815e","name":"If"},{"parameters":{"authentication":"webhook","content":"=Workflow Completed: {{ $workflow.name }}\nNo News Today","options":{}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[640,528],"id":"f965fc1a-1d24-450b-b236-0375783eebe6","name":"Workflow Completed1","webhookId":"ca20c902-d9f2-42e0-903e-8403d43611f1","credentials":{"discordWebhookApi":{"id":"hXnySa96N3aNgiBT","name":"Janus Errors Webhook"}}}],"connections":{"Set Date":{"main":[[{"node":"Get Monday's Tickers","type":"main","index":0},{"node":"Copy Yesterday's Scores","type":"main","index":0},{"node":"Merge","type":"main","index":1}]]},"Ollama Chat Model":{"ai_languageModel":[[{"node":"Basic LLM Chain - Adjust Score","type":"ai_languageModel","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Basic LLM Chain - Adjust Score","type":"ai_outputParser","index":0}]]},"Ollama Chat Model1":{"ai_languageModel":[[{"node":"Structured Output Parser","type":"ai_languageModel","index":0}]]},"Get Monday's Tickers":{"main":[[{"node":"Get News and Sentiment","type":"main","index":0}]]},"Get News and Sentiment":{"main":[[{"node":"If","type":"main","index":0}]]},"Basic LLM Chain - Adjust Score":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Yesterday's Conviction Score":{"main":[[{"node":"Basic LLM Chain - Adjust Score","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Sanitze Strings","type":"main","index":0}]]},"Sanitze Strings":{"main":[[{"node":"Update Conviction Scores","type":"main","index":0}]]},"Grouping":{"main":[[{"node":"Yesterday's Conviction Score","type":"main","index":0}]]},"Error Trigger":{"main":[[{"node":"Discord1","type":"main","index":0}]]},"Update Conviction Scores":{"main":[[{"node":"Workflow Completed","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Set Date","type":"main","index":0},{"node":"Workflow Started","type":"main","index":0}]]},"If":{"main":[[{"node":"Grouping","type":"main","index":0}],[{"node":"Workflow Completed1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"5c4ec90f-1ebb-4425-8d13-ed2f6ed34b2a","triggerCount":1,"tags":[{"createdAt":"2025-09-04T15:23:38.975Z","updatedAt":"2025-09-04T15:23:38.975Z","id":"yQaAGmyd3yVCL790","name":"janus"}],"shared":[{"createdAt":"2025-09-09T02:00:12.441Z","updatedAt":"2025-09-09T02:00:12.441Z","role":"workflow:owner","workflowId":"yzEftYurQxKldLHD","projectId":"33RSXH6V1FUTQaMQ","project":{"createdAt":"2025-08-29T14:57:46.722Z","updatedAt":"2025-08-29T15:00:17.904Z","id":"33RSXH6V1FUTQaMQ","name":"Scott Murray <scomurr@scomurr.com>","type":"personal","icon":null,"description":null}}]}]